<?php include $this->admin_tpl('meta', 'admin');?>
<title>门店管理 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 模块管理 <span class="c-gray en">&gt;</span> 门店管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
  <div class="cl tb-top"> 
	  <span class="l">
	  <a class="btn btn-primary radius" onclick="yzm_open('添加门店','<?php echo U('add');?>','600','800')" href="javascript:;"><i class="yzm-iconfont yzm-icontianjia"></i> 添加门店</a>
	  <a href="javascript:;" onclick="yzm_dels('id')" class="btn btn-danger radius"><i class="yzm-iconfont yzm-iconshanchu2"></i> 批量删除</a>  
	  </span> 
	  <span class="r">共有数据：<strong><?php echo $total?></strong> 条</span> 
  </div>
  <form method="post" action="<?php echo U('del');?>" id="myform">
  <table class="table table-border table-bg table-hover table-sort">
    <thead>
      <tr class="text-c">
		<th width="25"><input type="checkbox"></th>
		<th>门店名称</th>
		<th>联系方式</th>
		<th>地址</th>
		<th>描述</th>
		<th>添加时间</th>
		<th>排序</th>
		<th>管理操作</th>
      </tr>
    </thead>
    <tbody>
		<?php 
		foreach($data as $val){
		?>
		  <tr class="text-c">
			<td><input type="checkbox" value="<?php echo $val['id']?>" name="id[]"></td>
			<td><?php echo $val['store_name']?></td>
      <td><?php echo $val['phone']?></td>
      <td><?php echo $val['address']?></td>
      <td><?php echo $val['keyword']?></td>
			<td><?php echo date('Y-m-d H:i:s', $val['updatetime'])?></td>
			<td><?php echo $val['sort']?></td>
			<td>
				<a title="编辑门店" href="javascript:;" onclick="yzm_open('编辑门店','<?php echo U('edit', array('id'=>$val['id']));?>','600','800')" class="yzm-box-img btn-primary"><i class="yzm-iconfont yzm-iconbianji1"></i> 编辑</a> 
				<!-- <a title="复制标签" href="javascript:;" onclick="yzm_copy('{adver(<?php echo $val['id']?>)}')" class="yzm-box-img btn-success"><i class="yzm-iconfont yzm-iconfuzhi"></i> 复制</a> -->
			</td>
		  </tr>		
		<?php 
		}
		?>
    </tbody>
  </table>
  <?php if(!$data){ ?><div class="yzm_no_data"><i class="yzm-iconfont yzm-iconshuoming"></i> 暂无数据</div><?php } ?>
  </form>
  <div id="page"><span class="page_left">共<?php echo $total?>条记录，共<?php echo $page->total()?>页，当前显示第<?php echo $page->getpage()?>页</span>
  <span class="page_right"><?php echo $page->getfull();?></span></div>
</div>
<input id="copytext" type="text" style="width:1px;height:1px;opacity:0">
<?php include $this->admin_tpl('footer', 'admin');?>
<script type="text/javascript">
	// function yzm_copy(val) {
	// 	$("#copytext").val(val).select();
 //        try { var state = document.execCommand("copy"); } catch (err) { var state = false; }
 //        if (state) {
 //            layer.msg('复制成功！', {icon:1,time:1000});
 //        } else {
 //            layer.msg('复制失败，请更换浏览器重试！', {icon:2});
 //        }
	// }
</script>
</body>
</html>