<?php include $this->admin_tpl('meta', 'admin');?>
<title>添加广告 - YzmCMS内容管理系统</title>
</head>
<body>
<script src="//api.map.baidu.com/api?type=webgl&v=1.0&ak=WHsHyKQyliXWOpzZRKzUNnvyjxrk6X4n"></script>
<article class="page-container">
<div class="formdoby_normal"> 
	<form method="post" onsubmit="return dosub(this)">
		<ul>
			 <li><label><span class="c-red">*</span>省份</label>
			 	<select id="sheng" name="province" style="width:150px">
                    <option value="">省份</option>
                                            <option value="1">北京市</option>
                                                <option value="2">天津市</option>
                                                <option value="3">河北省</option>
                                                <option value="4">山西省</option>
                                                <option value="5">内蒙古自治区</option>
                                                <option value="6">辽宁省</option>
                                                <option value="7">吉林省</option>
                                                <option value="8">黑龙江省</option>
                                                <option value="9">上海市</option>
                                                <option value="10">江苏省</option>
                                                <option value="11">浙江省</option>
                                                <option value="12">安徽省</option>
                                                <option value="13">福建省</option>
                                                <option value="14">江西省</option>
                                                <option value="15">山东省</option>
                                                <option value="16">河南省</option>
                                                <option value="17">湖北省</option>
                                                <option value="18">湖南省</option>
                                                <option value="19">广东省</option>
                                                <option value="20">广西壮族自治区</option>
                                                <option value="21">海南省</option>
                                                <option value="22">重庆市</option>
                                                <option value="23">四川省</option>
                                                <option value="24">贵州省</option>
                                                <option value="25">云南省</option>
                                                <option value="26">西藏自治区</option>
                                                <option value="27">陕西省</option>
                                                <option value="28">甘肃省</option>
                                                <option value="29">青海省</option>
                                                <option value="30">宁夏回族自治区</option>
                                                <option value="31">新疆维吾尔自治区</option>
                                                <option value="32">台湾省</option>
                                                <option value="33">香港特别行政区</option>
                                                <option value="34">澳门特别行政区</option>
                                        </select>
			 </li>
			  <li><label><span class="c-red">*</span>城市</label>
			 	<select id="shi" name="city" style="width:150px">
                    <option id="fist" value="">城市</option>
                </select>
			 </li>
			 <li><label><span class="c-red">*</span>门店名称</label>
			 	<input type="text" placeholder="门店名称" class="input" name="store_name" value="">
			 </li>
			 <li><label><span class="c-red">*</span>门店地址</label>
			 	<input type="text" placeholder="门店地址" class="input" name="address" id="address" value="" >
			 	<a onclick="getpo($('#address').val())" style="background-color: #4CAF50;border: none;color: white;padding: 3px 10px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;margin: 4px 2px;cursor: pointer;">获取坐标</a>
			 </li>
			  <li><label><!-- <span class="c-red">*</span> -->联系方式</label>
			 	<input type="text" placeholder="联系方式" class="input" name="phone" value="" >
			 </li>
			  <li><label>排序</label>
			 	<input type="text" placeholder="排序" class="input" name="sort" value="" >
			 </li>
<!-- 			 <li><label><span class="c-red">*</span>广告类型</label>
			 <span class="span_input">
			 	<label class="label_radio"><input name="type" type="radio" value="1" checked> 文字形式</label>
			 	<label class="label_radio"><input name="type" type="radio" value="2"> HTML代码</label>
			 	<label class="label_radio"><input name="type" type="radio" value="3"> 图片形式</label>
			 </span>
			 </li> 
			 <li id="adver_text"><label><span class="c-red">*</span>广告值</label>
			 	<textarea name="text" class="textarea" style="width:400px"></textarea>
			 </li>
			 <li id="adver_img" style="display:none"><label><span class="c-red">*</span>选择图像</label>
			 	<?php echo form::image('img');?>
			 </li>
			 <li class="yzm-explain-box"><label>开始时间</label>
			 	<input type="text" class="input-text laydate-icon" id="start" style="width:230px;height:30px;" name="start_time" value=""> 
			 	<span class="yzm-explain">留空为不限制</span>
			 </li>
			 <li class="yzm-explain-box"><label>结束时间</label>
			 	<input type="text" class="input-text laydate-icon" id="end" style="width:230px;height:30px;" name="end_time" value="">
			 	<span class="yzm-explain">留空为不限制</span>
			 </li>-->
			 <li><label>简洁描述</label>
			 	<span class="span_input"><input type="text" class="input" name="keyword" value="" style="width:500px"></span>
			 </li>
			  <li><label>地图坐标</label>
			 	<span class="span_input"><input type="text" class="input" id="coordinate" name="coordinate" value="" style="width:500px"></span>
			 </li>
             <div id="container" style="width:520px;height:500px;"></div>
		</ul>
		<div class="footer_btn">
			<input type="hidden" name="dosubmit" value="1">
			<input class="btn btn-primary radius" type="submit" value="提 交">
			<input class="btn btn-default radius" type="button" value="取 消" onclick="yzmcms_close()">	
		</div>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer', 'admin');?>
<script type="text/javascript" src="<?php echo STATIC_URL;?>plugin/laydate/1.1/laydate.js"></script>
<script type="text/javascript">
    // 百度地图API功能
	var map = new BMapGL.Map("container");          
	map.centerAndZoom(new BMapGL.Point(116.404, 39.915), 11);
	map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    var scaleCtrl = new BMapGL.ScaleControl();  // 添加比例尺控件
    map.addControl(scaleCtrl);
    var zoomCtrl = new BMapGL.ZoomControl();  // 添加缩放控件
    map.addControl(zoomCtrl);
	var local = new BMapGL.LocalSearch(map, {
		renderOptions:{map: map}
	});
	local.search("冠牛");

			// 将地址解析结果显示在地图上,并调整地图视野
			function getpo(str){
				var myGeo = new BMapGL.Geocoder();
				myGeo.getPoint(str, function(point){
					if (point) {
						showpo(point);
					}else{
						alert("您选择地址没有解析到结果!");
					}
				}, "北京市");
			}
			function showpo(point){
				map.clearOverlays(); 
				$('#coordinate').val(point.lng+","+point.lat);
				map.centerAndZoom(point, 20);
				marker=new BMapGL.Marker(point);
				map.addOverlay(marker);
				marker.enableDragging();//可拖动
				marker.addEventListener("dragend",getAttr);
				function getAttr(){
					var p = marker.getPosition();       //获取marker的位置
					$('#coordinate').val(p.lng+","+p.lat); 
				}
			}
	$(function(){
		$('input:radio[name="type"]').change(function(){  
			if($(this).val()=='3') {
				$('#adver_img').css('display','');
				$('#adver_text').css('display','none');
			}else{
				$('#adver_img').css('display','none');
				$('#adver_text').css('display','');
			}
		}); 

		 //选择省份
        $("#sheng").change(function(){
            sheng=$(this).val();
            // if (sheng!=''){
            //     listcity('',$('#sheng option:selected').text(),'');
            // }else{
            //     listcity(cy,'','');
            // }
            $.ajax({
                url:'../../api/index/getshi',
                type:'POST',
                dataType:'json',
                data:{'sheng':sheng},
                success:function(data){
                    $("#shi").find("#fist").nextAll().remove();
                    for(var i in data){
                        $("#shi").append(data[i]);
                    }
                }
            });
        });
        // //选择城市
        // $('#shi').change(function(){
        //     if ($('#shi').val()!=''){
        //         listcity('','',$('#shi option:selected').text());
        //     }else{
        //         listcity('',$('#sheng option:selected').text(),'');
        //     }
        // })
	});

	function dosub(obj){
		 if(obj.province.value==''){
			 layer.msg('省份不能为空！');
			 return false;
		 }
		 if(obj.city.value==''){
			 layer.msg('城市不能为空！');
			 return false;
		 }
		 if(obj.address.value==''){
			 layer.msg('门店地址不能为空！');
			 return false;
		 }
		 if(obj.store_name.value==''){
			 layer.msg('门店名称不能为空！');
			 return false;
		 }
		 // if(obj.phone.value==''){
			//  layer.msg('联系方式不能为空！');
			//  return false;
		 // }
		 // if($("input[name='type']:checked").val()=='3'){
			//  if(obj.img.value==''){
			// 	 layer.msg('图像地址不能为空！');
			// 	 return false;
			//  }
		 // }else{
			//  if(obj.text.value==''){
			// 	 layer.msg('广告值不能为空！');
			// 	 return false;
			//  }
		 // }
		 
        $.ajax({
            type: 'POST',
            url: '<?php echo U('add');?>', 
            data: $(obj).serialize(),
		    dataType: "json", 
            success: function (msg) {
				if(msg.status == 1){
					layer.msg(msg.message, {icon:1, time:800}, function(){
						parent.location.reload();
					});
			    }else{
					layer.msg(msg.message, {icon:2});
				}
            }
        })		 
		return false;			 
	}
	
	
	var start = {
		elem: '#start',
		format: 'YYYY-MM-DD', 
		istime: false,
		istoday: false,
		choose: function(datas){
			 end.min = datas; 
			 end.start = datas 
		}
	};

	var end = {
		elem: '#end',
		format: 'YYYY-MM-DD',
		istime: false,
		istoday: false,
		choose: function(datas){
			start.max = datas; 
		}
	};
	laydate(start);
	laydate(end);
</script> 

</body>
</html>