		<div class="yzm-back">
			<a href="#top"><img src="{STATIC_URL}images/yzm-back-top.png" alt="返回顶部" title="返回顶部"></a>
		</div>
		<!--底部导航-->
		<div class="yzm-footer-nav">
			<ul>
				<li><a href="{U('guestbook/index/init')}">留言板</a></li>
				{loop $nav_data $v}
				<li>
					<a href="{if $v['type']!=2}{U('mobile/index/lists', array('catid'=>$v['catid']))}{else}{$v[pclink]}{/if}">{$v[mobname]}</a>
				</li>
				{/loop}				 
			</ul>	 
		</div>
		<!--网站底部-->
		<footer class="yzm-footer">
		   <a href="{SITE_URL}index.php?m=mobile">手机版</a> | <a href="{SITE_URL}">电脑版</a> {$site[site_code]}
		  <p>{$site[site_copyright]}</p>
		  <p>Powered by <a href="http://www.yzmcms.com" target="_blank">YzmCMS</a> © 2014-2023</p>
		  <!-- 为了支持YzmCMS的发展,请您保留YzmCMS内容管理系统的链接信息,谢谢! -->	
		</footer>
    </div>
  </body>
</html>