{m:include "member","header"} 
<div class="yzm_member_container main">
{m:include "member","left"} 
  <div class="main_right">
	<div class="tit"><h3>未通过的稿件</h3></div>
	<div class="main_cont">
		<table class="tablelist">
			<thead>
			<tr>
			<th width="40%">内容标题</th>
			<th width="20%">所属栏目</th>
			<th width="19%">更新时间</th>
			<th width="8%">状态</th>
			<th width="13%">操作</th>
			</tr>
			</thead>
			<tbody>
			{loop $data $val}		
			<tr>
			<td><a href="{U('edit_through',array('catid'=>$val['catid'],'id'=>$val['id']))}">{str_cut($val['title'], 65)}</a></td>
			<td>{get_catname($val['catid'])}</td>
			<td>{date('Y-m-d H:i:s',$val['updatetime'])}</td>
			<td>{if $val['status']==2}<span style="color:red;">退稿</span>{else}<span style="color:#1d94c7;">未审核</span>{/if}</td>
			<td>
			<a href="{U('edit_through',array('catid'=>$val['catid'],'id'=>$val['id']))}" class="yzm-xs-btn">编辑</a>
			<a onclick="return confirm('确定要删除吗？')" href="{U('del',array('catid'=>$val['catid'],'id'=>$val['id']))}" class="yzm-xs-btn yzm-btn-danger">删除</a>
			</td>
			</tr> 
			{/loop}		
			</tbody>
		</table>
		<div id="page">{$pages}</div>			  
	</div>
  </div>		  
</div>
{m:include "member","footer"} 