{m:include "member","header"}
<div class="yzm_member_container main">
    {m:include "member","left"}
    <div class="main_right">
        <div class="tit">
            <h3>已通过的稿件</h3>
        </div>
        <div class="main_cont">
            <div class="explain explain-error light">
                <p><span class="yzm-iconfont yzm-iconshuoming"></span> 已通过的稿件不支持删除.</p>
            </div>
            <table class="tablelist mt-10">
                <thead>
                    <tr>
                        <th width="45%">内容标题</th>
                        <th width="20%">所属栏目</th>
                        <th width="19%">更新时间</th>
                        <th width="8%">状态</th>
                        <th width="8%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    {loop $data $val}
                    <tr>
                        <td><a href="{$val['url']}" target="_blank">{str_cut($val['title'], 60)}</a></td>
                        <td>{get_catname($val['catid'])}</td>
                        <td>{date('Y-m-d H:i:s',$val['updatetime'])}</td>
                        <td><span class="yzm-iconfont yzm-icontongguo green" title="已通过"></span></td>
                        <td><a href="{U('edit_through',array('catid'=>$val['catid'],'id'=>$val['id']))}" class="yzm-xs-btn">编辑</a></td>
                    </tr>
                    {/loop}
                </tbody>
            </table>
            <div id="page">{$pages}</div>
        </div>
    </div>
</div>
{m:include "member","footer"}