<?php include $this->admin_tpl('meta', 'admin');?>
<title>自定义表单数据管理 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 模块管理 <span class="c-gray en">&gt;</span> 自定义表单 <span class="c-gray en">&gt;</span> 信息列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
  <div class="cl tb-top"> 
	  <span class="l">  
	  <a href="javascript:;" onclick="yzm_dels('id')" class="btn btn-danger radius"><i class="yzm-iconfont yzm-iconshanchu2"></i> 批量删除</a>  
	  <a class="btn btn-success radius" href="<?php echo U('diyform/init');?>"><i class="yzm-iconfont yzm-iconjiantou_xiangzuo"></i> 表单管理</a>
	  </span> 
	  <span class="r">共有数据：<strong><?php echo $total?></strong> 条</span> 
  </div>
  <form method="post" action="<?php echo U('del');?>" id="myform">
  <input type="hidden" name="modelid" value="<?php echo $modelid;?>">
  <table class="table table-border table-bg table-hover table-sort">
    <thead>
      <tr class="text-c">
		<th width="25"><input type="checkbox"></th>
		<th>ID</th>
		<th>用户名</th>
		<th>用户IP</th>
		<th>时间</th>
		<th>管理操作</th>
      </tr>
    </thead>
    <tbody>
		<?php 
		foreach($data as $val){
		?>
		  <tr class="text-c">
			<td><input type="checkbox" value="<?php echo $val['id']?>" name="id[]"></td>
			<td><?php echo $val['id'];?></td>
			<td><?php echo $val['username'] ? $val['username'] : '<span class="c-red">无</span>';?></td>
			<td><?php echo $val['ip']; ?></td>
			<td><?php echo date('Y-m-d H:i:s',$val['inputtime'])?></td>
			<td>
			<a href="javascript:;" onclick="yzm_open('查看详细','<?php echo U('view', array('modelid'=>$modelid,'id'=>$val['id']));?>')"  class="btn-mini btn-primary ml-5"  style="text-decoration:none">查看详细</a>
			</td>
		  </tr>		
		<?php 
		}
		?>
    </tbody>
  </table>
  <?php if(!$data){ ?><div class="yzm_no_data"><i class="yzm-iconfont yzm-iconshuoming"></i> 暂无数据</div><?php } ?>
  </form>
  <div id="page"><span class="page_left">共<?php echo $total?>条记录，共<?php echo $page->total()?>页，当前显示第<?php echo $page->getpage()?>页</span>
  <span class="page_right"><?php echo $page->getfull();?></span></div>
</div>
<?php include $this->admin_tpl('footer', 'admin');?>
</body>
</html>