<?php include $this->admin_tpl('meta');?>
<title>管理员列表 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
	<div class="cl tb-top"> <span class="l"><a href="javascript:;" onclick="yzm_open('添加管理员','<?php echo U('add');?>','600','420')" class="btn btn-primary radius"><i class="yzm-iconfont yzm-icontianjia"></i> 添加管理员</a></span></div>
	<table class="table table-border table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th>ID</th>
				<th>用户名</th>
				<th>真实姓名</th>
				<th>邮箱</th>
				<th>角色</th>
				<th>添加时间</th>
				<th>最后登录时间</th>
				<th>最后登录IP</th>
				<th>添加人</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			   foreach($data as $val){
			 ?>
			<tr class="text-c">
				<td><?php echo $val['adminid'];?></td>
				<td><?php echo $val['adminname'];?></td>
				<td><?php echo $val['realname'] ? $val['realname'] : '暂无';;?></td>
				<td><?php echo $val['email'] ? $val['email'] : '暂无';?></td>
				<td><?php echo $val['rolename'];?></td>
				<td><?php echo date('Y-m-d H:i:s',$val['addtime']);?></td>
				<td><?php echo $val['logintime'] ? date('Y-m-d H:i:s',$val['logintime']) : '从未登录';?></td>
				<td><?php echo $val['loginip'] ? $val['loginip'] : '从未登录';?></td>
				<td><?php echo $val['addpeople'];?></td>
				<td class="td-manage">
					<a title="编辑" href="javascript:;" onclick="yzm_open('管理员编辑','<?php echo U('edit',array('adminid'=>$val['adminid']));?>','600','420')" class="yzm-box-img btn-primary"><i class="yzm-iconfont yzm-iconbianji1"></i> 编辑</a> 
					<a title="删除" href="javascript:;" onclick="yzm_del('<?php echo U('delete',array('adminid'=>$val['adminid']));?>')" class="yzm-box-img btn-danger ml-5"><i class="yzm-iconfont yzm-iconshanchu2"></i> 删除</a>
				</td>
			</tr>
			<?php 
			   }		 
			?>	
		</tbody>
	</table>
	<?php if(!$data){ ?><div class="yzm_no_data"><i class="yzm-iconfont yzm-iconshuoming"></i> 暂无数据</div><?php } ?>
	<div id="page"><span class="page_left">共<?php echo $total?>条记录，共<?php echo $page->total()?>页，当前显示第<?php echo $page->getpage()?>页</span>
	<span class="page_right"><?php echo $page->getfull();?></span></div>
</div>
<?php include $this->admin_tpl('footer');?>
</body>
</html>