<?php include $this->admin_tpl('meta', 'admin');?>
<title>单页内容 - YzmCMS内容管理系统</title>
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_URL;?>plugin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_URL;?>plugin/ueditor/ueditor.all.min.js"> </script>
<script type="text/javascript" charset="utf-8" src="<?php echo STATIC_URL;?>plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 栏目管理 <span class="c-gray en">&gt;</span> 单页内容 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<article class="page-container pad_bot_0">
<div class="formdoby_normal"> 
	<form method="post" onsubmit="return dosub(this)">
		<ul>
			 <li><label><span class="c-red">*</span>单页标题：</label>
			 	<input type="text" class="input" name="title" value="<?php echo $data['title'];?>" placeholder="请输入单页标题">
			 </li>
			 <li><label>单页简介：</label>
			 	<span class="span_input"><textarea name="introduce" class="textarea" style="width:85%" placeholder="可以简单的描述一下这个栏目"><?php echo $data['introduce'];?></textarea></span>
			 </li>			
			 <li><label>单页内容：</label>
			 	<span class="span_input"><?php echo form::editor('content', $data['content']);?></span>
			 </li>			
			 <li>
			 	<input type="hidden" name="catid" value="<?php echo $data['catid'];?>"><input type="hidden" name="dosubmit" value="1">
				<input class="dosubmit w_100 btn-primary radius" name="dosubmit" type="submit" value="提交">
			 	<input class="btn w_100 btn-default radius h35" type="button" value="后退" onclick="window.history.go(-1)">
			 </li>
		</ul>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer', 'admin');?>
<script type="text/javascript">
	function dosub(obj){
		 if(obj.title.value==''){
			 layer.msg('单页标题不能为空！', {icon:2});
			 return false;
		 }			 
	}
</script> 

</body>
</html>