<?php include $this->admin_tpl('meta');?>
<title>屏蔽词设置 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 屏蔽词设置  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
  <form method="post">
		<div>
			<textarea class="textarea" style="width:98%; height:300px; resize:none" name="prohibit_words"><?php echo get_config('prohibit_words');?></textarea>
			<p class="c-error"><i class="yzm-iconfont yzm-iconshuoming"></i> 屏蔽词用于过滤系统评论的非法内容！</p>
		</div>
		<div class="mt-20">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;" name="dosubmit">
			<input class="btn btn-default radius" type="reset" value="&nbsp;&nbsp;重置&nbsp;&nbsp;">
		</div>
  </form>
</div>
</body>
</html>