<?php include $this->admin_tpl('meta');?>
<title>URL规则管理 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> URL规则管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
   <div class="explain light"> 
      <p><span class="yzm-iconfont yzm-iconshuoming"></span>URL规则又称路由映射。它的作用是将自定义路由的URL，指定到目标的url上。 <a href="http://www.yzmcms.com/dongtai/59.html" target="_blank">(<i class="yzm-iconfont yzm-iconbangzhu"></i>查看教程)</a></p>
   </div>
	<div class="cl mt-15 tb-top"> <span class="l"><a href="javascript:;" onclick="yzm_open('添加URL规则','<?php echo U('add');?>','700','450')" class="btn btn-primary radius"><i class="yzm-iconfont yzm-icontianjia"></i> 添加URL规则</a> <a href="javascript:;" onclick="yzm_dels('id')" class="btn btn-danger radius"><i class="yzm-iconfont yzm-iconshanchu2"></i> 批量删除</a></span></div>
	<form method="post" action="<?php echo U('del');?>" id="myform">
	<table class="table table-border table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox"></th>
				<th>名称</th>
				<th>优先级排序</th>
				<th>URL规则</th>	
				<th>指向的路由</th>	
				<th>管理操作</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			   foreach($data as $val){
			 ?>
			<tr class="text-c">
				<td><input type="checkbox" value="<?php echo $val['urlruleid']?>" name="id[]"></td>
				<td><?php echo $val['name'];?></td>
				<td><?php echo $val['listorder'];?></td>
				<td><?php echo $val['urlrule'];?></td>
				<td><?php echo $val['route'];?></td>
				<td>
					<a title="编辑URL规则" href="javascript:;" onclick="yzm_open('编辑URL规则','<?php echo U('edit',array('id'=>$val['urlruleid']));?>','700','450')" class="yzm-box-img btn-primary"><i class="yzm-iconfont yzm-iconbianji1"></i> 编辑</a> 
				</td>
			</tr>
			<?php 
			   }		 
			?>	
		</tbody>
	</table>
	<?php if(!$data){ ?><div class="yzm_no_data"><i class="yzm-iconfont yzm-iconshuoming"></i> 暂无数据</div><?php } ?>
	</form>
  <div id="page"><span class="page_left">共<?php echo $total?>条记录，共<?php echo $page->total()?>页，当前显示第<?php echo $page->getpage()?>页</span>
  <span class="page_right"><?php echo $page->getfull();?></span></div>
</div>
<?php include $this->admin_tpl('footer');?>
</body>
</html>