{m:include "index","header"}
    <!--body部分开始-->
    <div class="container gj-wk">
        <div class="row">
            <div class="col-lg-8 gj-lwk">
                <!--文章列表开始-->
                <div class="g-wk gj-lb">
                    <div class="gnav">
                      {get_location($catid)}
                    </div>
                    <div class="g-body">
                       {m:lists field="title,url,thumb,description,inputtime,click" catid="$catid" limit="10" page="page"}
					   {loop $data $v}
                        <div class="gj_wz gclear">
                            <div class="gj_tp hidden-xs">
                                <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                            </div>
                            <div class="gj_nr">
                                <a href="{$v[url]}">
                                    <h4>{$v[title]}</h4>
                                </a>
                                <p>{str_cut($v['description'], 290)}</p>
                                <div class="gj_sx">
                                    <i class="fa fa-clock-o"> {date('Y-m-d',$v['inputtime'])}</i>
                                    <i class="fa fa-eye"> {$v[click]}</i>
                                </div>
                            </div>
                        </div>
                        {/loop}
                        <!--列表分页开始-->
                        <nav class="gjpage">
                            {$pages}
                        </nav>
                        <!--列表分页结束-->
                    </div>
                </div>
                <!--文章列表结束-->
            </div>
            <div class="col-lg-4 gj-rwk hidden-xs">
               <!--首页_搜索栏开始-->
                <div class="g-wk gjssl hidden-md hidden-xs">
                    <div class="g-bt">
                        <h3><i class="fa fa-search" aria-hidden="true"></i> 站内搜索</h3>
                    </div>
                    <div class="g-body row">
                        <form class="navbar-form navbar-left" method="get" action="{SITE_URL}index.php">
                            <div class="form-group">
                                <input type="hidden" name="m" value="search" />
                                <input type="hidden" name="c" value="index" />
                                <input type="hidden" name="a" value="init" />
                                <input type="hidden" name="modelid" value="1" id="modelid" />
                                <input name="q" type="text" class="form-control" style="width: 270px" placeholder="关键词">
                            </div>
                            <button id="searchbtn" type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
                        </form>
                    </div>
                </div>
                <!--首页_搜索栏结束-->
                <!--首页_博主信息开始-->
                <div class="g-wk gj-bzh hidden-md hidden-sm hidden-xs">
                    <div class="g-bt">
                        <h3><i class="fa fa-address-card" aria-hidden="true"></i> 博主信息</h3>
                    </div>
                    <div class="g-body">
                        <img class="gj-tx" src="{STATIC_URL}images/tx.jpg" alt="">
                        <h4>郭建 <i class="fa fa-vimeo-square" aria-hidden="true"></i></h4>
                        <div class="gj-bzqm" style="text-align:center">
                            <i class="fa fa-quote-left" aria-hidden="true"> </i> YZMCMS-免费好用的开源CMS
                            <i class="fa fa-quote-right" aria-hidden="true"> </i>
                        </div>
                        <div class="gj-bzbtn">
                            <a href="http://www.yzmcms.com"><i class="fa fa-home" aria-hidden="true"></i></a>
                            <a href="http://www.yzmcms.com" target="_blank" rel="external nofollow"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                            <a class="gewm" href="javascript:(0)"><i class="fa fa-weixin" aria-hidden="true"></i><img src="{STATIC_URL}images/ewm.png" width="160" alt="weixin"></a>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=214243830&site=qq&menu=yes" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!--首页_博主信息结束-->
                {m:include "index","gj_list"}
            </div>
        </div>
    </div>
    {m:include "index","footer"}
    <script>
        //数字序号
        function setSN(e) {

            var ul = document.getElementById(e);

            var lis = ul.getElementsByTagName('li');

            for (var i = 0, l = lis.length; i < l; i++) {

                var tHTML = lis[i].innerHTML;

                lis[i].innerHTML = '<span>' + (i + 1) + '</span>' + tHTML;
            }
        }

        setSN('target');
    </script>
</body>

</html>