{m:include "index","header"}
    <!--body部分开始-->
    <div class="container gj-wk">
        <div class="row">
            <div class="col-lg-8 gj-lwk">
                <!--自定义单页开始-->
				<div class="g-wk gj-about">
                <div class="g-bt">
                    <h3><i class="fa fa-user-circle-o" aria-hidden="true"></i> {$title}</h3>
                </div>
                <div class="g-body">
                    {$content}
                </div>
            </div>
                <!--自定义单页结束-->
                <!-- 评论区 开始 -->
            <div class="g-wk gsh-pl">
                <div class="g-bt">
                    <h3>评论区</h3>
                </div>
                <div class="g-body">
                    <div class="comment">
                        <div class="com_form">
                            <form action="{U('comment/index/init')}" method="post" onsubmit="return check_comm(this)">
                                <input type="hidden" name="modelid" value="{$modelid}">
                                <input type="hidden" name="catid" value="{$catid}">
                                <input type="hidden" name="id" value="0">
                                <input type="hidden" name="title" value="{$title}">
                                <input type="hidden" name="url" value="{get_url()}">
                                <textarea class="textarea" id="content" name="content" placeholder="朕有话要说~"></textarea>
                                <p><input type="submit" class="sub_btn" name="dosubmit" value="提交"><span class="emotion">表情</span></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="gpl-bt">
                    {m:comment_list modelid="$modelid" catid="$catid" id="0" limit="20"} 共{count($data)}条评论
                </div>
                <ul>
                    {loop $data $v}
                    <li class="gclear gpl-list">
                        <a href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank"><img class="gpl-tx" src="{if !empty($v['userpic'])}{$v[userpic]}{else}{STATIC_URL}images/touxiang.jpg{/if}" alt=""></a>
                        <div class="gpl-list">
                            <a href="{U('member/myhome/init', array('userid'=>$v['userid']))}" target="_blank">
                                <h4>{$v[username]}</h4>
                            </a>
                            <p>{nl2br($v['content'])}</p>
                            <p><span>{date('Y-m-d H:i:s',$v['inputtime'])}</span><a href="javascript:toreply('{$v[id]}');">回复</a></p>
                            <div id="rep_{$v[id]}" class="none">
                                <form action="{U('comment/index/init')}" method="post" onsubmit="return check_rep(this)">
                                    <input type="hidden" name="modelid" value="{$modelid}">
                                    <input type="hidden" name="catid" value="{$catid}">
                                    <input type="hidden" name="id" value="{$id}">
                                    <input type="hidden" name="title" value="{$title}">
                                    <input type="hidden" name="url" value="{$url}">
                                    <input type="hidden" name="reply" value="{$v[id]}">
                                    <input type="hidden" name="reply_to" value="{$v[username]}">
                                    <textarea name="content" id="content2" class="textarea textarea2" placeholder="朕也想说两句~"></textarea>
                                    <input type="submit" class="sub_btn static" name="dosubmit" value="提交">
                                </form>
                            </div>
                        </div>
                    </li>
                    {/loop} {if empty($data)}
                    <li>认识这么棒的一位博主，你难道不想说点什么吗~</li>{/if}
                </ul>
            </div>
            <!-- 评论区 结束 -->
            </div>
            <div class="col-lg-4 gj-rwk hidden-xs">
               <!--首页_搜索栏开始-->
                <div class="g-wk gjssl hidden-md hidden-xs">
                    <div class="g-bt">
                        <h3><i class="fa fa-search" aria-hidden="true"></i> 站内搜索</h3>
                    </div>
                    <div class="g-body row">
                        <form class="navbar-form navbar-left" method="get" action="{SITE_URL}index.php">
                            <div class="form-group">
                                <input type="hidden" name="m" value="search" />
                                <input type="hidden" name="c" value="index" />
                                <input type="hidden" name="a" value="init" />
                                <input type="hidden" name="modelid" value="1" id="modelid" />
                                <input name="q" type="text" class="form-control" style="width: 270px" placeholder="关键词">
                            </div>
                            <button id="searchbtn" type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
                        </form>
                    </div>
                </div>
                <!--首页_搜索栏结束-->
                <!--首页_博主信息开始-->
                 <div class="g-wk gj-bzh hidden-md hidden-sm hidden-xs">
                    <div class="g-bt">
                        <h3><i class="fa fa-address-card" aria-hidden="true"></i> 博主信息</h3>
                    </div>
                    <div class="g-body">
                        <img class="gj-tx" src="{STATIC_URL}images/tx.jpg" alt="">
                        <h4>郭建 <i class="fa fa-vimeo-square" aria-hidden="true"></i></h4>
                        <div class="gj-bzqm" style="text-align:center">
                            <i class="fa fa-quote-left" aria-hidden="true"> </i> YZMCMS-免费好用的开源CMS
                            <i class="fa fa-quote-right" aria-hidden="true"> </i>
                        </div>
                        <div class="gj-bzbtn">
                            <a href="http://www.yzmcms.com"><i class="fa fa-home" aria-hidden="true"></i></a>
                            <a href="http://www.yzmcms.com" target="_blank" rel="external nofollow"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                            <a class="gewm" href="javascript:(0)"><i class="fa fa-weixin" aria-hidden="true"></i><img src="{STATIC_URL}images/ewm.png" width="160" alt="weixin"></a>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin=214243830&site=qq&menu=yes" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
                <!--首页_博主信息结束-->
                {m:include "index","gj_list"}
            </div>
        </div>
    </div>
    {m:include "index","footer"}
    <script type="text/javascript" src="{STATIC_URL}js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{STATIC_URL}js/js.js"></script>
<script type="text/javascript" src="{STATIC_URL}js/jquery.qqFace.js"></script>
<script type="text/javascript">
    $(function() {
        $('.emotion').qqFace({

            assign: 'content',
            path: '{STATIC_URL}images/face/'

        });
    });
</script>
<script>
    //数字序号
    function setSN(e) {

        var ul = document.getElementById(e);

        var lis = ul.getElementsByTagName('li');

        for (var i = 0, l = lis.length; i < l; i++) {

            var tHTML = lis[i].innerHTML;

            lis[i].innerHTML = '<span>' + (i + 1) + '</span>' + tHTML;
        }
    }

    setSN('target');
</script>
</body>

</html>