    <!--底部内容开始-->
    <footer class="gj-foot">
        <div class="container">
            <div class="row">
                <p>{$site[site_copyright]} | Powered by <a href="http://www.yzmcms.com/" target="_blank">YzmCMS</a></p>
                <p>备案：{$site[site_filing]} 博客基于bootstrap、swiper、GJ-UI组件等</p>
            </div>
        </div>
    </footer>
    <!--底部内容结束-->
    <!--body部分结束-->

    <!--返回顶部开始-->
    <div class="hidden-xs">
        <a class="g-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    </div>
    <!--返回顶部结束-->

    <script src="{STATIC_URL}js/bootstrap.min.js"></script>
    <script src="{STATIC_URL}js/swiper.min.js"></script>
    <script src="{STATIC_URL}js/jquery.toTop.min.js"></script>
    <script>
        $('.dropdown-toggle').attr("href", "javascript:(0)");
    </script>
    <script>
        //返回顶部
        jQuery(function($) {
            $('.g-top').toTop({
                autohide: true,
                offset: 320,
                speed: 500,
                right: 15,
                bottom: 15
            });
        });
    </script>