<!--侧栏_文章归档开始-->
<!--
<div class="g-wk gj-link">
    <div class="g-bt">
        <h3><i class="fa fa-home" aria-hidden="true"></i> 文章归档</h3>
    </div>
    <div class="g-body gd">
        <ul>
           {m:content_archives modelid="1" type="2" limit="12"}
           {loop $data $v}	
            <a href="{U('search/index/archives',array('pubtime'=>$v['inputtime']))}">
                <li>{$v[pubtime]}({$v[total]})</li>
            </a>
            {/loop}
        </ul>

    </div>
</div>
-->
<!--侧栏_文章归档结束-->
<!--侧栏_博主推荐开始-->
<div class="g-wk gj-bztj hidden-xs hidden-md hidden-sm">
    <div class="g-bt">
        <h3><i class="fa fa-file-text" aria-hidden="true"></i> 博主推荐</h3>
    </div>
    <div class="g-body">
       {m:lists field="title,thumb,catid,url,click,inputtime" modelid="1" flag="4" thumb="1" limit="5"}
       {loop $data $k=>$v}
        <div class="glst">
            <a href="{$v[url]}"><img src="{$v[thumb]}" width="110px" alt=""></a>
            <div class="glst-r">
                <a href="{$v[url]}">
                    <h4>{str_cut($v['title'], 86)}</h4>
                </a>
                <span><i class="fa fa-clock-o"> {date('Y-m-d',$v['inputtime'])}</i></span>
                <span><i class="fa fa-eye"> {$v[click]}</i></span>
            </div>
        </div>
        {/loop}
    </div>
</div>
<!--侧栏_博主推荐结束-->
<!--侧栏_热门标签开始-->
<div class="g-wk gj-link">
    <div class="g-bt">
        <h3><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h3>
    </div>
    <div class="g-body tags">
        <ul>
           {m:tag field="id,tag,total" limit="12"}
           {loop $data $v}
            <a href="{tag_url($v['id'])}" target="_blank">
                <li>{$v[tag]}</li>
            </a>
           {/loop}
        </ul>
    </div>
</div>
<!--侧栏_热门标签结束-->
<!--侧栏_博主心情开始-->
<!--
<div class="g-wk gj-djph hidden-xs">
    <div class="g-bt">
        <h3><i class="fa fa-fire" aria-hidden="true"></i> 博主心情</h3>
        <a href="javascript:(0)"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 查看更多</a>
    </div>
    <div class="g-body">
        <ul id="target">
           {m:lists field="title,url" catid="18" limit="8"}
           {loop $data $v}	
           <li><a href="{$v[url]}">{str_cut($v['title'], 63)}</a></li>
           {/loop} 
        </ul>
    </div>
</div>
-->
<!--侧栏_博主心情结束-->