<?php include $this->admin_tpl('meta', 'admin');?>
<title>订单改价 - YzmCMS内容管理系统</title>
</head>
<body>
<article class="page-container">
<div class="formdoby_normal"> 
	<form method="post" onsubmit="return dosub(this)">
		<ul>
			 <li><label>下单用户</label> <?php echo $data['username'];?></li>
			 <li><label>下单时间</label> <?php echo date('Y-m-d H:i:s', $data['addtime']);?></li>
			 <li><label>下单IP</label> <?php echo $data['ip'];?></li>
			 <li><label>支付方式</label> <?php echo $this->paytype[$data['paytype']]?></li>
			 <li><label><span class="c-red">*</span>订单金额</label> <input type="text" class="input" required name="money" value="<?php echo $data['money'];?>" style="width:100px"> 元</li>
			 <li><label>订单详情</label> <?php echo $data['desc'];?></li>
		</ul>
		<div class="footer_btn">
			<input type="hidden" name="dosubmit" value="1">
			<input type="hidden" name="id" value="<?php echo $data['id'];?>">
			<input class="btn btn-primary radius" type="submit" value="提 交">
			<input class="btn btn-default radius" type="button" value="取 消" onclick="yzmcms_close()">	
		</div>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer', 'admin');?>
<script type="text/javascript">

	function dosub(obj){
		 
        $.ajax({
            type: 'POST',
            url: '<?php echo U('change_price');?>', 
            data: $(obj).serialize(),
		    dataType: "json", 
            success: function (msg) {
				if(msg.status == 1){
					layer.msg(msg.message, {icon:1, time:800}, function(){
						parent.location.reload();
					});
			    }else{
					layer.msg(msg.message, {icon:2});
				}
            }
        })		 
		return false;			 
	}
	
</script> 

</body>
</html>