<?php include $this->admin_tpl('meta', 'admin');?>
<title>用户组管理 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 用户组管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
	<div class="cl tb-top"> <span class="l"><a href="javascript:;" onclick="yzm_open('添加组别','<?php echo U('add');?>','660','400')" class="btn btn-primary radius"><i class="yzm-iconfont yzm-icontianjia"></i> 添加组别</a> <a href="javascript:;" onclick="yzm_dels('id')" class="btn btn-danger radius"><i class="yzm-iconfont yzm-iconshanchu2"></i> 批量删除</a></span></div>
	<form method="post" action="<?php echo U('del');?>" id="myform">
	<table class="table table-border table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="25"></th>
				<th>组别ID</th>
				<th>用户组名</th>
				<th>经验小于</th>
				<th>会员组图标</th>
				<th>每日最大投稿量</th>		
				<th>权限</th>		
				<th>管理操作</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			   foreach($data as $val){
			 ?>
			<tr class="text-c">
				<td><input type="checkbox" <?php if($val['is_system'] == '1') echo 'disabled="disabled"';?> value="<?php echo $val['groupid']?>" name="id[]"></td>
				<td><?php echo $val['groupid']?></td>
				<td><?php echo $val['name']?></td>
				<td><?php echo $val['experience']?></td>
				<td><?php echo $val['icon'] ? '<img src="'.STATIC_URL.'images/icon/'.$val['icon'].'" height="18">' : '';?></td>
				<td><?php echo $val['max_amount']?></td>
				<td><?php if(strpos($val['authority'] ,'1') !== false) echo '发信息,';if(strpos($val['authority'] ,'2') !== false) echo '发评论,';if(strpos($val['authority'] ,'3') !== false) echo '发内容,';if(strpos($val['authority'] ,'4') !== false) echo '投稿免审核';?></td>
				<td class="td-manage">
					<a title="编辑" href="javascript:;" onclick="yzm_open('编辑组别','<?php echo U('edit',array('groupid'=>$val['groupid']));?>','660','400')" class="yzm-box-img btn-primary"><i class="yzm-iconfont yzm-iconbianji1"></i> 编辑</a> 
				</td>
			</tr>
			<?php 
			   }		 
			?>	
		</tbody>
	</table>
	</form>
</div>
<?php include $this->admin_tpl('footer', 'admin');?>
</body>
</html>