{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}

.nwod-box {
    padding:84px 0 96px;
    font-size:0;
}
.nwod-img {
    width:51.6%;
    display:inline-block;
    vertical-align:middle;
}
.nwod-cont {
    width:48.4%;
    display:inline-block;
    vertical-align: middle;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
}
.nwod-box:nth-child(2n+1) .nwod-cont {
    padding-left:4.5%;
}
.nwod-box:nth-child(2n) .nwod-cont {
    padding-left:4.5%;
}
.nwod-icon {
    margin:0 auto;
    width:125px;
    height:125px;
    border:2px solid #ddd;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}
.nwod-tit {
    font-size:24px;
    color:#555;
    line-height:1.8em;
    font-weight:normal;
    padding:16px 0;
}
.nwod-txt {
    font-size:14px;
    color:#777;
    line-height:2em;
    padding-bottom:50px;
}
.nwod-xq {
    font-size:14px;
    color:#555;
    line-height:2.6em;
    display:inline-block;
    padding:0 36px;
    border:1px solid #ccc;
    -moz-border-radiud:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -webkit-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
}
.nwod-box a:hover .nwod-xq {
    color:#fff;
    background:#cca581;
    border:1px solid #cca581;
}
.nwod-img {
    -moz-border-top-left-radius: 26px;
    -webkit-border-top-left-radius: 26px;
    -ms-border-top-left-radius: 26px;
    -o-border-top-left-radius: 26px;
    border-top-left-radius: 26px;
    -moz-border-bottom-right-radius:26px;
    -ms-border-bottom-right-radius:26px;
    -webkit-border-bottom-right-radius:26px;
    -o-border-bottom-right-radius:26px;
    border-bottom-right-radius:26px;
    overflow: hidden;
}
.nwod-box {
    border-bottom:10px solid #f1f1f1;
}
.nwod-icon .img2 {
    display: none;
}
.nwod-box a:hover .nwod-icon .img2 {
    display: inline-block;
}
.nwod-box a:hover .nwod-icon .img1 {
    display: none;
}
.nwod-box a:hover .nwod-icon {
    border:2px solid #cca581;
}


</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116445485.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的冠牛</h3>
                <ul class="banner-lis">
                                        <li>
                        <a href="http://test123.com/about#wod1">关于冠牛</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod2">冠牛品牌</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod3">冠牛荣誉</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod4">4.0智造</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod5">发展历程</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod6">董事长致辞</a>
                    </li>
                                        </ul>
            </div>
        </div>
  </div> 
      <div class="nymain">
       <div class="nwod">           <div class="nwod-box" id="wod1">
               <div class="container">
                   <a href="http://www.szguanniu.com/about_show.php?id=2">
                                               <div class="nwod-img">
                            <img src="{$site[site_url]}common/static/image/2019011116263496.jpg" alt="">
                        </div>
                        <div class="nwod-cont">
                            <div class="nwod-icon">
                                <img src="{$site[site_url]}common/static/image/d1.png" alt="" class="img1">
                                <img src="{$site[site_url]}common/static/image/gg1.png" alt="" class="img2">
                            </div>
                            <h3 class="nwod-tit">关于冠牛</h3>
                            <div class="nwod-txt">
                                <p>冠牛公司20余年专注实木家居定制服务领域，在为消费者提供高品质产品及服务的同时，争取为社会提供更多就业机会、为投资者创造更大商业价值。</p>
                            </div>

                            <div href="?id=2" class="nwod-xq">查看详情  &gt;</div>
                        </div>
                                              </a>
               </div>
           </div>
                          <div class="nwod-box" id="wod2">
               <div class="container">
                   <a href="http://www.szguanniu.com/about_show.php?id=110">
                                               <div class="nwod-img">
                            <img src="{$site[site_url]}common/static/image/2019011009393457.jpg" alt="">
                        </div>
                        <div class="nwod-cont">
                            <div class="nwod-icon">
                                <img src="{$site[site_url]}common/static/image/d1.png" alt="" class="img1">
                                <img src="{$site[site_url]}common/static/image/gg1.png" alt="" class="img2">
                            </div>
                            <h3 class="nwod-tit">冠牛品牌</h3>
                            <div class="nwod-txt">
                                <p>20余年栉风沐雨，冠牛深刻感悟到：专业是最重要的。做自己最擅长的事，是冠牛人的风格。精于技巧，这不是关键所在，最关键的是冠牛人所领略并加以实践的专业精神。令人感慨的是，总是被模仿……</p>
                            </div>

                            <div href="?id=110" class="nwod-xq">查看详情  &gt;</div>
                        </div>
                                              </a>
               </div>
           </div>
                          <div class="nwod-box" id="wod3">
               <div class="container">
                   <a href="http://www.szguanniu.com/about_show.php?id=4">
                                               <div class="nwod-img">
                            <img src="{$site[site_url]}common/static/image/2019011009292932.jpg" alt="">
                        </div>
                        <div class="nwod-cont">
                            <div class="nwod-icon">
                                <img src="{$site[site_url]}common/static/image/d1.png" alt="" class="img1">
                                <img src="{$site[site_url]}common/static/image/gg1.png" alt="" class="img2">
                            </div>
                            <h3 class="nwod-tit">冠牛荣誉</h3>
                            <div class="nwod-txt">
                                <p>迄今为止，我们所获得的信誉，都是公众对于冠牛品质的认可；我们相信，在品质上持续贯注的严谨精神，在产品开发上的理性思维，在回馈社会上的有效措施，是冠牛赢取消费者信赖的保证，是冠牛产品通行市场的核心优势，更是企业持续发展的根基。</p>
                            </div>

                            <div href="?id=4" class="nwod-xq">查看详情  &gt;</div>
                        </div>
                                              </a>
               </div>
           </div>
                          <div class="nwod-box" id="wod4">
               <div class="container">
                   <a href="http://www.szguanniu.com/about_show.php?id=62">
                                               <div class="nwod-img">
                            <img src="{$site[site_url]}common/static/image/2019011009312480.jpg" alt="">
                        </div>
                        <div class="nwod-cont">
                            <div class="nwod-icon">
                                <img src="{$site[site_url]}common/static/image/d1.png" alt="" class="img1">
                                <img src="{$site[site_url]}common/static/image/gg1.png" alt="" class="img2">
                            </div>
                            <h3 class="nwod-tit">4.0智造</h3>
                            <div class="nwod-txt">
                                <p>潜心钻研20余年，冠牛已拥有实木整体家居行业领先的集高效、品质、流畅于一体的智能化制造系统。冠牛的“智”不仅是先进的设备、工艺，更是科学的运营与管理体制，全面的智能化制造系统将为冠牛全国的终端营销提供强大的平台支持。</p>
                            </div>

                            <div href="?id=62" class="nwod-xq">查看详情  &gt;</div>
                        </div>
                                              </a>
               </div>
           </div>

                          <div class="nwod-box" id="wod5">
               <div class="container">
                   <a href="http://www.szguanniu.com/about_show.php?id=111">
                                               <div class="nwod-img">
                            <img src="{$site[site_url]}common/static/image/2019010511082380.jpg" alt="">
                        </div>
                        <div class="nwod-cont">
                            <div class="nwod-icon">
                                <img src="{$site[site_url]}common/static/image/d1.png" alt="" class="img1">
                                <img src="{$site[site_url]}common/static/image/gg1.png" alt="" class="img2">
                            </div>
                            <h3 class="nwod-tit">发展历程</h3>
                            <div class="nwod-txt">
                                <p>20余年，不止是一段时光，而是筚路蓝缕的征程，20余年，不止是勤苦的耕耘，更是理想的荣光。屹立如磐，无惧风雷激荡，梦想在望，只因风雨兼程，我们造就财富传奇，我们见证历史的荣耀。任凭时光流转，奋进之心永存，20余年辉煌，砥砺荣耀。</p>
                            </div>

                            <div href="?id=111" class="nwod-xq">查看详情  &gt;</div>
                        </div>
                                              </a>
               </div>
           </div>
                                     <div class="nwod-box" id="wod6">
               <div class="container">
                   <a href="http://www.szguanniu.com/about_show.php?id=69">
                                               <div class="nwod-img">
                            <img src="{$site[site_url]}common/static/image/2019010408395992.jpg" alt="">
                        </div>
                        <div class="nwod-cont">
                            <div class="nwod-icon">
                                <img src="{$site[site_url]}common/static/image/d1.png" alt="" class="img1">
                                <img src="{$site[site_url]}common/static/image/gg1.png" alt="" class="img2">
                            </div>
                            <h3 class="nwod-tit">董事长致辞</h3>
                            <div class="nwod-txt">
                                <p>冠牛公司从蹒跚学步到今天走向卓越，二十余年的风雨兼程，是冠牛公司从小到大、从无到有、由弱变强，一步步的发展，让消费者认同冠牛制造。</p>
                            </div>

                            <div href="?id=69" class="nwod-xq">查看详情  &gt;</div>
                        </div>
                                              </a>
               </div>
           </div>
               
       </div>
    </div>


   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





