{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}

.gntab {
    padding-top:22px;
    text-align:center;
    padding-bottom:30px;
}
.gntab li {
    display:inline-block;
    vertical-align: middle;
    margin:0 4px;
}
.gntab li  a {
    display: block;
    padding:0 28px;
    line-height: 2.14em;
    font-size:14px;
    color:#555;
    border-radius:16px;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.gntab li.cur a,
.gntab li a:hover {
    background:#eb9030;
    color:#fff;
    text-decoration:none;
}
.gntxt {
    text-align:center;
    font-size:12px;
    color:#777;
    line-height:2em;
    padding-top:20px;
    padding-bottom:46px;
}
.gnlis {
    font-size:0;
}
.gnlis li {
    width:32%;
    margin-right:2%;
    display: inline-block;
    vertical-align: top;
    margin-bottom:3.3%;
}
.gnlis li:nth-child(3n) {
    margin-right:0;
}
.gnlis li p {
    font-size:18px;
    color:#555;
    line-height:1.6em;
    padding:4.1% 0;
    background:#f1f1f1;
    text-align:center;
}
.ngnm {
    padding:50px 0 70px;
}
.tit-box {
    text-align:center;
}
.tit-box .en {
    font-size:26px;
    color:#ccc;
    line-height:1.3em;
    font-weight: normal;
    font-family: font;
    text-transform:uppercase;
}
.tit-box .ch {
    font-size:24px;
    color:#555;
    line-height:1.75em;
    font-weight: normal;
}
.tit-box .ch b {
    font-weight: normal;
    color:#cca581;
}
.tit-box span {
    display:inline-block;
    padding:0 40px;
    position:relative;
}
.tit-box span:before,
.tit-box span:after {
    content:"";
    position:absolute;
    top:50%;
    width:140px;
    height:1px;
    background:#eaeaea;
}
.tit-box span:before {
    left:100%;
}
.tit-box span:after {
    right:100%;
}

.price {
    background:#fff;
    padding:22px 0;
    height: 26px;
    line-height: 26px;
}
.price-le {
    float:left;
}
.price-lr {
    float: right;

}
.price-le {
    font-size:14px;
    color:#777;
}
.price-le .ico {
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 17px;
    background: url(../images/sy.png) no-repeat;
    margin-right: 12px;
    margin-top:-3px;
}
.price-le b {
    font-weight: normal;
    color:#eb9030
}
.price span {
    padding:0 4px;
}
.price a {
    color:#777;
}
.price-lr {
    float: right;
    padding-right:32px;
    background: url(../images/fh.png) no-repeat right center;
    font-size:18px;
}

</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116465178.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的产品</h3>
                <ul class="banner-lis">
                                                <li class="on">
                            <a href="http://test123.com/product?id=35">冠牛木门</a>
                        </li>
                                                <li>
                            <a href="http://test123.com/product?id=93">整体家居</a>
                        </li>
                                                <li>
                            <a href="http://test123.com/product?id=102">实景案例</a>
                        </li>
                                         </ul>
            </div>
        </div>
  </div> 

      <div class="nymain">
        <div class="price">
            <div class="container">
                <div class="price-le">
                    <i class="ico"></i>
                    <a href="http://www.szguanniu.com/index.php">首页</a><span>&gt;</span>
                    <a href="http://www.szguanniu.com/product_show.php?id=70">伯爵实木门 </a><span>&gt;</span><b>伯爵实木门产品详情介绍</b>
                </div>
                <a href="javascript:history.back();" class="price-lr">返回上一页</a>
            </div>
        </div>
        <div class="wmxq">
            <div class="container">
                <div class="tit-box">
                    <h3 class="en">PRODUCT DETAILS</h3>
                    <h3 class="ch">
                        <span>产品<b>详情</b></span>
                    </h3>
                </div>
                <div class="wmxq-cont">
                    <div class="wmxq-tp">
                        <div class="wmxq-tple">
                            <div class="wmxq-big">
                                <ul>
                                                                        <li class="show">
                                        <img src="./冠牛木门·整体家居_files/2019090315074741.jpg" alt="" style="width: 100%;">
                                    </li>
                                                                           
                                </ul>
                            </div>
                            <div class="wmxq-min">
                                <ul class="clearfix" style="width: 540px; left: -180px;">
                                                                        
                                                                    <li class="cur" style="width: 160px;height: 115px">
                                       <img src="./冠牛木门·整体家居_files/2019090315074741.jpg" alt="">
                                    </li><li class="cur" style="width: 160px;height: 115px">
                                       <img src="./冠牛木门·整体家居_files/2019090315074741.jpg" alt="">
                                    </li><li class="cur" style="width: 160px;height: 115px">
                                       <img src="./冠牛木门·整体家居_files/2019090315074741.jpg" alt="">
                                    </li></ul>
                            </div>
                        </div>
                        <div class="wmxq-tplr">
                                                        <div class="wmxq-box">
                                <h3 class="wmxq-tit">马到成功</h3>
                                <div class="wmxq-wz">
                                    <p class="wmxq-tip">详情介绍:</p>
                                    <div class="wmxq-txt">
                                        <span style="color:#666666;font-size:14px;">运用纹理丰富的高档材质为基调，以写意的手法构画出大器天成的名门境界。它以简洁明快的风格布局平面元素，形成具有层次感的造型作品，并以精湛的工艺赋予它独特的文化内涵，表达了主人公自信有为、马到成功的优越心态。适合各种风格的家居环境选配。</span><span style="color:#666666;font-size:14px;"></span><br>
<br>
<span style="color:#666666;font-size:14px;"></span><br>
<span style="color:#666666;font-size:24px;"></span><span style="color:#666666;font-size:24px;">罗马假日<br>
</span><br>
<span style="color:#666666;font-size:14px;"></span><span style="color:#666666;font-size:14px;">罗马世界古代史上最大的国家之一，丘比特爱神传说的根源，风光旖旎的传统文化，成就了“光荣属于埃及，伟大属于罗马”的美名。感受凯旋归来的洗礼，体验罗马式假日风情。</span>                                    </div>
                                </div>
                            </div>
                                                        </div>
                    </div>
                    <div class="wmxq-qh">
                                                <span class="le"><a href="http://www.szguanniu.com/product_showmore.php?id=82">上一款：大都会尊贵系列</a> </span>                                                <span class="lr"><a href="http://www.szguanniu.com/product_showmore.php?id=184">下一款：锦绣山河</a> </span>
                                                </div>
                </div>
            </div>
        </div>
    </div>






   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





