{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}


.myfw {
    padding:80px 0 140px;
}
.myfw-list {
    font-size:0;
}
.myfw-list li {
    display:inline-block;
    vertical-align: top;
    background:#f3f3f3;
    padding:10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width:32.5%;
    margin-right:1.25%;
}
.myfw-list li:nth-child(3n) {
    margin-right:0;
}
.myfw-list .li-con {
    padding-top:12.2%;
    padding-bottom:9.8%;
    text-align:center;
}
.myfw-list .li-icon {
    width:65px;
    height:65px;
    margin:0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
    background:#777;
}
.myfw-list .li-con p {
    font-size:22px;
    color:#555;
    line-height:1.5em;
    padding-top:4.8%;
}
.myfw-list li:hover .li-icon {
    background:#eb9030;
}
.myfw-list li:hover p {
    color:#eb9030;
    
}
.myfw-list a:hover{
    text-decoration: none;
}
.li-img img{
    max-width: 100%;
} 
</style>





<div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116475788.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的服务</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}zizhufankui">自助反馈</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}lianxiwomen">联系我们</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}search">全国经销商门店查询</a>
                        </li>
                                        </ul>
            </div>
        </div>
    </div>
    <div class="nymain">
       <div class="myfw">
           <div class="container">
                <ul class="myfw-list clearfix">

                        <li><a href="{$site[site_url]}lianxiwomen">
                        <div class="li-img">
                            <img src="{$site[site_url]}common/static/image/f1.jpg" alt="">
                        </div>
                        <div class="li-con">
                            <div class="li-icon">
                                <img src="{$site[site_url]}common/static/image/w1.png" alt="">
                            </div>
                            <p>联系我们</p>
                        </div></a>
                    </li>
                    <li><a href="{$site[site_url]}search">
                         <div class="li-con">
                            <div class="li-icon">
                                <img src="{$site[site_url]}common/static/image/w2.png" alt="">
                            </div>
                             <p>全国经销商门店查询</p>
                        </div>
                        <div class="li-img">
                            <img src="{$site[site_url]}common/static/image/f2.jpg" alt="">
                        </div></a>
                    </li>
                    <li><a href="{$site[site_url]}zizhufankui">
                        <div class="li-img">
                            <img src="{$site[site_url]}common/static/image/f3.jpg" alt="">
                        </div>
                        <div class="li-con">
                            <div class="li-icon">
                                <img src="{$site[site_url]}common/static/image/w3.png" alt="">
                            </div>
                            <p>自助反馈</p>
                        </div></a>
                    </li>
                </ul>
           </div>
       </div>
    </div>



   {m:include "index","footer"}



    <script type="text/javascript">



    </script>





