{m:include "index","header"}
    <!--Top-IMG-->
    <div class="top-img" style="background-image: url({get_category($catid, 'catimg')})">
        <div class="cont">
            <h2>{get_catname($catid)}</h2>
        </div>
    </div>
    <!--单页内容-->
    <div class="cont">
        <div class="row">
            <div class="page-content">
                {$content}
            </div>
        </div>
    </div>
    <!--加入我们-->
    <div class="gj-tl gj-join-us gj-bg-bs" style="background-color: #f5f5f5">
        <div class="cont">
            <div class="row">
                <div class="gj-bt">
                    <h2>加入我们</h2>
                    <p>我们诚挚的邀请你加入我们</p>
                </div>
                <div class="gj-body join">
                    <div class="gj-md-6">
                        <div class="form">
                            <form class="gclear" action="{U('diyform/index/post')}" enctype="multipart/form-data" method="post" onsubmit="return checkall()">
								<input type="hidden" name="modelid" value="5">
								<table>
                                	<div class="in-bt"><span>应聘职位：</span>
                                    	<select name="position" id="position">
                                        	<option value="PHP工程师">PHP工程师</option>
                                        	<option value="项目经理">项目经理</option>
                                        	<option value="前端工程师">前端工程师</option>
                                        	<option value="销售代表">销售代表</option>
                                        	<option value="财务主管">财务主管</option>
                                    	</select>
                                	</div>
                                	<div class="bd"><input type="text" name="name" id="name" value="" placeholder="姓名"></div>
                                	<div class="bd"><input type="text" name="tel" id="tel" value="" placeholder="手机"></div>
                                	<div class="bd"><input type="text" name="education" id="education" value="" placeholder="学历"></div>
                                	<div class="bd"><textarea name="introduction" id="introduction" class="form-text" placeholder="简介"></textarea></div>
                                	<button type="submit" name="dosubmit" value="提 交">提交资料</button>
								</table>
                            </form>
                        </div>
                    </div>
                    <div class="hidd-xs gj-md-6">
                        <div class="text">
                            <div class="tr-top">
                                <h1>Hi,are you ready?</h1>
                                <h2>准备好开始了吗?<br>那就与我们取得联系吧！</h2>
                                <p>众里寻你千百步，缘来你需要的在此处，我们提供广阔的发展空间，只要你有想法，敢于创新，能上进，我们给你舞台，以及公司的各种福利；希望你的加入能给我们带来活力！</p>
                                <h3>摸索是最大的成本，犹豫是最大的阻碍！</h3>
                            </div>
                            <div class="tr-bottom">
                                <img src="{$site[weixin01]}" alt="">
                                <ul>
                                    <li><b>联系人：</b>{$site[name]}</li>
                                    <li><b>客服电话：</b>{$site[tel]}</li>
                                    <li><b>电子邮箱：</b>{$site[email]}</li>
                                    <li><b>联系地址：</b>{$site[add]}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {m:include "index","footer"}
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>