{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}


.gnsx {
    padding:72px 0 110px;
}
.gnsx-le {
    width:80%;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
}
.gnsx-le li {
    display:inline-block;
    vertical-align: top;
    width:50%;
}
.gnsx-box li {
    position: relative;
}
.gnsx-le .li-img {
    width:50%;
    display:inline-block;
    vertical-align: middle;
}
.gnsx-box .li-con {
    position:absolute;
    height:100%;
    text-align: center;
    background:#fff;
    z-index: 888;
}
.gnsx-le .li-con  {
    width:50%;
    left:50%;
    top:0;
}
.gnsx-box .con-img {
    width:65px;
    height:65px;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
    overflow:hidden;
    background:#777;
    display:inline-block;
}
.gnsx-box .con-inn {
    display:inline-block;
    vertical-align: middle;
}
.gnsx-box .li-con:before {
    content:"";
    display:inline-block;
    vertical-align: middle;
    width:0;
    height:100%;
}
.gnsx-box p {
    font-size:22px;
    color:#777;
    line-height:1.7em;
    padding-top:16px;
}
.gnsx-box .li-arr {
    position:absolute;
    width:9px;
    height:10px;
    background:url(../images/sarr.png) no-repeat;
}
.gnsx-le li:nth-child(4n+1) .li-arr,
.gnsx-le li:nth-child(4n+2) .li-arr{
    right:100%;
    top:24%;
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
.gnsx-le li:nth-child(4n+3) .li-img,
.gnsx-le li:nth-child(4n) .li-img {
    padding-left:50%;
    width: 50%;
}
.gnsx-le li:nth-child(4n+3) .li-con,
.gnsx-le li:nth-child(4n) .li-con {
    left:0;
}
.gnsx-le li:nth-child(4n+3) .li-arr,
.gnsx-le li:nth-child(4n) .li-arr {
    left:100%;
    top:24%;
}
.gnsx-lr {
    width:20%;
    display:inline-block;
}
.gnsx-box {
    font-size:0;
}
.gnsx-lr .li-con {
    left:0;
    top:100%;
    height:100%;
    width:100%;
}
.gnsx-lr .li-arr {
    bottom:100%;
    right:24%;
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.gnsx-box li:hover .con-img {
    background:#eb9030;
}
.njia-list li:hover .li-tit .icon{
    background: #eb9030;
}
.gnsx-box li:hover p {
    color:#eb9030;
}
.gnsx-box li .li-img {
    /*overflow: hidden;*/
}
.gnsx-box li:hover .li-img img {
    -webkit-transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); 
    -ms-transform: scale(1.05, 1.05); 
    -o-transform: scale(1.05, 1.05); 
    transform: scale(1.05, 1.05); -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; 
    -ms-transition: all 0.5s ease; 
    -o-transition: all 0.5s ease; 
    transition: all 0.5s ease; 
}




</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image//2018072116510735.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">冠牛商学院</h3>
                <ul class="banner-lis">
                        <li>
                            <a href="{$site[site_url]}xueyuanfengcai">学员风采</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}zhimingjiangshi">知名讲师</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}youxiuyuangong">优秀员工</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}shangxueyuan">商学院</a>
                        </li>
                                        </ul>
            </div>
        </div>
  </div> 


    <div class="nymain">
        <div class="gnsx">
            <div class="container">
                <div class="gnsx-box">
                    <ul class="gnsx-le">
                        <li>
                            <a href="http://www.szguanniu.com/school_show.php?id=46">
                                <div class="li-img">
                                    <img src="{$site[site_url]}common/static/image/2019010617441774.jpg" alt="">
                                </div>
                                <div class="li-con">
                                    <div class="li-arr"></div>
                                    <div class="con-inn">
                                        <div class="con-img">
                                            <img src="{$site[site_url]}common/static/image/s1.png" alt="">
                                        </div>
                                        <p>冠牛商学院</p>
                                    </div>
                                </div>
                            </a>
                       </li>
                       <li>
                           <a href="http://www.szguanniu.com/school_show.php?id=47">
                                <div class="li-img">
                                    <img src="{$site[site_url]}common/static/image/2019010615221451.jpg" alt="">
                                </div>
                                <div class="li-con">
                                    <div class="li-arr"></div>
                                    <div class="con-inn">
                                        <div class="con-img">
                                             <img src="{$site[site_url]}common/static/image/s2.png" alt="">
                                        </div>
                                        <p>优秀员工</p>
                                    </div>
                                </div>
                           </a>
                       </li>
                       <li>
                           <a href="http://www.szguanniu.com/school_show.php?id=48">
                                <div class="li-img">
                                <img src="{$site[site_url]}common/static/image/2019011109013144.jpg" alt="">
                                </div>
                                <div class="li-con">
                                    <div class="li-arr"></div>
                                    <div class="con-inn">
                                        <div class="con-img">
                                            <img src="{$site[site_url]}common/static/image/s3.png" alt="">
                                        </div>
                                        <p>知名讲师</p>
                                    </div>
                                </div>
                           </a>
                       </li>
                       <li>
                           <a href="http://www.szguanniu.com/school_show.php?id=49">
                                <div class="li-img">
                                    <img src="{$site[site_url]}common/static/image/2019011109033533.jpg" alt="">
                                </div>
                                <div class="li-con">
                                    <div class="li-arr"></div>
                                    <div class="con-inn">
                                        <div class="con-img">
                                            <img src="{$site[site_url]}common/static/image/s4.png" alt="">
                                        </div>
                                        <p>学员风采</p>
                                    </div>
                                </div>
                           </a>
                       </li>
                   </ul>
                   <ul class="gnsx-lr">
                       <li>
                           <a href="http://www.szguanniu.com/school_show.php?id=50">
                           <div class="li-img">
                               <img src="http://www.szguanniu.com/school.php" alt="">
                           </div>
                           <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="con-inn">
                                    <div class="con-img">
                                        <img src="{$site[site_url]}common/static/image/s5.png" alt="">
                                    </div>
                                    <p></p>
                               </div>
                           </div></a>
                       </li>
                   </ul>
               </div>
            </div>
        </div>
    </div>



   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





