{m:include "index","header"}
<script src="{$site[site_url]}common/static/js/share.js"></script>
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}



.zxxq-inn {
    margin:36px 0 60px;
}
.zxxq-le {
    padding-right:380px;
}
.zxxq-tit {
    font-size:30px;
    color:#555;
    line-height:1.9em;
    font-weight: normal;
    text-align:center;
}
.zxxq-tip {
    font-size:14px;
    color:#999;
    line-height:2.5em;
    text-align:center;
}
.zxxq-tip span {
    padding:0 12px;
    display: inline-block;
}
.zxxq-tip .icon {
    display:inline-block;
    width:19px;
    height:12px;
    background:url(../images/ico.png) no-repeat;
    vertical-align: middle;
    margin-right:8px;
}
.zxxq-icon {
    padding:20px 0 36px;
}
.zxxq-icon {
    text-align:center;
}
.zxxq-icon li {
    display:inline-block;
    vertical-align: middle;
    width:12px;
    margin:0 10px;
}

.zxxq-icon li .img2 {
    display: none;
}
.zxxq-icon li:hover .img1{
    display:none;
}
.zxxq-icon li:hover .img2 {
    display: inline-block;
}
.zxxq-txt {
    font-size:14px;
    color:#777;
    line-height:2em;
    padding-bottom:50px;
}
.zxxq-img {
    text-align:center;
}
.zxxq-box {
    padding-bottom:66px;
}
.qheh {
    font-size:14px;
    color:#444;
    line-height:1.8em;
    padding-top:26px;
    border-top:1px solid #f1f1f1;
}
.qheh a {
    color:#444;
}
.qheh .le {
    float:left;
    width:50%;
}
.qheh .lr  {
    float:left;
    width:50%;
}
.zxxq-inn{
    position: relative;
}
.zxxq-lr {
    position: absolute;
    right: 0;
    top:0;
    padding-top:20px;
    width:320px;
}
.zxxq-lrti {
    font-size:20px;
    color:#444;
    line-height: 1.5em;
    text-align:center;   
    font-weight: normal;
    text-align:center;
}
.zxxq-lrti span {
    padding-bottom:10px;
    display: inline-block;
    border-bottom:1px solid #cba580;
}
.zxxq-lrli {
    padding-top:36px;
}
.zxxq-lrli .li-img {
    border:1px solid #f1f1f1;
}
.zxxq-lrli p {
    font-size:14px;
    color:#444;
    line-height: 2em;
    padding:16px 0 36px;
}
.zxxq-bg {
    position: absolute;
    right: 354px;
    top:0;
    width:1px;
    height: 100%;
    background:#f1f1f1;
}
.zxxq {
    position: relative;
}
.zxxq .container {
   padding-top:1px;
   padding-bottom: 1px;
    position: relative;
}
</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116493186.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">资讯中心</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="http://test123.com/news?id=43">公司新闻</a>
                        </li>
                                                <li>
                            <a href="http://test123.com/news?id=81">品牌活动</a>
                        </li>
                                                <li>
                            <a href="http://test123.com/news?id=44">行业资讯</a>
                        </li>
                                        </ul>
            </div>
        </div>
  </div> 


    <div class="nymain">
        <div class="zxxq">
            <div class="container">
                <div class="zxxq-bg"></div>
                <div class="zxxq-inn">
                                        <div class="zxxq-le">
                        <h3 class="zxxq-tit">冠牛快讯近日2021年第九届中国门墙柜技术大会在辽宁沈阳顺利召开。</h3>
                        <p class="zxxq-tip"><span>冠牛木门</span><span>2021/12/10</span><span><i class="icon"></i>阅读 0</span></p>
                        <div class="zxxq-icon">
                            <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1678333892306">
                            <ul>

                                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_more" data-cmd="more"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                </li>
                            </ul></div>
                        </div>
<!--                         <p class="15">
    <span style="font-family:SimHei;font-size:16px;color:#333333;line-height:2;">冠牛快讯：近日</span><span style="font-family:SimHei;font-size:16px;color:#333333;line-height:2;">2021</span><span style="font-family:SimHei;font-size:16px;color:#333333;line-height:2;">年第九届中国门墙柜技术大会在辽宁沈阳顺利召开。<br>
<img src="{$site[site_url]}common/static/image/20220907160157_33246.jpg" alt=""><br>
</span> 
</p>
<span style="font-family:SimHei;font-size:16px;color:#333333;line-height:2;"> 
<div style="text-align:center;">
    <div style="text-align:left;">
        <div style="text-align:left;">
            <span style="font-size:14px;"><img src="{$site[site_url]}common/static/image/20220907160223_78855.jpg" alt="">&nbsp; &nbsp; <br>
&nbsp; &nbsp; 冠</span><span style="font-size:14px;"></span><span style="font-size:14px;">牛副总裁庞晓良女士应邀出席本次大会，并在高端辩论会环节，与行业优秀企业进行观点交锋，从各自为导向的优势，来对定制木作高端发展，提供一些可借鉴的道路。</span> 
        </div>
<span style="font-size:14px;color:#333333;"><span style="font-family:SimHei;"> <br>
</span></span> 
    </div>
</div>
</span> 
<div style="text-align:center;">
    <img src="{$site[site_url]}common/static/image/20211217102737_85504.png" alt=""><br>
<img src="{$site[site_url]}common/static/image/20220907160453_96555.jpg" alt=""><br>
<br>
<img src="{$site[site_url]}common/static/image/20211217102940_72784.png" alt=""><br>
<img src="{$site[site_url]}common/static/image/20220907160538_43654.jpg" alt=""><br>
<span style="color:#333333;line-height:2;font-family:SimHei;">冠牛副总裁庞晓良女士<br>
</span><br>
<img src="{$site[site_url]}common/static/image/20211217103152_78286.jpg" alt=""><br>
<img src="{$site[site_url]}common/static/image/20220907162155_77921.jpg" alt=""><br>
<br>
<img src="{$site[site_url]}common/static/image/20211217103251_85923.png" alt=""><br>
<br>
高端辩论会环节<br>
    <div style="text-align:left;">
        <span style="font-family:SimHei;font-size:14px;color:#333333;line-height:2;"><span style="color:#333333;font-family:SimHei;font-size:14px;">&nbsp; &nbsp;另外，在大会中，冠牛参与了“致敬生态”的环保宣言，承诺致力于推动定制家居绿色可持续发展。最后，在大会的颁奖环节中，冠牛凭借23年积累的技术经验，以及推动行业发展做出的技术贡献，荣获大</span><span style="color:#333333;font-family:SimHei;font-size:14px;">会颁发“技术卓越贡献奖”。</span><br>
        <div style="text-align:center;">
            <img src="{$site[site_url]}common/static/image/20211217104152_93341.png" alt=""><br>
<img src="{$site[site_url]}common/static/image/20220907162230_34821.jpg" alt=""><br>
        </div>
        <div style="text-align:center;">
            <img src="{$site[site_url]}common/static/image/20211217104629_66106.png" alt=""> 
        </div>
<br>
<img src="{$site[site_url]}common/static/image/20220907162246_78458.jpg" alt=""><br>
        <div style="text-align:center;">
            <div style="text-align:left;">
                <div style="text-align:center;">
                    <br>
荣获大会颁发“技术卓越贡献奖”
                </div>
            </div>
<span style="font-size:12px;font-family:SimHei;color:#333333;"><span style="color:#333333;font-family:SimHei;font-size:14px;"></span><br>
<img src="{$site[site_url]}common/static/image/20220907162349_55894.jpg" alt=""><br>
<br>
致敬生态环保宣言环节<br>
<br>
<br>
<img src="{$site[site_url]}common/static/image/20211217105100_10746.png" alt=""><br>
<br>
<img src="{$site[site_url]}common/static/image/20211217105150_87560.png" alt=""><br>
<br>
<br>
</span>
        </div>
</span> 
    </div>
</div>   -->                      <div class="wmxq-qh">
                                                            <span class="le"><a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=154">上一条：热烈祝贺冠牛木门荣获“广东省名牌产品”称号 </a> </span>                                                            <span class="lr"><a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=278">下一条：恭喜冠牛工程团队荣获华为工程项目类卓越贡献奖</a> </span>
                                                        </div>
                    </div>
                                            <div class="zxxq-lr">
                        <h3 class="zxxq-lrti"><span>相关新闻</span></h3>
                        <ul class="zxxq-lrli">
                                                        <li>
                                <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=154">
                                    <div class="li-img">
                                        <img src="{$site[site_url]}common/static/image/2018123117333469.jpg" alt="">
                                    </div>
                                    <p>热烈祝贺冠牛木门荣获“广东省名牌产品”称号 </p>
                                </a>
                            </li>
                                                            <li>
                                <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=177">
                                    <div class="li-img">
                                        <img src="{$site[site_url]}common/static/image/2019010610250625.jpg" alt="">
                                    </div>
                                    <p>#携手新时代，共筑冠牛梦#冠牛20周年暨江苏18.8万㎡生产基地开业庆典盛大召开 </p>
                                </a>
                            </li>
                                                            <li>
                                <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=251">
                                    <div class="li-img">
                                        <img src="{$site[site_url]}common/static/image/2021071909583683.jpg" alt="">
                                    </div>
                                    <p>宿迁市应急管理局组织全省首届粉尘防爆专题培训班学员进冠牛现场观摩教学</p>
                                </a>
                            </li>
                                                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





