{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}


.nwmd-xq {
    padding:0px 0 90px;
}
.nwmd-xqli {
    padding-top:20px;
}
.nwmd-xqli li {
    font-size:14px;
    color:#555;
    line-height:2.1em;
    display: inline-block;
    vertical-align: middle;
    margin:0 6px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    overflow: hidden;
}
.nwmd-xqli {
    text-align:center;
}
.nwmd-xqli li a {
    padding:0 18px;
    display: block;
    color:#555;
}
.nwmd-xqli li.on,.nwmd-xqli li:hover {
    background:#eb9030;
    color:#fff;
}
.nwmd-xqli li.on a,.nwmd-xqli li:hover a{
    color:#fff;
}
.nwmd-xqcont {
    padding-top:60px;
}
.nwmd-xqtp {
    overflow: hidden;
    position: relative;
    -moz-border-bottom-right-radius: 36px;
    -ms-border-bottom-right-radius: 36px;
    -webkit-border-bottom-right-radius: 36px;
    -o-border-bottom-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background:#f3f3f3;
    -moz-border-top-left-radius: 36px;
    -ms-border-top-left-radius: 36px;
    -webkit-border-top-left-radius: 36px;
    -o-border-top-left-radius: 36px;
    border-top-left-radius: 36px;
}
.nwmd-xqle {
    width: 40%;
    overflow: hidden;
    float: left;
}
.nwmd-xqle img{
    max-width: 100%;
}
.nwmd-xq .nwmd-xqcont:nth-of-type(2n+1) .nwmd-xqtp .nwmd-xqle{
    float: right;
}
.nwmd-xqlr {
    float: left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width: 60%;
    padding:40px 40px 0;
}
.nwmd-xqtxt {
    font-size:13px;
    color:#777;
    line-height:1.6em;
}
.nwmd-xqtxt p {
    padding-bottom:30px;
}
.nwmd-xqbt {
    padding-top:26px;
}
.nwmd-xqbt li {
    display: inline-block;
    vertical-align: top;
    width:31.6%;
    margin-right:2.6%;
    position: relative;
    -moz-border-top-left-radius: 18px;
    -ms-border-top-left-radius: 18px;
    -o-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    border-top-left-radius: 18px;
    overflow: hidden;
    -moz-border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -ms-border-bottom-right-radius: 18px;
    -o-border-bottom-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-bottom:2.6%;
}
.nwmd-xqbt li:nth-child(3n) {
    margin-right:0;
}
.nwmd-xqbt li p {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    text-align:center;
    font-size:16px;
    color:#fff;
    line-height:2.8em;
}
.nwmd-xqbt {
    font-size: 0;
}
.tit-box {
    text-align:center;
}
.tit-box .en {
    font-size:26px;
    color:#ccc;
    line-height:1.3em;
    font-weight: normal;
    font-family: font;
    text-transform:uppercase;
}
.tit-box .ch {
    font-size:24px;
    color:#555;
    line-height:1.75em;
    font-weight: normal;
}
.tit-box .ch b {
    font-weight: normal;
    color:#cca581;
}
.tit-box span {
    display:inline-block;
    padding:0 40px;
    position:relative;
}
.tit-box span:before,
.tit-box span:after {
    content:"";
    position:absolute;
    top:50%;
    width:140px;
    height:1px;
    background:#eaeaea;
}
.tit-box span:before {
    left:100%;
}
.tit-box span:after {
    right:100%;
}
</style>


 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116445485.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的冠牛</h3>
                <ul class="banner-lis">
                                        <li>
                        <a href="{$site[site_url]}guanyuguanniu">关于冠牛</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}brand">冠牛品牌</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}guanniurongyu">冠牛荣誉</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}zhizao">4.0智造</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}fazhanlicheng">发展历程</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}dongshichangzhici">董事长致辞</a>
                    </li>
                                        </ul>
            </div>
        </div>
  </div> 




<div class="nymain">
       <div class="nwmd-xq">
           <div class="container">
               <div class="tit-box">
                                       <h3 class="en">ABOUT CROWN COW（english）</h3>
                    <h3 class="ch"><span>关于冠牛</span></h3>
                       
               </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle">
                            <img src="{$site[site_url]}common/static/image/2019011009055415.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr">
                            <div class="nwmd-xqtxt" id="sucai" tabindex="5000" style="overflow: hidden; outline: none;">
                                <h2>
</h2>
<h2>
    <span style="color: rgb(229, 102, 0); font-family: SimSun;" font-size:18px;color:#e56600;"=""><strong>企业简介</strong></span> 
</h2>
<p class="MsoNormal" style="margin-top:12.0pt;margin-right:0cm;margin-bottom:12.0pt;margin-left:0cm;text-indent:24.0pt;">
    <span style="line-height:2.5;color:#666666;">冠牛，始创于</span><span style="line-height:2.5;color:#666666;">1998</span><span style="line-height:2.5;color:#666666;">年，</span><span style="line-height:2.5;color:#666666;">20余</span><span style="line-height:2.5;color:#666666;">年来始终以实木作为设计与生产的核心。“实木”作为冠牛的标签，一直贯穿于企业的发展历程。从经典的木门单品延伸到现在的实木全屋定制领域，冠牛始终坚持实木品质信念和实木专研精神。这种匠心的坚守与对实木的专注，也让冠牛在</span><span style="line-height:2.5;color:#666666;">20</span><span style="line-height:2.5;color:#666666;">余年的发展历程中，沉淀出了独树一帜的实木产品品质与影响力。</span> 
</p>                            </div>
                        </div>
                                            </div>
                                        <div class="nwmd-xqbt">
                        <ul>
                                                    </ul>
                    </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle" style="padding-right: 0;">
                            <img src="{$site[site_url]}common/static/image/2018080821031322.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr" style="left:0;border-bottom-right-radius: 0;">
                            <div class="nwmd-xqtxt" id="sucai">
                                <h2>
    <span style="color:#E56600;font-family:SimSun;">企业理念：</span><span style="color:#E56600;font-family:SimSun;">止于至善 </span><span style="color:#E56600;font-family:SimSun;">治木之道</span> 
</h2>
<div>
    <span style="color:#E56600;"><br>
</span> 
</div>
<p class="MsoNormal" align="justify">
    <span style="font-family:SimSun;line-height:2.5;font-size:12px;color:#666666;">【理念解读】“止于至善”来源于《礼记·大学》一篇的首句：“大学之道，在明明德，在亲民，在止于至善。”大学之道讲的大人生的经营和管理，经营的目标是至善，也即是一种完美的境界。“止于至善”昭示的是一种永不止息、创新超越的“进取”心态，是一种对完善、完美的境界孜孜不倦追求的崇高精神。冠牛的“止于至善”是对制造木门而言的，因为有了“止于至善”的追求，也就形成了独具个性的治木精神，即“治木之道”。“止于至善，治木之道”是冠牛人坚定不移的信念追求。</span>
</p>                            </div>
                        </div>
                                            </div>
                                        <div class="nwmd-xqbt">
                        <ul>
                                                    </ul>
                    </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle">
                            <img src="{$site[site_url]}common/static/image/2018080820550012.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr">
                            <div class="nwmd-xqtxt" id="sucai">
                                <h2>
    <span style="color:#E56600;font-family:SimSun;line-height:2;">企业精神：创新 开拓 务实 诚信</span> 
</h2>
<h2>
    <strong><span style="color:#666666;font-size:10px;line-height:2;">鼓励创新的精神；注重开拓的精神；追求务实的精神；传达诚信的精神。</span></strong><strong><span style="background-color:#666666;"><span style="background-color:#FFFFFF;color:#666666;"></span></span></strong> 
</h2>
<div>
    <span style="color:#666666;font-size:14px;"><strong><span style="line-height:2;font-size:10px;">创新：</span></strong><span style="line-height:2;font-size:10px;">创业立世，需要革故鼎新。创新，是经营者必备的业务素质。成功源于远见卓识的头脑和吐故纳新的胸怀。创新同时也昭示着：“境由心造，事在人为”的自由境界。</span><br>
<strong><span style="line-height:2;font-size:10px;">开拓：</span></strong><span style="line-height:2;font-size:10px;">开创未来，拓展疆土，是创业者的宇宙意识。安逸的没有风浪的生活不是有志者的追求，只有永不满足，不断地开拓进取，才得以成就永恒的事业。</span><br>
<strong><span style="line-height:2;font-size:10px;">务实：</span></strong><span style="line-height:2;font-size:10px;">人生伟业的建立，不在能知，乃在能行。踏踏实实的工作态度，是一种着眼于微末，积沙成塔的本领，也是一种卓越的品质。任何成功的人生都超越不了这一步。</span><br>
<strong><span style="line-height:2;font-size:10px;">诚信：</span></strong><span style="line-height:2;font-size:10px;">开诚立信，以诚待人，个人有诚，方能处世立身，企业有诚，方能展蔓延，生生不息。诚信之于人，乃立身之本；诚信之于业，乃立业之道。</span><br>
<br>
</span> 
</div>
<div>
    <span style="color:#E56600;font-family:SimSun;"><br>
</span> 
</div>                            </div>
                        </div>
                                            </div>
                                        <div class="nwmd-xqbt">
                        <ul>
                                                    </ul>
                    </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle" style="padding-right: 0;">
                            <img src="{$site[site_url]}common/static/image/2018080820533972.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr" style="left:0;border-bottom-right-radius: 0;">
                            <div class="nwmd-xqtxt" id="sucai">
                                <h2 style="text-align:left;">
    <span style="color:#E56600;font-family:SimSun;"><br>
</span> 
</h2>
<h2 style="text-align:left;">
    <span style="color:#E56600;font-family:SimSun;">经营理念</span> 
</h2>
<div style="text-align:justify;">
    <span style="color:#E56600;font-family:SimSun;"><br>
</span>
    <p style="text-align:left;">
        <span style="color:#333333;font-family:SimSun;font-size:12px;line-height:2.5;"><span style="font-family:SimSun;font-size:12px;color:#666666;">传承与发扬工匠精神；为优秀员工搭建成长和致富平台，</span><br>
</span><span style="line-height:2.5;color:#666666;font-family:SimSun;font-size:12px;">实现“安居乐业”的梦想；</span><span style="line-height:2.5;"></span><span style="line-height:2.5;color:#666666;font-family:SimSun;font-size:12px;">为消费者提供优质的绿色家</span><span style="color:#666666;line-height:2.5;font-family:SimSun;font-size:12px;">居产品和星级服务。</span>
    </p>
</div>
<span style="font-family:SimSun;line-height:2.5;"> <span style="color:#000000;"></span></span> 
<p>
    <br>
</p>                            </div>
                        </div>
                                            </div>
                                        <div class="nwmd-xqbt">
                        <ul>
                                                    </ul>
                    </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle">
                            <img src="{$site[site_url]}common/static/image/2018080820521285.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr">
                            <div class="nwmd-xqtxt" id="sucai">
                                <h2>
    <span style="color:#E56600;"><br>
</span> 
</h2>
<h2>
    <span style="color:#E56600;font-family:SimSun;">企业愿景<span style="font-size:12px;"></span></span> 
</h2>
<div>
    <span style="color:#E56600;"><br>
</span> 
</div>
<p>
    <span style="color:#666666;font-family:SimSun;font-size:12px;">成为中国绿色整体家居行业领跑者</span> 
</p>
<p>
    <br>
</p>
<br>                            </div>
                        </div>
                                            </div>
                                        <div class="nwmd-xqbt">
                        <ul>
                                                        <li>
                                    <img src="{$site[site_url]}common/static/image/2018080820303615.jpg" alt="">
                                    <p>冠牛·东莞生产基地</p>

                            </li>
                                                        <li>
                                    <img src="{$site[site_url]}common/static/image/2021051816393083.jpg" alt="">
                                    <p>冠牛·宿迁生产基地</p>

                            </li>
                                                        <li>
                                    <img src="{$site[site_url]}common/static/image/2021051816332465.jpg" alt="">
                                    <p>冠牛·宿迁生产基地</p>

                            </li>
                                                    </ul>
                    </div>
                                    </div>
                           </div>
       </div>
    </div>

   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





