{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}


.tit-box {
    text-align:center;
}
.tit-box .en {
    font-size:26px;
    color:#ccc;
    line-height:1.3em;
    font-weight: normal;
    font-family: font;
    text-transform:uppercase;
}
.tit-box .ch {
    font-size:24px;
    color:#555;
    line-height:1.75em;
    font-weight: normal;
}
.tit-box .ch b {
    font-weight: normal;
    color:#cca581;
}
.tit-box span {
    display:inline-block;
    padding:0 40px;
    position:relative;
}
.tit-box span:before,
.tit-box span:after {
    content:"";
    position:absolute;
    top:50%;
    width:140px;
    height:1px;
    background:#eaeaea;
}
.tit-box span:before {
    left:100%;
}
.tit-box span:after {
    right:100%;
}
.njia-xq {
    background:#f1f1f1;
    padding:70px 0;
}
.njia-xqli li{
    height:206px;
    margin-bottom:50px;
    display:inline-block;
    vertical-align: middle;
    background:#fff;
    width:31.6%;
    margin-right:2.6%;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 24px 0px;
    margin-top:50px;
}
.njia-xqli .li-img {
    width:100px;
    height:100px;
    margin-left:auto;
    margin-right:auto;
    margin-top:-50px;
    background:#fff;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -webkit-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
    overflow:hidden;
}
.njia-xqli .li-tit {
    font-size:18px;
    color:#555;
    line-height:2em;
    text-align:center;
    font-weight: normal;
    padding-bottom:10px;
    position: relative;
    top: -0.5rem;
}
.njia-xqli .li-txt {
    font-size:14px;
    color:#777;
    line-height:2em;
    text-align:center;
    position: relative;
    top: -0.5rem;
}
.njia-xqli li:nth-child(3n) {
    margin-right:0;
}
.njia-xqli {
    font-size:0;
}
.njia-list li:last-child{
    display: none;
}
.njia-xqli li:hover .li-img {
    -moz-transition:all .5s;
    -webkit-transition:all .5s;
    -ms-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}

</style>





<div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116514484.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">加盟冠牛</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}/pinpaiyoushi">品牌优势</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/xingyeyoushi">行业优势</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/jiamengzhichi">加盟支持</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/jiamengliucheng">加盟流程</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/woyaojiameng">我要加盟</a>
                        </li>
                                        </ul>
            </div>
        </div>
    </div>


    <div class="nymain">
    <div class="njia-xq">
        <div class="container">
            <ul class="njia-xqli">
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x1.png" alt="">
                    </div>
                    <h3 class="li-tit">初步咨询，提交书面加盟申请信息</h3>
                    <div class="li-txt">
                        <p>包含营业执照、税务等级 、法人代码证、经营者身份证等资质类证件，如自然人需提交完整的申请表格，内容需详细准确。</p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x2.png" alt="">
                    </div>
                    <h3 class="li-tit">意向沟通，敲定详情</h3>
                    <div class="li-txt">
                        <p>招商部门审核加盟商提交的资料，双方进行电话初步沟通，商定加盟细节与进度。</p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x3.png" alt="">
                    </div>
                    <h3 class="li-tit">双向考察，实地洽谈</h3>
                    <div class="li-txt">
                        <p>招商部门到加盟地区实地考察，考察市场与加盟商实力，商定加盟细节与进度。</p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x4.png" alt="">
                    </div>
                    <h3 class="li-tit">初步甄选</h3>
                    <div class="li-txt">
                        <p>招商经理对意向代理商进行综合实力的评估并打分，如行业经验、任职经历、资金实力等，是否符合公司标准。                        </p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x5.png" alt="">
                    </div>
                    <h3 class="li-tit">签署协议，确认合作</h3>
                    <div class="li-txt">
                        <p>专卖店选址确认后，双方签订合作协议，确定权利与义务，交纳品牌保证金，即时启动开店筹备工作。                        </p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x6.png" alt="">
                    </div>
                    <h3 class="li-tit">专卖店设计装修</h3>
                    <div class="li-txt">
                        <p>总部展开设计施工、样品设计、开业策划、人员培训逐一启动，完成开业筹备工作。</p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x7.png" alt="">
                    </div>
                    <h3 class="li-tit">运营管理</h3>
                    <div class="li-txt">
                        <p>总部给予运营规划指导、团队组建指导、专业培训指导帮助新商组建专业团队，做好运营规划。                        </p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x7.png" alt="">
                    </div>
                    <h3 class="li-tit">开业筹备</h3>
                    <div class="li-txt">
                        <p>总部通过开业筹备、开业活动指导筹备新店开业                        </p>
                    </div>
                </li>
                <li>
                    <div class="li-img">
                        <img src="{$site[site_url]}common/static/image/x7.png" alt="">
                    </div>
                    <h3 class="li-tit">定期支持到运营指导</h3>
                    <div class="li-txt">
                        <p>总部通过到店支持、人员培训、活动让利等方式，定期跟进营运指导及支持，引导与扶持终端经销商                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>  




   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





