{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}


.nwmd-xq {
    padding:50px 0 90px;
}
.nwmd-xqli {
    padding-top:20px;
}
.nwmd-xqli li {
    font-size:14px;
    color:#555;
    line-height:2.1em;
    display: inline-block;
    vertical-align: middle;
    margin:0 6px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    overflow: hidden;
}
.nwmd-xqli {
    text-align:center;
}
.nwmd-xqli li a {
    padding:0 18px;
    display: block;
    color:#555;
}
.nwmd-xqli li.on,.nwmd-xqli li:hover {
    background:#eb9030;
    color:#fff;
}
.nwmd-xqli li.on a,.nwmd-xqli li:hover a{
    color:#fff;
}
.nwmd-xqcont {
    padding-top:60px;
}
.nwmd-xqtp {
    overflow: hidden;
    position: relative;
    -moz-border-bottom-right-radius: 36px;
    -ms-border-bottom-right-radius: 36px;
    -webkit-border-bottom-right-radius: 36px;
    -o-border-bottom-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background:#f3f3f3;
    -moz-border-top-left-radius: 36px;
    -ms-border-top-left-radius: 36px;
    -webkit-border-top-left-radius: 36px;
    -o-border-top-left-radius: 36px;
    border-top-left-radius: 36px;
}
.nwmd-xqle {
    width: 40%;
    overflow: hidden;
    float: left;
}
.nwmd-xqle img{
   height: 9.5rem;
}
.nwmd-xq .nwmd-xqcont:nth-of-type(2n+1) .nwmd-xqtp .nwmd-xqle{
    float: right;
}
.nwmd-xqlr {
    float: left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width: 60%;
    padding:40px 40px 0;
}
.nwmd-xqtxt {
    font-size:13px;
    color:#777;
    line-height:1.6em;
}
.nwmd-xqtxt p {
    padding-bottom:30px;
}
.nwmd-xqbt {
    padding-top:26px;
}
.nwmd-xqbt li {
    display: inline-block;
    vertical-align: top;
    width:31.6%;
    margin-right:2.6%;
    position: relative;
    -moz-border-top-left-radius: 18px;
    -ms-border-top-left-radius: 18px;
    -o-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    border-top-left-radius: 18px;
    overflow: hidden;
    -moz-border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -ms-border-bottom-right-radius: 18px;
    -o-border-bottom-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-bottom:2.6%;
}
.nwmd-xqbt li:nth-child(3n) {
    margin-right:0;
}
.nwmd-xqbt li p {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    text-align:center;
    font-size:16px;
    color:#fff;
    line-height:2.8em;
}
.nwmd-xqbt {
    font-size: 0;
}
.tit-box {
    text-align:center;
}
.tit-box .en {
    font-size:26px;
    color:#ccc;
    line-height:1.3em;
    font-weight: normal;
    font-family: font;
    text-transform:uppercase;
}
.tit-box .ch {
    font-size:24px;
    color:#555;
    line-height:1.75em;
    font-weight: normal;
}
.tit-box .ch b {
    font-weight: normal;
    color:#cca581;
}
.tit-box span {
    display:inline-block;
    padding:0 40px;
    position:relative;
}
.tit-box span:before,
.tit-box span:after {
    content:"";
    position:absolute;
    top:50%;
    width:140px;
    height:1px;
    background:#eaeaea;
}
.tit-box span:before {
    left:100%;
}
.tit-box span:after {
    right:100%;
}


</style>





<div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116514484.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
           <div class="container">
                <h3 class="menu-tit">加盟冠牛</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}/pinpaiyoushi">品牌优势</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/xingyeyoushi">行业优势</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/jiamengzhichi">加盟支持</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/jiamengliucheng">加盟流程</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}/woyaojiameng">我要加盟</a>
                        </li>
                                        </ul>
            </div>
        </div>
    </div>


    <div class="nymain" style="border-bottom: none;">
    <div class="nwmd-xq">
        <div class="container">
            <div class="tit-box">
                                    <h3 class="en">ABOUT CROWN COW</h3>
                    <h3 class="ch"><span>加盟支持</span></h3>
                    
            </div>

            <div class="nwmd-xqcont">
                <div class="nwmd-xqtp">
                    <div class="nwmd-xqle">
                                                <img src="{$site[site_url]}common/static/image/2018072116514484.jpg" alt="">
                    </div>
                    <div class="nwmd-xqlr">
                        <div class="nwmd-xqtxt">
                            <p>
    <span style="color:#666666;font-family:SimSun;font-size:12px;line-height:2.5;"><span style="line-height:2.5;">经销商最需要的，是专业的策略指导。</span><br>
<span style="line-height:2.5;"></span></span><span style="color:#666666;font-family:SimSun;font-size:12px;"><span style="line-height:2.5;">专注的服务团队，专门的市场开发。</span><br>
<span style="line-height:2.5;"></span></span><span style="color:#666666;font-family:SimSun;font-size:12px;"><span style="line-height:2.5;">这也是冠牛20年对经销商解决的最切实的问题。</span><br>
<span style="line-height:2.5;"></span></span><span style="color:#666666;font-family:SimSun;font-size:12px;"><span style="line-height:2.5;">即市场集约化，策略精细化。</span><br>
<span style="line-height:2.5;"></span></span><span style="color:#666666;font-family:SimSun;font-size:12px;"><span style="line-height:2.5;">冠牛加盟支持与终端扶持系统，得益于20年的发展与积淀，</span><br>
<span style="line-height:2.5;"></span></span><span style="color:#666666;font-family:SimSun;font-size:12px;"><span style="line-height:2.5;">20年来，冠牛潜心研究终端、研究市场、研究客户，建立起一套自身独有的成熟高效的招商支持系统，</span><br>
<span style="line-height:2.5;"></span></span><span style="color:#666666;font-family:SimSun;font-size:12px;"><span style="line-height:2.5;">具备“实用性、规范性、系统性”极大特性，根据终端经销商的反馈，</span><br>
<span style="line-height:2.5;"></span></span><span style="color:#666666;font-family:SimSun;font-size:12px;line-height:2.5;">冠牛的渠道服务系统 成为经销商获取出色销售业绩的最关键因素之一。</span> 
</p>
<span><span style="font-family:SimSun;font-size:12px;color:#666666;line-height:2.5;"> </span></span><span><span style="font-family:SimSun;font-size:12px;color:#666666;line-height:2.5;"></span></span> 
<p>
    <br>
</p>                        </div>
                    </div>
                                    </div>

            </div>
        </div>
    </div>
</div>  
<div class="container">
         <div class="nwmd-xqcont">
    <div class="nwmd-xqbt">
                    <ul>
                                                    <li style="width: 100%;">
                                <img src="{$site[site_url]}common/static/image/2019011217394774.jpg" alt="" style="width:100%;">
                                <p>加盟支持</p>

                            </li>
                                            </ul>
    </div>
     </div>
 </div>



   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





