{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}


.nwmd-xq {
    padding:0px 0 90px;
}
.nwmd-xqli {
    padding-top:20px;
}
.nwmd-xqli li {
    font-size:14px;
    color:#555;
    line-height:2.1em;
    display: inline-block;
    vertical-align: middle;
    margin:0 6px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    overflow: hidden;
}
.nwmd-xqli {
    text-align:center;
}
.nwmd-xqli li a {
    padding:0 18px;
    display: block;
    color:#555;
}
.nwmd-xqli li.on,.nwmd-xqli li:hover {
    background:#eb9030;
    color:#fff;
}
.nwmd-xqli li.on a,.nwmd-xqli li:hover a{
    color:#fff;
}
.nwmd-xqcont {
    padding-top:60px;
}
.nwmd-xqtp {
    overflow: hidden;
    position: relative;
    -moz-border-bottom-right-radius: 36px;
    -ms-border-bottom-right-radius: 36px;
    -webkit-border-bottom-right-radius: 36px;
    -o-border-bottom-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background:#f3f3f3;
    -moz-border-top-left-radius: 36px;
    -ms-border-top-left-radius: 36px;
    -webkit-border-top-left-radius: 36px;
    -o-border-top-left-radius: 36px;
    border-top-left-radius: 36px;
}
.nwmd-xqle {
    width: 40%;
    overflow: hidden;
    float: left;
}
.nwmd-xqle img{
    max-width: 100%;
}
.nwmd-xq .nwmd-xqcont:nth-of-type(2n+1) .nwmd-xqtp .nwmd-xqle{
    float: right;
}
.nwmd-xqlr {
    float: left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width: 60%;
    padding:40px 40px 0;
}
.nwmd-xqtxt {
    font-size:13px;
    color:#777;
    line-height:1.6em;
}
.nwmd-xqtxt p {
    padding-bottom:30px;
}
.nwmd-xqbt {
    padding-top:26px;
}
.nwmd-xqbt li {
    display: inline-block;
    vertical-align: top;
    width:31.6%;
    margin-right:2.6%;
    position: relative;
    -moz-border-top-left-radius: 18px;
    -ms-border-top-left-radius: 18px;
    -o-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    border-top-left-radius: 18px;
    overflow: hidden;
    -moz-border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -ms-border-bottom-right-radius: 18px;
    -o-border-bottom-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-bottom:2.6%;
}
.nwmd-xqbt li:nth-child(3n) {
    margin-right:0;
}
.nwmd-xqbt li p {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    text-align:center;
    font-size:16px;
    color:#fff;
    line-height:2.8em;
}
.nwmd-xqbt {
    font-size: 0;
}
.tit-box {
    text-align:center;
}
.tit-box .en {
    font-size:26px;
    color:#ccc;
    line-height:1.3em;
    font-weight: normal;
    font-family: font;
    text-transform:uppercase;
}
.tit-box .ch {
    font-size:24px;
    color:#555;
    line-height:1.75em;
    font-weight: normal;
}
.tit-box .ch b {
    font-weight: normal;
    color:#cca581;
}
.tit-box span {
    display:inline-block;
    padding:0 40px;
    position:relative;
}
.tit-box span:before,
.tit-box span:after {
    content:"";
    position:absolute;
    top:50%;
    width:140px;
    height:1px;
    background:#eaeaea;
}
.tit-box span:before {
    left:100%;
}
.tit-box span:after {
    right:100%;
}
</style>


 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116445485.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的冠牛</h3>
                <ul class="banner-lis">
                                        <li>
                        <a href="{$site[site_url]}guanyuguanniu">关于冠牛</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}brand">冠牛品牌</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}guanniurongyu">冠牛荣誉</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}zhizao">4.0智造</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}fazhanlicheng">发展历程</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}dongshichangzhici">董事长致辞</a>
                    </li>
                                        </ul>
            </div>
        </div>
  </div> 




<div class="nymain">
       <div class="nwmd-xq">
           <div class="container">
               <div class="tit-box">
                                       <h3 class="en"></h3>
                    <h3 class="ch"><span>冠牛品牌</span></h3>
                       
               </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle">
                            <img src="{$site[site_url]}common/static/image/2018080719103591.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr">
                            <div class="nwmd-xqtxt" id="sucai" tabindex="5000" style="overflow: hidden; outline: none;">
                                <p>
    <span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;">20余</span><span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;">年栉风沐雨，冠牛深刻感悟到：专业是最重要的。做自己最擅长的事，是冠牛人的风格。精于技巧，这不是关键所在，最关键的是冠牛人所领略并加以实践的专业精神。令人感慨的是，总是被模仿</span><span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;">……<br>
</span><span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;">为了在以实木门为主导的整体家居行业中出类拔萃，登峰造极，冠牛博采众家之长，精心打造卓越品质。这是一个梦想的历程。每一款精品木门及柜体家居产品，除了具有无瑕疵的美好外观，还包涵着一种光华内敛、浑然天成的原生气质，这与冠牛人的精神追求相吻合；“止于至善，治木之道”的价值观念不断激励和鞭策着我们，在实木门家居领域，我们抱定必居领先的决心，尽管从未被超越</span><span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;">……<br>
</span><span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;">但是，我们依旧谨小慎微，依旧兢兢</span><span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;"></span><span style="font-size:12px;color:#666666;font-family:SimSun;line-height:2.5;">业业。因为，一个微不足道的细节，既能成就我们的极限品质，也能毁坏我们的坚固城墙。所以，不论行业市场如何地风云变幻，我们将一如既往地坚持自己的品质信念和专业精神，“善治佳木，从容掌门”，并以此作为记载冠牛品牌里程的丰碑！</span> 
</p>                            </div>
                        </div>
                                            </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle" style="padding-right: 0;">
                            <img src="{$site[site_url]}common/static/image/2021051810445232.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr" style="left:0;border-bottom-right-radius: 0;">
                            <div class="nwmd-xqtxt" id="sucai">
                                <h2>
    <span style="color:#E56600;font-family:SimSun;">品牌理念：</span><b><span style="color:#E56600;font-family:SimSun;">善治佳木 良芯筑家</span></b> 
</h2>
<div>
    <b><span style="color:#E56600;"><br>
</span></b> 
</div>
<p class="MsoNormal" align="justify">
    <span style="font-family:SimSun;line-height:2.5;font-size:12px;color:#666666;">“善治”即擅长于治理、制造，“佳木”特指优秀的天然木材，“善治佳木”是冠牛人的掌控品牌的关键所在，体现着止于至善的治木精神，与企业核心理念一脉相承；“良芯”，冠牛20余年来一直专注以天然实木为基材，从门到全屋木作，一直秉持用实木筑起爱家的品牌理念。一贯坚持用天然实木筑造爱家，更是每一位冠牛人的价值观和作为一个木作匠人的良心所在。<br>
</span><span></span> 
</p>                            </div>
                        </div>
                                            </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle">
                            <img src="{$site[site_url]}common/static/image/2018080719362859.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr">
                            <div class="nwmd-xqtxt" id="sucai">
                                <h2>
    <span style="color:#E56600;font-family:SimSun;line-height:1.5;">品牌文化：实木的传承者与创新者</span>
</h2>
<div>
    <span style="color:#E56600;font-family:SimSun;"><br>
</span> 
</div>
<span style="font-family:SimSun;line-height:2.5;"></span> 
<p>
    <span style="font-family:SimSun;font-size:12px;color:#666666;line-height:2.5;">传承是国人的实木情怀，是实木品质的传承。<br>
冠牛在多变的市场中，依然坚守实木本质，<br>
冠牛的坚守与传承绝非因循守旧，<br>
在实木领域20余年的深耕过程中，<br>
冠牛不断地为实木注入新鲜的元素，<br>
不断激发实木的活力，<br>
赋予了实木更多更为前沿的产品价值。<br>
</span> 
</p>                            </div>
                        </div>
                                            </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle" style="padding-right: 0;">
                            <img src="{$site[site_url]}common/static/image/2018080917574081.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr" style="left:0;border-bottom-right-radius: 0;">
                            <div class="nwmd-xqtxt" id="sucai">
                                <h2>
    <span style="color:#E56600;line-height:1.5;">品牌主张</span> 
</h2>
<div>
    <span style="color:#E56600;"><br>
</span> 
</div>
<p>
    <span style="line-height:2.5;"><span style="font-family:SimSun;font-size:12px;color:#666666;">冠牛是一个人，也是一群人，由于对木制品的偏好，对大自然的崇拜，一丝不苟地做自己喜欢做的事情，在劳动中寻找人生的快乐。</span></span><span style="line-height:1.5;"><span style="line-height:2.5;"><span style="font-family:SimSun;font-size:12px;color:#666666;">当大自然的风景被我们做成了产品，如果我们的产品不能成为人们生活中的一道风景，那么我们就是在犯罪。当顾客给予我们为其服务的机会，我们却没能让顾客满意，那么我们个人的价值就不复存在。</span><br>
</span></span><span style="line-height:2.5;font-family:SimSun;font-size:12px;color:#666666;">因此，我们每个人都应该谨记：用一生的精力把木门整体家居产品做精、做深、做透，真正实现为中国千万家庭打造绿色五星级居住空间</span><span style="line-height:1.5;"></span><span style="line-height:2.5;font-family:SimSun;font-size:12px;color:#666666;">。</span> 
</p>
<span style="line-height:2.5;"></span>                            </div>
                        </div>
                                            </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle">
                            <img src="{$site[site_url]}common/static/image/2018080719483522.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr">
                            <div class="nwmd-xqtxt" id="sucai">
                                <p class="MsoNormal" align="justify">
    <span style="color:#E56600;font-family:SimSun;font-size:24px;"><strong>品牌使命</strong></span> 
</p>
<div>
    <strong><span style="font-size:14px;">致力于为用户打造五星级绿色人居空间</span></strong>
</div>
<div>
</div>
<div>
    <span style="color:#E56600;"><br>
</span> 
</div>
<p>
    <span style="line-height:2.5;font-family:SimSun;font-size:12px;color:#666666;">“五星级”代表着“高端的实木材质”、<br>
“高级的服务体验”以及“高档的生活品质”。<br>
“绿色人居”代表着冠牛用天然实木筑就绿色环保的生活居住环境。<br>
“空间”代表着冠牛为用户提供从“木门”到“全屋空间”的解决方案。</span> 
</p>                            </div>
                        </div>
                                            </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle" style="padding-right: 0;">
                            <img src="{$site[site_url]}common/static/image/2019011009425223.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr" style="left:0;border-bottom-right-radius: 0;">
                            <div class="nwmd-xqtxt" id="sucai">
                                <p>
    <span style="color:#E56600;font-family:SimSun;font-size:18px;line-height:36.036px;background-color:#FBF8EF;"><strong>品牌定位：<br>
<span style="color:#666666;"></span><span style="color:#666666;font-size:14px;">高端实木整体家居定制</span><span style="color:#666666;"><br>
<strong><span style="color:#E56600;">品牌原则：</span></strong><span style="color:#E56600;"></span><br>
<span style="font-size:14px;">重诺守信，真材实料，质量第一</span></span></strong></span>
</p>                            </div>
                        </div>
                                            </div>
                                    </div>
                                <div class="nwmd-xqcont">
                    <div class="nwmd-xqtp">
                                                <div class="nwmd-xqle">
                            <img src="{$site[site_url]}common/static/image/2018122115453388.jpg" alt="">
                        </div>
                        <div class="nwmd-xqlr">
                            <div class="nwmd-xqtxt" id="sucai">
                                <p align="justify">
    <span style="font-family:SimSun;color:#E56600;font-size:18px;line-height:1.5;"><strong>品牌标志及释义<br>
<br>
</strong><span style="font-size:12px;line-height:2.5;color:#666666;">冠牛创建于1988年，创始人用自己的生肖属性“牛”作为公司的名称和商标。“牛”的具象图形象征着拓荒牛的精神形象。</span><span style="font-size:12px;line-height:2.5;color:#666666;">“energetic bull”是英文“充满活力的牛”的意思。冠牛标志作为企业信传播的强势符号，它集冠牛企业形象、特征、信誉、文化与一体，启发信息受众的联想和想象，有着超越具体形象更广的艺术空间。冠牛标志以形象的视觉特性进行信息传达为目的，无论从具象与抽象、简洁与精繁、整体与局部、理性与情感等方面无不体现出冠牛标志设计创意构思及视觉表现的高度。表现了冠牛公司的“自强，开拓，务实，诚信”的企业精神，象征着“积极向上和勇往直前”。</span></span> 
</p>
<p>
    <br>
</p>                            </div>
                        </div>
                                            </div>
                                    </div>
                           </div>
       </div>
    </div>

   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





