{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}


.nwmd-xq {
    padding:0px 0 90px;
}
.nwmd-xqli {
    padding-top:20px;
}
.nwmd-xqli li {
    font-size:14px;
    color:#555;
    line-height:2.1em;
    display: inline-block;
    vertical-align: middle;
    margin:0 6px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
    overflow: hidden;
}
.nwmd-xqli {
    text-align:center;
}
.nwmd-xqli li a {
    padding:0 18px;
    display: block;
    color:#555;
}
.nwmd-xqli li.on,.nwmd-xqli li:hover {
    background:#eb9030;
    color:#fff;
}
.nwmd-xqli li.on a,.nwmd-xqli li:hover a{
    color:#fff;
}
.nwmd-xqcont {
    padding-top:60px;
}
.nwmd-xqtp {
    overflow: hidden;
    position: relative;
    -moz-border-bottom-right-radius: 36px;
    -ms-border-bottom-right-radius: 36px;
    -webkit-border-bottom-right-radius: 36px;
    -o-border-bottom-right-radius: 36px;
    border-bottom-right-radius: 36px;
    background:#f3f3f3;
    -moz-border-top-left-radius: 36px;
    -ms-border-top-left-radius: 36px;
    -webkit-border-top-left-radius: 36px;
    -o-border-top-left-radius: 36px;
    border-top-left-radius: 36px;
}
.nwmd-xqle {
    width: 40%;
    overflow: hidden;
    float: left;
}
.nwmd-xqle img{
    max-width: 100%;
}
.nwmd-xq .nwmd-xqcont:nth-of-type(2n+1) .nwmd-xqtp .nwmd-xqle{
    float: right;
}
.nwmd-xqlr {
    float: left;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width: 60%;
    padding:40px 40px 0;
}
.nwmd-xqtxt {
    font-size:13px;
    color:#777;
    line-height:1.6em;
}
.nwmd-xqtxt p {
    padding-bottom:30px;
}
.nwmd-xqbt {
    padding-top:26px;
}
.nwmd-xqbt li {
    display: inline-block;
    vertical-align: top;
    width:31.6%;
    margin-right:2.6%;
    position: relative;
    -moz-border-top-left-radius: 18px;
    -ms-border-top-left-radius: 18px;
    -o-border-top-left-radius: 18px;
    -webkit-border-top-left-radius: 18px;
    border-top-left-radius: 18px;
    overflow: hidden;
    -moz-border-bottom-right-radius: 18px;
    -webkit-border-bottom-right-radius: 18px;
    -ms-border-bottom-right-radius: 18px;
    -o-border-bottom-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin-bottom:2.6%;
}
.nwmd-xqbt li:nth-child(3n) {
    margin-right:0;
}
.nwmd-xqbt li p {
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    background: rgba(0, 0, 0, 0.6);
    width:100%;
    text-align:center;
    font-size:16px;
    color:#fff;
    line-height:2.8em;
}
.nwmd-xqbt {
    font-size: 0;
}
.tit-box {
    text-align:center;
}
.tit-box .en {
    font-size:26px;
    color:#ccc;
    line-height:1.3em;
    font-weight: normal;
    font-family: font;
    text-transform:uppercase;
}
.tit-box .ch {
    font-size:24px;
    color:#555;
    line-height:1.75em;
    font-weight: normal;
}
.tit-box .ch b {
    font-weight: normal;
    color:#cca581;
}
.tit-box span {
    display:inline-block;
    padding:0 40px;
    position:relative;
}
.tit-box span:before,
.tit-box span:after {
    content:"";
    position:absolute;
    top:50%;
    width:140px;
    height:1px;
    background:#eaeaea;
}
.tit-box span:before {
    left:100%;
}
.tit-box span:after {
    right:100%;
}
</style>


 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116445485.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的冠牛</h3>
                <ul class="banner-lis">
                                        <li>
                        <a href="{$site[site_url]}guanyuguanniu">关于冠牛</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}brand">冠牛品牌</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}guanniurongyu">冠牛荣誉</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}zhizao">4.0智造</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}fazhanlicheng">发展历程</a>
                    </li>
                                            <li>
                        <a href="{$site[site_url]}dongshichangzhici">董事长致辞</a>
                    </li>
                                        </ul>
            </div>
        </div>
  </div> 




<div class="nymain">
    <div class="nwmd-xq">
        <div class="container">
            <div class="tit-box">
                                    <h3 class="en">ABOUT CROWN COW（english）</h3>
                    <h3 class="ch"><span>冠牛荣誉</span></h3>
                    
            </div>

            <div class="nwmd-xqcont">
                <div class="nwmd-xqtp">
                    <div class="nwmd-xqle">
                                                <img src="{$site[site_url]}common/static/image/2019011009172724.jpg" alt="">
                    </div>
                    <div class="nwmd-xqlr">
                        <div class="nwmd-xqtxt">
                            <p align="justify">
    <span style="font-family:宋体;color:#666666;font-size:12px;line-height:2.5;"><span style="font-family:SimSun;color:#666666;line-height:2.5;font-size:12px;">迄今为止，我们所获得的信誉，都是公众对于冠牛品质的认可；我们相信，在品质上持续贯注的严谨精神，在产品开发上的理性思维，在回馈社会上的有效措施，是冠牛赢取消费者信赖的保证，是冠牛产品通行市场的核心优势，更是企业持续发展的根基。</span></span><span style="font-family:宋体;color:black;font-size:12pt;"><br>
<span style="font-family:SimSun;color:#666666;line-height:2.5;font-size:12px;"> 而倾注于冠牛木门上的每一份心力，都归结于冠牛人格守的完美信念，对于公众的首肯与信任，我们感触并激扬着更为专注的心思；我们理解品质之于企业，是持久而坚韧的生命元素，在实木门制造领域内，则昭示着强大竞争力，以及领悟于自然的和谐发展思维。</span></span> 
</p>                        </div>
                    </div>
                                    </div>
                <div class="nwmd-xqbt">
                    <ul>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710530180.jpg" alt="" style="width:100%;">
                                <p>2019深圳知名品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710530063.jpg" alt="" style="width:100%;">
                                <p>2018中国好品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525936.jpg" alt="" style="width:100%;">
                                <p>2018原创设计奖</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525821.jpg" alt="" style="width:100%;">
                                <p>2018示范单位</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525714.jpg" alt="" style="width:100%;">
                                <p>2018十大品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525666.jpg" alt="" style="width:100%;">
                                <p>2018工商联副会长</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525599.jpg" alt="" style="width:100%;">
                                <p>2018常务副会长</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525417.jpg" alt="" style="width:100%;">
                                <p>2017工商联执行会长</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525424.jpg" alt="" style="width:100%;">
                                <p>2017泛家居500强</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525245.jpg" alt="" style="width:100%;">
                                <p>2015中国门业功勋人物</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525277.jpg" alt="" style="width:100%;">
                                <p>2015十大实在品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710525086.jpg" alt="" style="width:100%;">
                                <p>2015十大品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524930.jpg" alt="" style="width:100%;">
                                <p>2015广东著名商标</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524840.jpg" alt="" style="width:100%;">
                                <p>2013主席单位</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524747.jpg" alt="" style="width:100%;">
                                <p>2013广东省名牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524617.jpg" alt="" style="width:100%;">
                                <p>2012中国好门窗</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524579.jpg" alt="" style="width:100%;">
                                <p>2012十大品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524348.jpg" alt="" style="width:100%;">
                                <p>2012人文设计金奖</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524371.jpg" alt="" style="width:100%;">
                                <p>2012木材流通协会副会长</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524315.jpg" alt="" style="width:100%;">
                                <p>2012常务副会长单位</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524293.jpg" alt="" style="width:100%;">
                                <p>2011经销商推荐品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524144.jpg" alt="" style="width:100%;">
                                <p>2010设计金奖</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524121.jpg" alt="" style="width:100%;">
                                <p>2009年度30强</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710524033.jpg" alt="" style="width:100%;">
                                <p>2008副会长单位</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710523942.jpg" alt="" style="width:100%;">
                                <p>2006十大品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710523968.jpg" alt="" style="width:100%;">
                                <p>2006设计师推荐品牌</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710523837.jpg" alt="" style="width:100%;">
                                <p>2006常务理事单位</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022710523737.jpg" alt="" style="width:100%;">
                                <p>中国木门健康认证</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022711163641.jpg" alt="" style="width:100%;">
                                <p>长城质量管理体系认证证书</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022711163675.jpg" alt="" style="width:100%;">
                                <p>实用新型专利1</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022711002245.jpg" alt="" style="width:100%;">
                                <p>实用新型专利2</p>

                            </li>
                                                    <li style="width: 100%;width: 22% !important;height: auto;margin-right:2%">
                                <img src="{$site[site_url]}common/static/image/2019022711001913.jpg" alt="" style="width:100%;">
                                <p>实用新型专利3</p>

                            </li>
                                            </ul>
                </div>
            </div>
        </div>
    </div>
</div>

   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





