{m:include "index","header"}
<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}



.zxzx {
    background:#f1f1f1;
    padding:60px 0;
}
.zxzx-list li {
    position:relative;
    margin-bottom:30px;
}
.zxzx-list .li-img {
    width:47.5%;
}
.zxzx-list .li-con {
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:1% 3.3%;
    font-size:0;
    position:absolute;
    width:52.5%;
    top:0;
    height:100%;
    background:#fff;
}
.zxzx-list li:nth-child(2n+1) .li-con {
    left:47.5%;
}
.zxzx-list li .li-con:before {
    content: "";
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0;
}
.zxzx-list .li-time {
    font-size:14px;
    color:#777;
    line-height:2.3em;
}
.zxzx-list .li-tit {
    font-size:18px;
    color:#555;
    line-height:2em;
    font-weight:normal;
    padding-bottom:16px;
}
.zxzx-list .li-txt {
    font-size:14px;
    color:#777;
    line-height:2em;
}
.zxzx-list .li-inn {
    display:inline-block;
    vertical-align: middle;
}
.zxzx-list li:hover .li-tit {
    color:#eb9030;
}
.zxzx-list li:nth-child(2n) .li-img {
    padding-left:52.5%;
}
.zxzx-list li:nth-child(2n) .li-con {
    left:0;
}
.zxzx-list .li-arr {
    top:11.5%;
    position:absolute;
    width:0;
    height:0;
    border-top:24px solid transparent;
    border-bottom:24px solid transparent;
}
.zxzx-list li:nth-child(2n+1) .li-arr {
    border-right:28px solid #fff;
    right:100%;
}
.zxzx-list li:nth-child(2n) .li-arr {
    left:100%;
    border-left:28px solid #fff;
}
.zxzx-list {
    padding-bottom:20px;
}
.fenye{width: 55%;text-align: center;margin: 0 auto;padding: 80px 0;}
.fenye li{
    display: inline;
    margin:5px;
}

</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116493186.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">资讯中心</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}gongsixinwen">公司新闻</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}pinpaihuodong">品牌活动</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}xingyezixun">行业资讯</a>
                        </li>
                                        </ul>
            </div>
        </div>
  </div> 


      <div class="nymain">
                <div class="zxzx">
            <div class="container">
                <ul class="zxzx-list">
                                        <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=258">
                            <div class="li-img">
                                <img width="570px" height="auto" src="{$site[site_url]}common/static/image/2021011116364951.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2021/03/15</div>
                                    <h3 class="li-tit">冠牛受邀参与3·15中国家居消费论坛</h3>
                                    <div class="li-txt">
                                        <p>3月15日,由中国质量报刊社主办的3·15中国家居消费论坛暨质量诚信承诺宣言主题活动在广东东莞成功举办。</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                     <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=250">
                            <div class="li-img">
                                <img width="525px" height="auto" src="{$site[site_url]}common/static/image/2021011116364951.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2021/01/11</div>
                                    <h3 class="li-tit">回顾2020，展望2021 | 我“门”的这一年</h3>
                                    <div class="li-txt">
                                        <p>依依惜别硕果累累的2020年<br><br>展开双臂迎接崭新的2021年<br><br>回顾我“门”的点滴光影<br><br>回味我“门”的荣耀时刻</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                                            <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=260">
                            <div class="li-img">
                                <img width="570px" height="auto" src="{$site[site_url]}common/static/image/2021011116364951.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2020/12/25</div>
                                    <h3 class="li-tit">特聘冠牛董事长庞军先生为中国家居质量研究院质量专家委员</h3>
                                    <div class="li-txt">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                                            <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=261">
                            <div class="li-img">
                                <img width="525px" height="auto" src="{$site[site_url]}common/static/image/2021011116364951.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2020/12/09</div>
                                    <h3 class="li-tit">2020年中国木门窗企业家峰会在广东·中山&amp;珠海成功召开。</h3>
                                    <div class="li-txt">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                                            <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=249">
                            <div class="li-img">
                                <img width="570px" height="auto" src="{$site[site_url]}common/static/image/2020112516465825.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2020/11/25</div>
                                    <h3 class="li-tit">冠牛再获2020年度木门行业“金智奖”殊荣</h3>
                                    <div class="li-txt">
                                        <p>2020第八届中国木门技术大会上，冠牛木门·整体家居再次斩获由中国木门技术联盟颁发的2020年度木门行业工艺技术金智奖，这是继2019年第七届中国木门技术大会以“实木门芯材防变形结构”获得工艺技术金智奖后，冠牛再次蝉联该奖项。</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                                            <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=248">
                            <div class="li-img">
                                <img width="525px" height="auto" src="{$site[site_url]}common/static/image/2020112417445890.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2020/11/24</div>
                                    <h3 class="li-tit">做智慧“牛商”，冠牛商学院新商培训营圆满落幕</h3>
                                    <div class="li-txt">
                                        <p>冠牛商学院新商10月期培训营圆满落幕。来自全国各地的新冠牛家人齐聚在江苏宿迁新生产基地，共同经历了一次难忘的系统性学习培训。他们自安徽、广西、福建、浙江、山东、河北等省份地区，最远的甚至来自西藏拉萨。其中有店长、设计师、导购等，50余人组成的“新生班”在商学院开启了冠牛职业生涯“第一课”。</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                                            <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=247">
                            <div class="li-img">
                                <img width="570px" height="auto" src="{$site[site_url]}common/static/image/2020102210064446.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2020/10/22</div>
                                    <h3 class="li-tit">冠牛新品升级体验季：良“芯”筑家 实木极简“材”是真高端</h3>
                                    <div class="li-txt">
                                        <p>“实木”是冠牛的标签。拥有20余年实木设计与生产的冠牛，在实木产品的打造上自然有着独到之处。在冠牛超级工厂，从天然木材的储备到木工车间的匠心，再到新品样板间的惊艳亮相，无一不显示出冠牛在实木细分领域的强大实力。</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                                            <li>
                        <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=246">
                            <div class="li-img">
                                <img width="525px" height="auto" src="{$site[site_url]}common/static/image/2020090217363360.jpg" alt="">
                            </div>
                            <div class="li-con">
                                <div class="li-arr"></div>
                                <div class="li-inn">
                                    <div class="li-time">2020/09/02</div>
                                    <h3 class="li-tit">凝聚品牌力量“冠牛”品牌连续12年获评深圳知名品牌</h3>
                                    <div class="li-txt">
                                        <p>深圳建立特区40周年之际，及政府提出经济内循环的新格局之下，第四届“深圳国际品牌周”系列活动之第十七届深圳知名品牌颁奖盛会于2020年8月28日在深圳广电演播大厅隆重举行。冠牛副总裁庞晓良女士应邀出席该项颁奖活动，并获颁“深圳知名品牌”奖项。</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                        
                </ul>
                <div class="fenye">
                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tbody><tr>
                            <td>
                                <li><a href="http://www.szguanniu.com/news.php?page=1">上一页</a></li><li><a href="http://www.szguanniu.com/news.php?page=1">1</a></li><li class="current"><a>2</a></li><li><a href="http://www.szguanniu.com/news.php?page=3">3</a></li><li><a href="http://www.szguanniu.com/news.php?page=4">4</a></li><li><a href="http://www.szguanniu.com/news.php?page=5">5</a></li><li><a href="http://www.szguanniu.com/news.php?page=6">6</a></li><li><a href="http://www.szguanniu.com/news.php?page=7">7</a></li><li><a href="http://www.szguanniu.com/news.php?page=8">8</a></li><li><a href="http://www.szguanniu.com/news.php?page=9">9</a></li><li style="margin:0;"><a href="http://www.szguanniu.com/news.php?page=3">下一页</a></li><style type="text/css">
                    .fenye {color: #aaa;padding:0;font-family:Verdana;font-size:12px;font-weight:bold;}
                    .fenye ul{list-style: none;margin:0px;padding:0px;text-align:left;}
                    .fenye li {display: inline-block;*display:inline;margin: 0 5px 0 0;}
                    .fenye li a {color: #c0c0c0;padding:1px 5px 2px 5px;border: 1px solid #606060;text-decoration: none;background-color:#000;}
                    .fenye li a:hover {color: #ffffff;border:1px solid #e4e4e4;background:#606060;}
                    .fenye li.current a{color: #ffffff;border:1px solid #999999;background:#606060;}
                    .fenye li.current a:hover{color: #ffffff;border:1px solid #999999;background:#606060;}
                    .fenye li.nolink  a{color: #808081;border:1px solid #606060;background:#606060;}
                    .fenye li.nolink  a:hover{color: #808081;border:1px solid #606060;background:#606060;}
                  </style>                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <!-- 与 <p class="page">
                   <a href="" class="prev">&lt;</a>
                   <a href="" class="num on"></a>
                    <a href="" class="num"></a>
                    <a href="" class="num"></a>
                    <a href="" class="next">&gt;</a>
                </p>-->
            </div>
        </div>
    </div>



   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





