{m:include "index","header"}

<style>
.banner {
    width: 100%;
    height: 20rem;
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:45%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}



.zxxq-inn {
    margin:36px 0 60px;
}
.zxxq-le {
    padding-right:380px;
}
.zxxq-tit {
    font-size:30px;
    color:#555;
    line-height:1.9em;
    font-weight: normal;
    text-align:center;
}
.zxxq-tip {
    font-size:14px;
    color:#999;
    line-height:2.5em;
    text-align:center;
}
.zxxq-tip span {
    padding:0 12px;
    display: inline-block;
}
.zxxq-tip .icon {
    display:inline-block;
    width:19px;
    height:12px;
    background:url({$site[site_url]}common/static/image/ico.png) no-repeat;
    vertical-align: middle;
    margin-right:8px;
}
.zxxq-icon {
    padding:20px 0 36px;
}
.zxxq-icon {
    text-align:center;
}
.zxxq-icon li {
    display:inline-block;
    vertical-align: middle;
    width:12px;
    margin:0 10px;
}

.zxxq-icon li .img2 {
    display: none;
}
.zxxq-icon li:hover .img1{
    display:none;
}
.zxxq-icon li:hover .img2 {
    display: inline-block;
}
.zxxq-txt {
    font-size:14px;
    color:#777;
    line-height:2em;
    padding-bottom:50px;
}
.zxxq-img {
    text-align:center;
}
.zxxq-box {
    padding-bottom:66px;
}
.qheh {
    font-size:14px;
    color:#444;
    line-height:1.8em;
    padding-top:26px;
    border-top:1px solid #f1f1f1;
}
.qheh a {
    color:#444;
}
.qheh .le {
    float:left;
    width:50%;
}
.qheh .lr  {
    float:left;
    width:50%;
}
.zxxq-inn{
    position: relative;
}
.zxxq-lr {
    position: absolute;
    right: 0;
    top:0;
    padding-top:20px;
    width:320px;
}
.zxxq-lr a:hover{
  text-decoration: none;
}
.zxxq-lrti {
    font-size:20px;
    color:#444;
    line-height: 1.5em;
    text-align:center;   
    font-weight: normal;
    text-align:center;
}
.zxxq-lrti span {
    padding-bottom:10px;
    display: inline-block;
    border-bottom:1px solid #cba580;
}
.zxxq-lrli {
    padding-top:36px;
}
.zxxq-lrli .li-img {
    border:1px solid #f1f1f1;
}
.zxxq-lrli p {
    font-size:14px;
    color:#444;
    line-height: 2em;
    padding:16px 0 36px;
}
.zxxq-bg {
    position: absolute;
    right: 354px;
    top:0;
    width:1px;
    height: 100%;
    background:#f1f1f1;
}
.zxxq {
    position: relative;
}
.zxxq .container {
   padding-top:1px;
   padding-bottom: 1px;
    position: relative;
}


.wmxq-qh {
    font-size: 18px;
    color:#555;
    line-height: 2em;
    padding:10px 25px;
    overflow: hidden;
}
.wmxq-qh .le,
.wmxq-qh .lr {
    float: left;
    width: 50%;
}
.wmxq-qh a {
    color:#555;
}
.wmxq-qh a:hover {
    color:#cba580;
    text-decoration: none;
}
.wmxq-tp {
    border-bottom:2px solid #f1f1f1;
}
.wmxq-min li{
    position: relative;
}
.wmxq-min li:before {
    content:"";
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    border:3px solid #eb9030;
    display: none;
}
.wmxq-min li.cur::before{  
    display: block;
}
.wmxq-min ul {
    position: relative;
}
.nymain{
    position: relative;
    top: 0.5rem;
}
.li-img img{
    max-width: 100%;
}
</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116493186.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">资讯中心</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}gongsixinwen">公司新闻</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}pinpaihuodong">品牌活动</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}xingyezixun">行业资讯</a>
                        </li>
                                        </ul>
            </div>
        </div>
  </div> 


    <div class="nymain">
        <div class="zxxq">
            <div class="container">
                <div class="zxxq-bg"></div>
                <div class="zxxq-inn">
                                        <div class="zxxq-le">
                        <h3 class="zxxq-tit">{$title}</h3>
                        <p class="zxxq-tip"><span>冠牛木门</span><span>{date('Y/m/d H:i:s',$updatetime)}</span><span><i class="icon"></i>阅读 {$click}</span></p>
                        <div class="zxxq-icon">
                            <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1678333892306">
                            <ul>

                                <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_more" data-cmd="more"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                                </li>
                                <li>
                                    <a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=277#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                </li>
                            </ul></div>
                        </div>
                         {$content}

                                               <div class="wmxq-qh">
                                                            <span class="le"><a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=154">上一条：{$pre} </a> </span>                                                            <span class="lr"><a href="http://www.szguanniu.com/news_show.php?id=43&amp;uid=278">下一条：{$next}</a> </span>
                                                        </div>
                    </div>
                                            <div class="zxxq-lr">
                        <h3 class="zxxq-lrti"><span>相关新闻</span></h3>
                        <ul class="zxxq-lrli">
                            {m:lists field="title,url,thumb" catid="$catid" limit="3" }<!-- flag="4" -->
                            {loop $data $v}
                                                        <li>
                                <a href="{$v[url]}">
                                    <div class="li-img">
                                        <img src="{get_thumb($v['thumb'])}" alt="{$v[title]}">
                                    </div>
                                    <p>{$v[title]} </p>
                                </a>
                            </li>
                            {/loop}

                                                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>





   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





