    </div>
    <div class="clearfix"></div>
	<div class="yzm-container-box yzm-footer">
		<div>
			<!-- 为了支持YzmCMS的发展,请您保留YzmCMS内容管理系统的链接信息,谢谢! -->
			<p>{$site[site_filing]} {$site[site_security_number]} {$site[site_code]} <a href="{U('guestbook/index/init')}" target="_blank">留言板</a> | <a href="{$site[site_url]}index.php?m=mobile">手机版</a></p>
			<p>{$site[site_copyright]}</p>
			<p>Powered by <a href="http://www.yzmcms.com" target="_blank">YzmCMS</a> © 2014-2023</p>
		</div>
	</div>
  </body>
</html>