{m:include "index","header"}
    <!--Top-IMG-->
    <div class="top-img" style="background-image: url({get_category($catid, 'catimg')})">
        <div class="cont">
            <h2>{get_catname($catid)}</h2>
        </div>
    </div>
    <!--单页内容-->
    <div class="cont">
        <div class="row">
            <div class="page-content">
                {$content}
            </div>
        </div>
    </div>

	{m:include "index","footer"}
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>