{m:include "index","header"}
<style>
.banner {
    position:relative;
    height: 20rem;
}
.banner img {
    width:100%;
    height: 100%;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
    position:absolute;
    left:0;
    top:50%;
    width:100%;
    text-align:center;
    z-index: 888;font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    height: 18rem;
}

.nwod-box {
    padding:84px 0 96px;
    font-size:0;
}
.nwod-img {
    width:51.6%;
    display:inline-block;
    vertical-align:middle;
}
.nwod-cont {
    width:48.4%;
    display:inline-block;
    vertical-align: middle;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    text-align:center;
}
.nwod-box:nth-child(2n+1) .nwod-cont {
    padding-left:4.5%;
}
.nwod-box:nth-child(2n) .nwod-cont {
    padding-left:4.5%;
}
.nwod-icon {
    margin:0 auto;
    width:125px;
    height:125px;
    border:2px solid #ddd;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
}
.nwod-tit {
    font-size:24px;
    color:#555;
    line-height:1.8em;
    font-weight:normal;
    padding:16px 0;
}
.nwod-txt {
    font-size:14px;
    color:#777;
    line-height:2em;
    padding-bottom:50px;
}
.nwod-xq {
    font-size:14px;
    color:#555;
    line-height:2.6em;
    display:inline-block;
    padding:0 36px;
    border:1px solid #ccc;
    -moz-border-radiud:3px;
    -webkit-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
    -webkit-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
}
.nwod-box a:hover .nwod-xq {
    color:#fff;
    background:#cca581;
    border:1px solid #cca581;
}
.nwod-img {
    -moz-border-top-left-radius: 26px;
    -webkit-border-top-left-radius: 26px;
    -ms-border-top-left-radius: 26px;
    -o-border-top-left-radius: 26px;
    border-top-left-radius: 26px;
    -moz-border-bottom-right-radius:26px;
    -ms-border-bottom-right-radius:26px;
    -webkit-border-bottom-right-radius:26px;
    -o-border-bottom-right-radius:26px;
    border-bottom-right-radius:26px;
    overflow: hidden;
}
.nwod-box {
    border-bottom:10px solid #f1f1f1;
}
.nwod-icon .img2 {
    display: none;
}
.nwod-box a:hover .nwod-icon .img2 {
    display: inline-block;
}
.nwod-box a:hover .nwod-icon .img1 {
    display: none;
}
.nwod-box a:hover .nwod-icon {
    border:2px solid #cca581;
}


</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116445485.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">关于冠牛</h3>
                <ul class="banner-lis">
                                        <li>
                        <a href="http://test123.com/about#wod1">关于冠牛</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod2">冠牛品牌</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod3">冠牛荣誉</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod4">4.0智造</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod5">发展历程</a>
                    </li>
                                            <li>
                        <a href="http://test123.com/about#wod6">董事长致辞</a>
                    </li>
                                        </ul>
            </div>
        </div>
  </div> 



   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





