{m:include "index","header"}
    <!--Top-IMG-->
    <div class="top-img" style="background-image: url({get_category($catid, 'catimg')})">
        <div class="cont">
            <h2>{get_catname($catid)}</h2>
        </div>
    </div>
    <!--菜单栏目-->
    <div class="nav-btn">
        <div class="cont">
            <i class="fa fa-home" aria-hidden="true"></i>
            {get_location($catid)}
        </div>
    </div>
    <!--成功案例-->
    <div class="cont">
        <div class="row">
			{m:lists field="title,thumb,url,inputtime,catid" modelid="1" catid="$catid" limit="9" page="page"}
            {loop $data $v}
            <div class="gj-sm-6 gj-md-4">
                <div class="case-list">
                    <div class="list">
                        <img src="{get_thumb($v['thumb'])}" alt="">
                        <div class="shx">
                            <h4>{str_cut($v['title'], 72)}</h4>
                            <p>{date('Y-m-d',$v['inputtime'])}</p>
                            <a href="{$v[url]}">查看详情</a>
                        </div>
                    </div>
                </div>
            </div>
			{/loop}
            <nav class="gj-page">
                {$pages}
            </nav>
        </div>
    </div>

    {m:include "index","footer"}
	<!--动态添加页面背景-->
	<script>
		$(function(){
			$("body").css("background-color","rgb(245, 245, 245)")
		})
	</script>
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>