{m:include "index","header"}
    <!--Top-IMG-->
    <div class="search" style="background-image: url({STATIC_URL}guojian/images/top_img7.jpg)">
        <div class="cont">
            <h3>{$site[site_name]}</h3>
            <p>搜索一下，你就知道！</p>
            <form action="{U('search/index/init')}">
                <input type="hidden" name="modelid" value="1" id="modelid">
                <input class="sousuo" type="text" name="q" placeholder="请输入搜索关键词...">
                <button class="sousuo" id="searchbtn" type="submit"><i data-brackets-id="6601" class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
    <!--菜单栏目-->
    <div class="nav-btn">
        <div class="cont">
            <i class="fa fa-home" aria-hidden="true"></i>
            <a href="javascript:(0)">首页</a> &gt;
            <a href="javascript:(0)">搜索结果</a>
        </div>
    </div>
    <div class="cont">
        <div class="row">
            <div class="gj-md-9">
                <!--新闻列表-->
                <div class="gj-search">
                    <p>“<span style="color: red;margin: 0 5px;">{$q}</span>”的结果，共<span style="color: red;margin: 0 5px;">{$total}</span>条</p>
                </div>
                <div class="news-lists">
					{loop $search_data $v}
                    {php $v['color_title'] = str_ireplace($q, "<span style='color:red;'>$q</span>", $v['title']);}
                    {php $v['description'] = str_ireplace($q, "<span style='color:red;'>$q</span>", $v['description']);}
                    <div class="news-list gclear">
                      <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                        <div class="text">
                          <a href="{$v[url]}">
                                <h3>{$v[color_title]}</h3>
                            </a>
                            <p class="hidd-xs">{$v[description]}</p>
                            <span>{date("Y-m-d",$v['updatetime'])}</span><span><i class="fa fa-eye" aria-hidden="true"></i> {$v[click]}</span>
                        </div>
                    </div>
                    {/loop}
                  <nav class="gj-page">
                        {$pages}
                  </nav>
                </div>
            </div>
            <div class="hidd-xs hidd-sm gj-md-3">
                <!--侧边栏-->
                <div class="sidebar">
                    <div class="side-nav">
                        <ul>
                            <li>所有新闻</li>
                            {php $r = get_childcat(7);}
	                    	{loop $r $v}
                            <li><a href="{$v[pclink]}">{$v[catname]}</a></li>
							{/loop}
                      </ul>
                    </div>
                    <div class="side-list">
                        <h4>推荐精选</h4>
                        <ul>
                            {m:lists field="title,url,catid" modelid="1" limit="6" flag="4"}
							{loop $data $v}
                            <li><a href="{$v[url]}">{str_cut($v['title'], 50)}</a></li>
                            {/loop}
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {m:include "index","footer"}
	<script>
		$(function(){
			$(".gj-ss1").css("display","none");
		})
	</script>
<!--GJ-UI组件模块js代码结束-->

</body>

</html>