{m:include "index","header"} 
<style>
	.join {-webkit-box-shadow: 0 0 2px #ddd;box-shadow: 0 0 2px #ddd;padding: 15px;margin: 10px 0;}
	.join td {display: block;margin-bottom: 1rem;}
	.diyform_table {width: 100%;margin: 0 auto;}
	.join h3,.join p {text-align: center;}
</style>
        <div class="cont">
			<div class="row">
				<div class="gj-lg-8">
					<div class="gj-join-in">
					<div class="join">
            			<div class="ind_bt col46">{$location}</div>
			  			<h3>{$title}</h3>
			  			<p>注意：加星号（*）项为必填项！</p>
			  			<form action="{U('index/post')}" method="post" onsubmit="return checkall()">
							<input type="hidden" name="modelid" value="{$modelid}">
							<table class='diyform_table'>
								{loop $fieldstr $val}		
						 		{$val}
								{/loop}
								{if $modelinfo['check_code']}
								验证码<span class="red">*</span>
									<div class="bd"><input name="code" type="text" class="bd input_text"></div>
									<img src="{U('api/index/code')}" onclick="this.src=this.src+'?'" style="cursor:pointer;" title="看不清？点击更换">
								{/if}		
								<td><button type="submit" name="dosubmit" value="提交留言">提交留言</button></td>
							</table>
						</form> 
					</div>
						</div>
				</div>
				<div class="gj-lg-4">
					<div class="sidebar">
                    	<div class="side-list">
                        	<h4>点击排行</h4>
                        		<ul>
									{m:hits field="title,url" modelid="1" limit="8"}
									{loop $data $v}	
                            		<li><a href="{$v[url]}">{str_cut($v['title'], 81)}</a></li>
                            		{/loop}	
                        		</ul>
                    	</div>
                	</div>
				</div>
			</div>
		</div>
</div>
		
<script type="text/javascript">

	function checkall(){

		//form必填字段的验证
		{loop $field_check $k=>$v}
			{if ($v['isrequired'] && in_array($v['fieldtype'], array('input', 'textarea')))}
			if($("{$v[fieldtype]}[name='{$k}']").val()==''){
				layer.alert("{$v[errortips]}");
				return false;
			}
			{/if}		
		{/loop}
			
		//验证码的验证
		if($("input[name='code']").val()==''){
			layer.alert("验证码不能为空!");
			return false;
		}
		return true;
	}
</script>		 
{m:include "index","footer"} 
</body>

</html>