{m:include "index","header"}
	<style type="text/css">
		.top-img,.nav-btn,.product-show .pt-head h2{display: none;}
		@media (min-width:768px) {.top-img,.nav-btn,.product-show .pt-head h2{display: block;}}
	</style>
    <!--Top-IMG-->
    <div class="top-img" style="background-image: url({get_category($catid, 'catimg')})">
        <div class="cont">
            <h2>{get_catname($catid)}</h2>
        </div>
    </div>
    <!--菜单栏目-->
    <div class="nav-btn">
        <div class="cont">
            <i class="fa fa-home" aria-hidden="true"></i>
            {get_location($catid)}
        </div>
    </div>
    <!--产品中心-内容-->
    <div class="product-show">
        <div class="cont">
            <div class="row">
                <div class="pt-show">
                    <div class="pt-head">
                        <h2>{$title}</h2>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
								{php $pictures = string2array($pictures);}
								{loop $pictures $v}
                                <div class="swiper-slide"><img src="{$v[url]}"></div>
								{/loop}
                            </div>
                            <div class="swiper-pagination hidd-sm hidd-md hidd-lg"></div>
                            <div class="swiper-button-prev btn"><i class="fa fa-angle-left" aria-hidden="true"></i> 上一页</div>
                            <div class="swiper-button-next btn"><i class="fa fa-angle-right" aria-hidden="true"></i> 下一页</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cont">
        <div class="row">
            <div class="gj-md-8">
                <div class="pt-body">
                    <div class="bt hidd-md hidd-lg"><h3>产品属性</h3></div>
                    <div class="body shx hidd-md hidd-lg">
                        <ul>
                            <li><b>品名：</b>{$title}</li>
                            <li><b>品牌：</b>{$brand}</li>
                            <li><b>单价：</b><span>￥{$price}元</span>/{$unit}</li>
                            <li><b>型号：</b>{$standard}</li>
                            <li><b>库存：</b>{$stock}</li>
                            <li><b>产地：</b>{$yieldly}</li>
                        </ul>
                    </div>
                    <div class="bt">
                        <h3>产品详情</h3>
                    </div>
                    <div class="body">
                        {$content}
                    </div>
                </div>
            </div>
            <div class="gj-md-4">
                <div class="pt-sidebar hidd-xs hidd-sm">
                    <div class="bt"><h3>产品属性</h3></div>
                    <div class="body">
                        <ul class="shx">
                            <li><b>品名：</b>{$title}</li>
                            <li><b>品牌：</b>{$brand}</li>
                            <li><b>单价：</b><span>￥{$price}元</span>/{$unit}</li>
                            <li><b>型号：</b>{$standard}</li>
                            <li><b>库存：</b>{$stock}</li>
                            <li><b>产地：</b>{$yieldly}</li>
                        </ul>
                    </div>
                </div>
                <div class="pt-sidebar">
                    <div class="bt">
                        <h3>推荐产品</h3>
                    </div>
                    <div class="body">
						{m:lists field="title,url,thumb,price" modelid="2" limit="4" flag="4"}
						{loop $data $v}
                        <div class="pt-list">
                            <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt=""></a>
                            <div class="shx">
                                <a href="{$v[url]}">
                                    <h4>{str_cut($v['title'], 100)}</h4>
                                </a>
                                <p>￥{$v[price]}元</p>
                            </div>
                        </div>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {m:include "index","footer"}
    <!--产品轮播图js-->
    <script>
        var swiper = new Swiper('.pt-head .swiper-container', {
            slidesPerView: 'auto',
            allowTouchMove: true,
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.pt-head .swiper-button-next',
                prevEl: '.pt-head .swiper-button-prev',
            },
        });
    </script>
    <!--禁止图片保存与拖拽-->
    <script>
        $(function() {
            var imgs = $(".pt-body img");
            imgs.on("contextmenu", function() {
                return false;
            });
            imgs.on("dragstart", function() {
                return false;
            });
        })
    </script>
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>