{m:include "index","header"}
<style>
.banner {
    width: 100%;
     /* height: 20rem; */
    position:relative;
    top: 4.1rem;
}
.banner img {
    width:100%;
    height: 16rem;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:16rem;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
   position:absolute;
   transform: translateY(-50%);
   left:0;
   top:62%;
   width:100%;
   text-align:center;
   z-index: 888;
   font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
	position: relative;
	margin-top: 4rem;
	width: 100%;
}



.zxzx {
    background:#f1f1f1;
    padding:60px 0;
}
.zxzx-list li {
    position:relative;
    margin-bottom:30px;
}
.zxzx-list .li-img {
    width:47.5%;
}
/*.li-img img{
    max-width: 100%;
}*/
.zxzx-list .li-con {
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:1% 3.3%;
    font-size:0;
    position:absolute;
    /*width:52.5%;*/
    width:15.6rem;
    top:0;
    height:100%;
    background:#fff;
}
.zxzx-list li:nth-child(2n+1) .li-con {
    left:47.5%;
}
.zxzx-list li .li-con:before {
    content: "";
    display:inline-block;
    vertical-align:middle;
    height:100%;
    width:0;
}
.zxzx-list .li-time {
    font-size:14px;
    color:#777;
    line-height:2.3em;
}
.zxzx-list .li-tit {
    font-size:18px;
    color:#555;
    line-height:2em;
    font-weight:normal;
    padding-bottom:16px;
}
.zxzx-list .li-txt {
    font-size:14px;
    color:#777;
    line-height:2em;
}
.zxzx-list .li-inn {
    display:inline-block;
    vertical-align: middle;
}
.zxzx-list li:hover .li-tit {
    color:#eb9030;
}
.zxzx-list li:nth-child(2n) .li-img {
    padding-left:52.5%;
}
.zxzx-list li:nth-child(2n) .li-con {
    left:0;
}
.zxzx-list .li-arr {
    top:11.5%;
    position:absolute;
    width:0;
    height:0;
    border-top:24px solid transparent;
    border-bottom:24px solid transparent;
}
.zxzx-list li:nth-child(2n+1) .li-arr {
    border-right:28px solid #fff;
    right:100%;
}
.zxzx-list li:nth-child(2n) .li-arr {
    left:100%;
    border-left:28px solid #fff;
}
.zxzx-list {
    padding-bottom:20px;
}
.fenye{width: 55%;text-align: center;margin: 0 auto;padding: 80px 0;}
.fenye li{
    display: inline;
    margin:5px;
}
.gj-page{
	text-align: center;
    /* position: relative;
    left: 8rem; */
}
.gj-page .pageinfo{
  
    margin: 0px 10px;
    color: #808080;
    font-size: 14px;
    padding: 6px 15px;
    border: 1px solid #aaa;


}
.gj-page a {
    border: 1px solid #aaa;
    background: #fff;
    color: #808080;
    padding: 6px 15px;
    margin-left: 5px;
    transition: all 0.2s;
    font-size: 14px;
}
.gj-page a:hover{
    background: #333;
    color: #fff;
    text-decoration: none;
    border: 1px solid #333;
}
</style>





 <div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116493186.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">资讯中心</h3>
                <!-- <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}gongsixinwen">公司新闻</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}pinpaihuodong">品牌活动</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}xingyezixun">行业资讯</a>
                        </li>
                                        </ul> -->
            </div>
        </div>
  </div> 


    <div class="nymain">
        <div class="zxzx">
            <div class="container">
                <div class="njst-cont">
                   <div class="njst-box" style="display: block;">
                       <div class="njst-txt">
                          <div class="s-con">
                            <ul>
                              <dl>
                                <dt>
                                  <a class="hoover">文件名</a>
                                  <b>上传时间</b>
                                </dt>
                              </dl>
                               {m:download_list limit="20"}
                                  {loop $data $v}                        <dl>
                                <dt>
                                  <a class="hoover">{$v[title]}</a>
                                  <b>{date('Y-m-d',$v[updatetime])}</b>
                                  <a href="{$v[down_url]}" style="color: red;">[下载]</a>
                                </dt>
                              </dl>
                              {/loop}
<!--                                                           <dl>
                                <dt>
                                  <a class="hoover">下载测试1</a>
                                  <b>2019-01-12</b>
                                  <a href="http://www.szguanniu.com/files_down.php?id=1" style="color: red;">[下载]</a>
                                </dt>
                              </dl> -->
                                       
                            </ul>
                          </div>
                       </div>
                   </div>
                   
               </div>
                <div class="fenye">
                    <table border="0" cellpadding="0" cellspacing="0" align="center">
                        <tbody><tr>
                            <td>
                                <li class="nolink"><a>上一页</a></li><li class="current"><a>1</a></li><li class="nolink" style="margin:0;"><a>下一页</a></li><style type="text/css">
                  /*  .pages {color: #aaa;padding:0;font-family:Verdana;font-size:12px;font-weight:bold;}
                    .pages ul{list-style: none;margin:0px;padding:0px;text-align:left;}
                    .pages li {display: inline-block;*display:inline;margin: 0 5px 0 0;}
                    .pages li a {color: #c0c0c0;padding:1px 5px 2px 5px;border: 1px solid #606060;text-decoration: none;background-color:#000;}
                    .pages li a:hover {color: #ffffff;border:1px solid #e4e4e4;background:#606060;}
                    .pages li.current a{color: #ffffff;border:1px solid #999999;background:#606060;}
                    .pages li.current a:hover{color: #ffffff;border:1px solid #999999;background:#606060;}
                    .pages li.nolink  a{color: #808081;border:1px solid #606060;background:#606060;}
                    .pages li.nolink  a:hover{color: #808081;border:1px solid #606060;background:#606060;}*/
                  </style>                            </td>
                        </tr>
                    </tbody></table>
                </div>
                <!-- 与 <p class="page">
                   <a href="" class="prev">&lt;</a>
                   <a href="" class="num on"></a>
                    <a href="" class="num"></a>
                    <a href="" class="num"></a>
                    <a href="" class="next">&gt;</a>
                </p>-->
            </div>
        </div>
    </div>



   {m:include "index","footer"}



    <script type="text/javascript">

    

    </script>





