{m:include "index","header"}
<style>
.li-icon img{
	width: 100%;
}
.myfw-list{
	padding: 0px;
}
.banner {
    width: 100%;
     /* height: 20rem; */
    position:relative;
    /* top: 4.1rem; */
}
.banner {
    position:relative;
     /* height: 20rem; */
}
.banner img {
    width:100%;
    height: 100%;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
   position:absolute;
   transform: translateY(-50%);
   left:0;
   top:62%;
   width:100%;
   text-align:center;
   z-index: 888;
   font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position: relative;
    margin-top: 4rem;
    width: 100%;
}


.myfw {
    padding:80px 0 140px;
}
.myfw-list {
    font-size:0;
}
.myfw-list li {
    display:inline-block;
    vertical-align: top;
    background:#f3f3f3;
    padding:10px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    width:32.5%;
    margin-right:1.25%;
}
.myfw-list li:nth-child(3n) {
    margin-right:0;
}
.myfw-list .li-con {
    padding-top:12.2%;
    padding-bottom:9.8%;
    text-align:center;
}
.myfw-list .li-icon {
    width:65px;
    height:65px;
    margin:0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border-radius:50%;
    background:#777;
}
.myfw-list .li-con p {
    font-size:22px;
    color:#555;
    line-height:1.5em;
    padding-top:4.8%;
}
.myfw-list li:hover .li-icon {
    background:#eb9030;
}
.myfw-list li:hover p {
    color:#eb9030;
    
}
.myfw-list a:hover{
    text-decoration: none;
}
.li-img img{
    max-width: 100%;
} 
.nymain {
    border-bottom: 30px solid #f1f1f1;
}
@media screen and (max-width:1280px) {
	.banner .banner-img {
		margin-top: 2.6rem;
	}
    .myfw {
        padding: 6.6% 0 11.6%;
    }
}
/* 手机 */
@media screen and (max-width: 769px) { 
    .banner-menu .banner-lis li.on a {
        color: #eb9030;
        background: none;
    }
	.menu-tit {
		display: none;
	}

	.banner .banner-img {
		width: 100%;
		height: auto;
		margin-top: 2.5rem;	
	}

	.banner {
		height: auto !important;
	}

	.banner .banner-menu { transform: translateY(0); border-bottom: 10px solid #f1f1f1;
		position: static;
		top: 0;
	}

	.nwod .nwod-box {
		padding: 7% 0 8%;
	}

	.banner-menu .banner-lis {
		width: 100%;
		text-align: left;
	}

	.banner-menu .banner-lis {
		margin: 0px;
		padding: 0px;
	}
	.myfw .myfw-list li{
		width: 48%;
	}
	.myfw .myfw-list .li-con p {
	    font-size: 16px;
	}
	.myfw .myfw-list .li-icon {
	    width: 38px;
	    height: 38px;
	}
	/*.banner .banner-menu .banner-lis li {*/
	/*	font-size: 12px;*/
	/*}*/
	.banner-menu .banner-lis li {
	    line-height: 40px;
		margin: 0 3% !important;
		font-size: 12px;
	}
	.banner-menu .banner-lis li a {
        margin: 0px;
        padding: 0px;
    }
}
	
@media screen and (max-width: 1024px) {
	.banner-menu .banner-lis li {
	    /*line-height: 40px;*/
		margin: 0 26px 0px 6px;
		/*font-size: 14px;*/
	}

	/*.banner-menu .banner-lis li a {*/
	/*	padding: 0px;*/
	/*}*/
	/*.banner-lis a:hover {*/
	/*	background: none !important;*/
	/*}*/

	/*.banner-menu .banner-lis {*/
	/*	display: block;*/
	/*}*/
	.nwmd-xqtp .nwmd-xqle,.nwmd-xqtp .nwmd-xqlr{
		width: 100%;
	}
	.nwmd-xqtp  .nwmd-xqlr{
		padding-top: 15px;
	}
}
</style>





<div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116475788.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的服务</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}zizhufankui">自助反馈</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}lianxiwomen">联系我们</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}search">全国经销商门店查询</a>
                        </li>
                                        </ul>
            </div>
        </div>
    </div>
    <div class="nymain">
       <div class="myfw">
           <div class="container">
                <ul class="myfw-list clearfix">

                        <li><a href="{$site[site_url]}lianxiwomen">
                        <div class="li-img">
                            <img src="{$site[site_url]}common/static/image/f1.jpg" alt="">
                        </div>
                        <div class="li-con">
                            <div class="li-icon">
                                <img src="{$site[site_url]}common/static/image/w1.png" alt="">
                            </div>
                            <p>联系我们</p>
                        </div></a>
                    </li>
                    <li><a href="{$site[site_url]}search">
                         <div class="li-con">
                            <div class="li-icon">
                                <img src="{$site[site_url]}common/static/image/w2.png" alt="">
                            </div>
                             <p>全国经销商门店查询</p>
                        </div>
                        <div class="li-img">
                            <img src="{$site[site_url]}common/static/image/f2.jpg" alt="">
                        </div></a>
                    </li>
                    <li><a href="{$site[site_url]}zizhufankui">
                        <div class="li-img">
                            <img src="{$site[site_url]}common/static/image/f3.jpg" alt="">
                        </div>
                        <div class="li-con">
                            <div class="li-icon">
                                <img src="{$site[site_url]}common/static/image/w3.png" alt="">
                            </div>
                            <p>自助反馈</p>
                        </div></a>
                    </li>
                </ul>
           </div>
       </div>
    </div>



   {m:include "index","footer"}



    <script type="text/javascript">



    </script>





