	<!--侧栏客服-->
    <div class="gj-service hidd-xs hidd-sm">
        <ul>
            <li class="color"><i class="fa fa-tachometer" aria-hidden="true"></i>
                <div class="gj-col">
                    <span class="c-yh" onclick="change_style(0, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 雅黑（默认）</span>
                    <span class="c-ml" onclick="change_style(1, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 墨绿</span>
                    <span class="c-sl" onclick="change_style(2, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 深蓝</span>
                    <span class="c-hs" onclick="change_style(3, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 红色</span>
                    <span class="c-cs" onclick="change_style(4, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 橙色</span>
                </div>
            </li>
            <li title="QQ咨询"><a href="javascript:(0)" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
            <li class="message" title="在线留言"><a href="javascript:(0)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
            <li class="wx"><i class="fa fa-weixin" aria-hidden="true"></i><img src="{$site[weixin01]}" alt=""></li>
            <li class="top"><span>返回顶部</span></li>
        </ul>
    </div>
	<!--联系我们-->
    <div class="gj-contact">
        <div class="cont">
            <div class="row">
                <div class="gj-body contact">
                    <div class="hidd-xs gj-sm-6 hidd-md gj-lg-4">
                        <div class="lis1">
                            <img src="{$site[logo2]}" alt="">
                            <p>{$site[introduction]}</p>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin={$site[qq]}&site=qq&menu=yes" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a>
                            <a href="{$site[sina]}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                            <a href="tel:{$site[tel]}" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="hidd-xs hidd-sm gj-md-6 gj-lg-4">
                        <div class="lis2">
                            <h4 class="bt">友情链接</h4>
                            <ul>
								{m:link field="url,logo,name" limit="12"}
								{loop $data $v}	
                                <li><a href="{$v[url]}" target="_blank">{$v[name]}</a></li>
								{/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="gj-sm-6 gj-md-6 gj-lg-4">
                        <div class="lis3">
                            <h4 class="bt">关注我们</h4>
                            <ul>
                                <li><img src="{$site[weixin02]}" alt="">
                                    <p>微信订阅号</p>
                                </li>
                                <li><img src="{$site[weixin03]}" alt="">
                                    <p>微信服务号</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--弹窗-在线留言-->
    <div class="gj-message">
        <div class="form">
            <div class="form-bt">
                <h4>在线留言</h4>
                <span class="close"><i class="fa fa-times" aria-hidden="true" title="关闭"></i></span>
            </div>
            <div class="form-content">
                <form class="gclear" action="{$site[site_url]}/diyform/index/post.html" enctype="multipart/form-data" method="post" onsubmit="return checkall()">
					<input type="hidden" name="modelid" value="4">
					<table>
                    	<div class="bd"><input type="text" name="name" id="name" value="" placeholder="称呼"></div>
                    	<div class="bd"><input type="text" name="company" id="company" value="" placeholder="公司"></div>
                    	<div class="bd"><input type="text" name="mobile" id="mobile" value="" placeholder="手机"></div>
                    	<div class="bd"><input type="text" name="wechat" id="wechat" value="" placeholder="微信"></div>
                    	<div class="bd"><textarea name="message" id="message" class="form-text" placeholder="留言"></textarea></div>
                    	<button type="submit" name="dosubmit" value="提 交">提交留言</button>
					</table>
                </form>
            </div>
        </div>
    </div>


    <!--底部菜单-->
    <nav class="bottom-menu hidd-md hidd-lg">
        <ul>
            <li><a href="{$site[site_url]}"><i class="fa fa-home" aria-hidden="true"></i>网站首页</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin={$site[qq]}&site=qq&menu=yes" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i>QQ咨询</a></li>
            <li class="message"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>在线留言</li>
            <li class="top"><i class="fa fa-angle-double-up" aria-hidden="true"></i>返回顶部</li>
        </ul>
    </nav>
    <!--底部版权-->
    <footer class="footer">
        <div class="cont">
            <p>{$site[site_copyright]} | 备案：{$site[site_filing]} | Powered by <a href="http://bbs.yzmcms.com/bbs/index/lists/pid/4.html" target="_blank">GJUI前端组件</a>、<a href="http://www.yzmcms.com/" target="_blank">YzmCMS</a> © 2014-2018</p>
        </div>
    </footer>


    <!--GJ-UI组件模块html代码结束-->

    <!--引入guojian.min.js组件脚本-->
    <script src="{STATIC_URL}guojian/js/guojian.min.js" type="text/javascript"></script>

    <!--GJ-UI组件模块js代码开始-->
    <!--GJ-UI响应式导航栏-->
    <script>
        $(document).ready(function() {
            $(".gbar").click(function() {
                $(".gj-menu").slideToggle("slow");
                return false
            })
        });
    </script>
	<!--返回顶部-->
    <script>
        $(function() {
            $(".top").click(function() {
                $("html,body").animate({
                    scrollTop: 0
                }, 500); //页面500毫秒返回顶部
            });
        });
    </script>
	<!--在线弹窗留言-->
    <script>
        $(function() {
            $(".message").click(function() {
                $(".gj-message").show();
            });
            $(".close").click(function() {
                $(".gj-message").hide();
            });
        })
    </script>
	<!--模板颜色更换-->
	<script>
		function change_style(color, url) {
			var arr = ['col-yh', 'col-ml', 'col-sl', 'col-hs', 'col-cs'];
			$("body").removeClass().addClass(arr[color]);
			$.ajax({
				type: 'POST',
				url: url, 
				data: 'style='+color,
			});
		}
	</script>