{m:include "index","header"}
    <!--通栏banner-->
    <div class="cont-tl">
        <div class="row">
            <div class="gj-slide2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
						{m:banner field="title,image,typeid,status" limit="5"}
            			{loop $data $v}
                        <div class="swiper-slide"><img src="{$v[image]}" alt="{$v[title]}" title="{$v[title]}"></div>
                        {/loop}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev btn"><i class="fa fa-3x fa-angle-left" aria-hidden="true"></i></div>
                    <div class="swiper-button-next btn"><i class="fa fa-3x fa-angle-right" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
    </div>
    <!--关于我们-->
    <div class="gj-tl gj-about gj-bg-bs">
        <div class="cont">
            <div class="row">
                <div class="gj-bt">
                    <h2>关于我们</h2>
                    <p>懂你，服务总会多一点</p>
                </div>
                <div class="gj-body">
                    <div class="gj-sm-6">
                        <div class="text" style="background-image: url({STATIC_URL}guojian/images/about.png)">
                            <h3>{$site[gsname]}</h3>
                            <p>{$description}</p>
                            <a href="/about/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 了解更多</a>
                        </div>
                    </div>
                    <div class="gj-sm-6">
                        <div class="about-img">
                            <img src="{$site[about]}" alt="about">
                            <div class="img1 hidd-xs hidd-sm"></div>
                            <div class="img2 hidd-xs hidd-sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--产品中心-->
    <div class="gj-tl gj-product gj-bg-hs">
        <div class="cont">
            <div class="row">
                <div class="gj-bt">
                    <h2>产品中心</h2>
                    <p>我们致力于让产品改善人们的生活</p>
                </div>
                <div class="gj-body product">
					<!--实际调用前台若出错，修改以下元素对应id即可：modelid(模型id)、catid(栏目id)-->
                    {m:lists field="title,thumb,url,price,catid" modelid="2" catid="10" limit="8"}
                    {loop $data $v}
                    <div class="gj-xs-6 gj-sm-4 gj-md-3">
                        <div class="lis">
                            <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                            <a href="{$v[url]}">
                                <h4>{str_cut($v['title'], 30)}</h4>
                            </a>
                            <p>￥{$v[price]}元</p>
                        </div>
                    </div>
                    {/loop}
                </div>
            </div>
        </div>
    </div>
    <!--新闻动态-->
    <div class="gj-tl gj-news gj-bg-bs">
        <div class="cont">
            <div class="row">
                <div class="gj-bt">
                    <h2>新闻动态</h2>
                    <p>分享最新行业资讯，引领未来</p>
                </div>
                <div class="gj-body news">
					<!--实际调用前台若出错，修改以下元素对应id即可：modelid(模型id)、catid(栏目id)-->
                    {m:lists field="title,thumb,url,description,inputtime,click,catid" modelid="1" catid="7" limit="6"}
                    {loop $data $v}
                    <div class="gj-md-6">
                        <div class="lis gclear">
                            <div class="img">
                                <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                            </div>
                            <div class="text">
                                <a href="{$v[url]}">
                                    <h3>{str_cut($v['title'], 72)}</h3>
                                </a>
                                <p class="hidd-xs">{str_cut($v['description'],160)}</p>
                                <span class="hidd-md"><i class="fa fa-eye" aria-hidden="true"></i> {$v[click]}</span>
                                <span class="hidd-md">{date('Y-m-d',$v['inputtime'])}</span>
                            </div>
                        </div>
                    </div>
                    {/loop}
                </div>
                <div class="more">
                    <a href="/news/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 查看更多</a>
                </div>
            </div>
        </div>
    </div>
    <!--案例精选-->
    <div class="gj-tl gj-anli gj-bg-hs">
        <div class="cont">
            <div class="row">
                <div class="gj-bt">
                    <h2>案例精选</h2>
                    <p>互联网大数据首选·专业个性化信息服务</p>
                </div>
                <div class="gj-body anli">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
							<!--实际调用前台若出错，修改以下元素对应id即可：modelid(模型id)、catid(栏目id)-->
                            {m:lists field="title,thumb,url,description,inputtime,click,catid" modelid="1" catid="11" limit="9"}
                    		{loop $data $v}
                            <div class="swiper-slide">
                                <div class="ul-mt2">
                                    <div class="cul">
                                        <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                                        <a href="{$v[url]}">
                                            <h4>{str_cut($v['title'], 72)}</h4>
                                        </a>
                                        <p>{str_cut($v['description'],260)}</p>
                                    </div>
                                </div>
                            </div>
                            {/loop}
                        </div>
                        <div class="botm">
                            <div class="swiper-button-prev btn"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                            <div class="more"><a href="/case/"><i class="fa fa-angle-double-left" aria-hidden="true"></i> 查看更多</a></div>
                            <div class="swiper-button-next btn"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--招商加盟-->
    <div id="Join" class="gj-tl gj-join-in gj-bg-bs">
        <div class="cont">
            <div class="row">
                <div class="gj-bt">
                    <h2>招商加盟</h2>
                    <p>我们诚挚的邀请你加入我们</p>
                </div>
                <div class="gj-body join">
                    <div class="hidd-xs hidd-sm gj-md-6">
                        <div class="form">
                            <form class="gclear" action="{U('diyform/index/post')}" enctype="multipart/form-data" method="post" onsubmit="return checkall()">
								<input type="hidden" name="modelid" value="4">
								<table>
                                	<div class="bd"><input type="text" name="name" id="name" value="" placeholder="称呼"></div>
                                	<div class="bd"><input type="text" name="company" id="company" value="" placeholder="公司"></div>
                                	<div class="bd"><input type="text" name="mobile" id="mobile" value="" placeholder="手机"></div>
                                	<div class="bd"><input type="text" name="wechat" id="wechat" value="" placeholder="微信"></div>
                                	<div class="bd"><textarea name="message" id="message" class="form-text" placeholder="留言"></textarea></div>
                                	<button type="submit" name="dosubmit" value="提 交">提交留言</button>
								</table>
                            </form>
                        </div>
                    </div>
                    <div class="gj-md-6">
                        <div class="text">
                            <div class="tr-top">
                                <h1>Hi,are you ready?</h1>
                                <h2>准备好开始了吗?<br>那就与我们取得联系吧！</h2>
                                <p>我们有一个非常不错的项目，正在面向全国招商加盟，您可以填写左边的表单，让我们了解您的合作需求，这是一个良好的开始，我们将会尽快与您取得联系。当然也欢迎您添加我们的微信或是拨打我们的电话，让我们听到你的声音!</p>
                                <h3>摸索是最大的成本，犹豫是最大的阻碍！</h3>
                            </div>
                            <div class="tr-bottom hidd-sm">
                                <img src="{$site[weixin01]}" alt="">
                                <ul>
                                    <li><b>联系人：</b>{$site[name]}</li>
                                    <li><b>客服电话：</b>{$site[tel]}</li>
                                    <li><b>电子邮箱：</b>{$site[email]}</li>
                                    <li><b>联系地址：</b>{$site[add]}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!--侧栏客服-->
    <div class="gj-service hidd-xs hidd-sm">
        <ul>
            <li class="color"><i class="fa fa-tachometer" aria-hidden="true"></i>
                <div class="gj-col">
                    <span class="c-yh" onclick="change_style(0, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 雅黑（默认）</span>
                    <span class="c-ml" onclick="change_style(1, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 墨绿</span>
                    <span class="c-sl" onclick="change_style(2, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 深蓝</span>
                    <span class="c-hs" onclick="change_style(3, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 红色</span>
                    <span class="c-cs" onclick="change_style(4, '{U('style/init')}')"><i class="fa fa-square" aria-hidden="true"></i> 橙色</span>
                </div>
            </li>
            <li title="QQ咨询"><a href="http://wpa.qq.com/msgrd?v=3&uin={$site[qq]}&site=qq&menu=yes" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a></li>
            <li title="在线申请"><a id="bMb" href="#Join"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
            <li class="wx"><i class="fa fa-weixin" aria-hidden="true"></i><img src="{$site[weixin01]}" alt=""></li>
            <li class="top"><span>返回顶部</span></li>
        </ul>
    </div>
    <!--联系我们-->
    <div class="gj-contact">
        <div class="cont">
            <div class="row">
                <div class="gj-body contact">
                    <div class="hidd-xs gj-sm-6 hidd-md gj-lg-4">
                        <div class="lis1">
                            <img src="{$site[logo2]}" alt="">
                            <p>{$site[introduction]}</p>
                            <a href="http://wpa.qq.com/msgrd?v=3&uin={$site[qq]}&site=qq&menu=yes" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i></a>
                            <a href="{$site[sina]}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                            <a href="tel:{$site[tel]}" target="_blank"><i class="fa fa-phone" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="hidd-sm gj-md-6 gj-lg-4">
                        <div class="lis2">
                            <h4 class="bt">友情链接</h4>
                            <ul>
								{m:link field="url,logo,name" limit="12"}
								{loop $data $v}	
                                <li><a href="{$v[url]}" target="_blank">{$v[name]}</a></li>
								{/loop}
                            </ul>
                        </div>
                    </div>
                    <div class="hidd-xs gj-sm-6 gj-md-6 gj-lg-4">
                        <div class="lis3">
                            <h4 class="bt">关注我们</h4>
                            <ul>
                                <li><img src="{$site[weixin02]}" alt="">
                                    <p>微信订阅号</p>
                                </li>
                                <li><img src="{$site[weixin03]}" alt="">
                                    <p>微信服务号</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--弹窗-在线留言-->
    <div class="gj-message">
        <div class="form">
            <div class="form-bt">
                <h4>在线留言</h4>
                <span class="close"><i class="fa fa-times" aria-hidden="true" title="关闭"></i></span>
            </div>
            <div class="form-content">
                <form class="gclear" action="{$site[site_url]}/diyform/index/post.html" enctype="multipart/form-data" method="post" onsubmit="return checkall()">
					<input type="hidden" name="modelid" value="4">
					<table>
                    	<div class="bd"><input type="text" name="name" id="name" value="" placeholder="称呼"></div>
                    	<div class="bd"><input type="text" name="company" id="company" value="" placeholder="公司"></div>
                    	<div class="bd"><input type="text" name="mobile" id="mobile" value="" placeholder="手机"></div>
                    	<div class="bd"><input type="text" name="wechat" id="wechat" value="" placeholder="微信"></div>
                    	<div class="bd"><textarea name="message" id="message" class="form-text" placeholder="留言"></textarea></div>
                    	<button type="submit" name="dosubmit" value="提 交">提交留言</button>
					</table>
                </form>
            </div>
        </div>
    </div>
    <!--底部菜单-->
    <nav class="bottom-menu hidd-md hidd-lg">
        <ul>
            <li><a href="{$site[sina]}" target="_blank"><i class="fa fa-weibo" aria-hidden="true"></i>官方微博</a></li>
            <li><a href="http://wpa.qq.com/msgrd?v=3&uin={$site[qq]}&site=qq&menu=yes" target="_blank"><i class="fa fa-qq" aria-hidden="true"></i>QQ咨询</a></li>
            <li class="message"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>在线留言</li>
            <li class="top"><i class="fa fa-angle-double-up" aria-hidden="true"></i>返回顶部</li>
        </ul>
    </nav>
    <!--底部版权-->
    <footer class="footer">
        <div class="cont">
            <p>{$site[site_copyright]} | 备案：{$site[site_filing]} | Powered by <a href="http://bbs.yzmcms.com/bbs/index/lists/pid/4.html" target="_blank">GJUI前端组件</a>、<a href="http://www.yzmcms.com/" target="_blank">YzmCMS</a> © 2014-2018</p>
        </div>
    </footer>


    <!--GJ-UI组件模块html代码结束-->

    <!--引入guojian.min.js组件脚本-->
    <script src="{STATIC_URL}guojian/js/guojian.min.js" type="text/javascript"></script>

    <!--GJ-UI组件模块js代码开始-->
    <!--GJ-UI响应式导航栏-->
    <script>
        $(document).ready(function() {
            $(".gbar").click(function() {
                $(".gj-menu").slideToggle("slow");
                return false
            })
        });
    </script>
	<!--返回顶部-->
    <script>
        $(function() {
            $(".top").click(function() {
                $("html,body").animate({
                    scrollTop: 0
                }, 500); //页面500毫秒返回顶部
            });
        });
    </script>
	<!--在线弹窗留言-->
    <script>
        $(function() {
            $(".message").click(function() {
                $(".gj-message").show();
            });
            $(".close").click(function() {
                $(".gj-message").hide();
            });
        })
    </script>
    <!--轮播图js-->
    <script>
        var mySwiper = new Swiper('.gj-slide2 .swiper-container', {
            loop: true,
            autoplay: true,

            autoplay: {
                disableOnInteraction: false,
            },

            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },

            navigation: {
                nextEl: '.gj-slide2 .swiper-button-next',
                prevEl: '.gj-slide2 .swiper-button-prev',
            },
        })
    </script>
    <!--案例js-->
    <script>
        var swiper = new Swiper('.gj-anli .swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 10,
            navigation: {
                nextEl: '.gj-anli .swiper-button-next',
                prevEl: '.gj-anli .swiper-button-prev',
            },
        });
    </script>
	<!--加入我们-->
    <script>
        $(function() {
            $("#bMb").click(function() {
                $('html, body').animate({
                    scrollTop: $($.attr(this, 'href')).offset().top
                }, 500);
                return false;
            });
        });
    </script>
    <!--动态添加页面背景-->
	<script>
		$(function(){
			$("body").css("background-color","rgb(245, 245, 245)")
		})
	</script>
	<!--模板颜色更换-->
	<script>
		function change_style(color, url) {
			var arr = ['col-yh', 'col-ml', 'col-sl', 'col-hs', 'col-cs'];
			$("body").removeClass().addClass(arr[color]);
			$.ajax({
				type: 'POST',
				url: url, 
				data: 'style='+color,
			});
		}
	</script>
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>