{m:include "index","header"}
    <!--Top-IMG-->
    <div class="top-img" style="background-image: url({get_category($catid, 'catimg')})">
        <div class="cont">
            <h2>{get_catname($catid)}</h2>
        </div>
    </div>
    <!--产品中心-->
    <div class="cont">
        <div class="row">
            <div class="product-list">
                <div class="p-nav">
                    <a href="/product/">全部产品</a>
                    {php $r = get_childcat(10);}
					{loop $r $v}
                    <a class="{if isset($catid) && $v['catid']==$catid}gxz {/if}" href="{$v[pclink]}">{$v[catname]}</a>
                    {/loop}
                </div>
                {m:lists field="title,thumb,url,price" modelid="2" limit="12" catid="$catid" page="page"}
                {loop $data $v}
                <div class="gj-xs-6 gj-sm-4 gj-lg-3">
                    <div class="p-list gclear">
                        <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                        <a href="{$v[url]}">
                            <h4>{str_cut($v['title'], 50)}</h4>
                        </a>
                        <p>￥{$v[price]}元</p>
                    </div>
                </div>
				{/loop}
                <nav class="gj-page">
                    {$pages}
                </nav>

            </div>
        </div>
    </div>

    {m:include "index","footer"}
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>