{m:include "index","header"}
 <script type="text/javascript" src="{$site[site_url]}common/static/image/api"></script><script type="text/javascript" src="{$site[site_url]}common/static/image/getscript"></script>
 <script type="text/javascript" src="{$site[site_url]}common/static/image/RichMarker_min.js"></script>
<style>
#map_form select,#map_form input{
    height: 40px !important;
    line-height: 40px !important;
    padding: 0px;
}
	   @media screen and (max-width:1280px) {
	.banner .banner-img {
		margin-top: 2.6rem;
	}
}
#map_form{
    display: flex;
}
/* 手机 */
@media screen and (max-width: 769px) { 
    .map_box{
		flex-wrap: wrap;
	}
	.map_box .map_right,.map_box .map_left{
		width: 90%;
		margin: auto;
	}
	.map_box .map_left{
		position: relative;
		top: -100px
	}
	.map_box .dp_list{
		width: 100%;
	}
	.map_box .map_right{
		position: relative;
		top: -50px
	}
    .banner-menu .banner-lis li.on a {
        color: #eb9030;
        background: none;
    }
	.menu-tit {
		display: none;
	}

	.banner .banner-img {
		width: 100%;
		height: auto;
		margin-top: 2.5rem;	
	}

	.banner {
		height: auto !important;
	}

	.banner .banner-menu { transform: translateY(0); border-bottom: 10px solid #f1f1f1;
		position: static;
		top: 0;
	}

	.nwod .nwod-box {
		padding: 7% 0 8%;
	}

	.banner-menu .banner-lis {
		width: 100%;
		text-align: left;
	}

	.banner-menu .banner-lis {
		margin: 0px;
		padding: 0px;
	}
	.myfw .myfw-list li{
		width: 48%;
	}
	.myfw .myfw-list .li-con p {
	    font-size: 16px;
	}
	.myfw .myfw-list .li-icon {
	    width: 38px;
	    height: 38px;
	}
	#map_form select,#keyword_map,#map_submit{
		height: 30px !important;
	}
	#map_submit{
		font-size: 14px;
	}
	.map_box .map_left{
		position: relative;
		top: -100px !important;
	}
	/*.banner .banner-menu .banner-lis li {*/
	/*	font-size: 12px;*/
	/*}*/
	.banner-menu .banner-lis li {
	    line-height: 40px;
		margin: 0 3% !important;
		font-size: 12px;
	}
	.banner-menu .banner-lis li a {
        margin: 0px;
        padding: 0px;
    }
}
	
@media screen and (max-width: 1024px) {
	.banner-menu .banner-lis li {
	    /*line-height: 40px;*/
		margin: 0 26px 0px 6px;
		/*font-size: 14px;*/
	}

	/*.banner-menu .banner-lis li a {*/
	/*	padding: 0px;*/
	/*}*/
	/*.banner-lis a:hover {*/
	/*	background: none !important;*/
	/*}*/

	/*.banner-menu .banner-lis {*/
	/*	display: block;*/
	/*}*/
	.nwmd-xqtp .nwmd-xqle,.nwmd-xqtp .nwmd-xqlr{
		width: 100%;
	}
	.nwmd-xqtp  .nwmd-xqlr{
		padding-top: 15px;
	}
}
.banner {
    width: 100%;
    /*height: 20rem;*/
    position:relative;
    /* top: 4.1rem; */
}
.banner {
    position:relative;
    /*height: 20rem;*/
}
.banner img {
    width:100%;
    height: 100%;
}
.banner-bg {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.3);
}
.banner-menu {
   position:absolute;
   transform: translateY(-50%);
   left:0;
   top:62%;
   width:100%;
   text-align:center;
   z-index: 888;
   font-size:0;
}
.banner-menu .menu-tit {
    font-size:28px;
    color:#fff;
    line-height:1.4em;
    padding-bottom:3.8%;
    font-weight:normal;
    letter-spacing:1px;
}
.banner-lis {
    display:inline-block;
    padding:0 50px 0 30px;
    -moz-border-radius:30px;
    -webkit-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
    background:rgba(255, 255, 255, 0.9);
    border-radius:30px;
}
.banner-lis li {
    display:inline-block;
    vertical-align:top;
    font-size:16px;
    line-height:62px;
    margin:0 26px;
}
.banner-lis li a {
    padding-left:20px;
    display:block;
    color:#555;
}
.banner-lis li.on a {
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-lis a:hover {
    text-decoration:none;
    background:url("{$site[site_url]}common/static/image/arr.png") no-repeat left center;
}
.banner-img {
    position:relative;
    /*height: 18rem;*/
}


        .map_box{ 
			display: flex;
			justify-content: center;
            /* width:98%; */
            /* height: 15rem; */
            margin:80px auto;            
            position: relative;
            /* left: -10rem; */
            top: 1rem;
            font-size: 12px;
         }
        .map_left{ width:300px; 
        border: 1px solid #ccc;
		/* float:right; */
		}
        .map_right{ 
			width: calc(95% - 280px);
		max-width:800px;
		/* float:right; */
		 margin-left:15px;}
		 

        /*店铺列表样式*/
        .dp_list{ 
            width: 280px;
            padding: 10px;
            overflow-y: auto;
        }
        .dp_list a{display:block;padding-left:28px; padding-bottom:5px;height:69px;border-top:1px solid #d7d7d7;text-align:left;position: relative;overflow:hidden;}
        .dp_list a:hover{background:#f0f0f0;text-decoration: none;}
        .dp_list a.cur{background:#f0f0f0;}
        .dp_list a.cur i{background-position:0 0px;}
        .dp_list a.cur:hover i{ background-position:0 0px;}
        .dp_list h5{padding:0px; margin:0px;line-height: 30px;margin-top:10px;display:block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size:12px;}
        .dp_list p{margin-right:10px; padding:0px; margin:0px;}
        .dp_list i{position: absolute;left:6px;top:20px;background:url({$site[site_url]}common/static/image/store_ico.png) 0 -29px no-repeat;width:16px;height:22px;}

        /*弹出信息框*/
        .BMapLib_bubble_title{ font-weight:bold;}/*标题*/
        .BMapLib_bubble_content{ padding-bottom:8px !important;}/*内容*/
        .map_con_left{float:left; width:40px; padding-top:5px;}
        .map_con_right{ float:left; width:210px;padding-top:5px;}

        .mapsblue{ position:absolute; }
        .mapsblue .le{ background:url({$site[site_url]}common/static/image/blue.gif) no-repeat -8px -2px; height:31px; width:15px; float:left;}
        .mapsblue .ce{ background:url({$site[site_url]}common/static/image/blue.gif) repeat-x -10px -33px; height:31px;float:left; line-height:22px; color:#fff; overflow:hidden;}
        .mapsblue .re{ background:url({$site[site_url]}common/static/image/blue.gif) no-repeat -20px -2px; height:31px; width:15px; float:left;}
        .mapsblue .je{ background:url({$site[site_url]}common/static/image/blue.gif) no-repeat center -81px; height:31px; float:left}

        .mapsaddlist{ margin-left:30px}
        .mapsaddlist a{font-family:"宋体"; margin:0 5px;color:#167ABA;}
        .mapsaddlist em{ font-weight:bold}
        .btn {
            width:100%;
            height:70px;
            background:#cba580;
            border:none;
            font-size:18px;
            text-align: center;
            color:#fff;
            margin-left: auto;
        }
        #shi{
            margin: 0 5px;
        }
        select{
			width: 20%;
            /* width: 5rem; */
            height: 70px;
        }
</style>





<div class="banner">
        <div class="banner-img">
                            <img src="{$site[site_url]}common/static/image/2018072116475788.jpg">            <div class="banner-bg"></div>
        </div>
        <div class="banner-menu">
            <div class="container">
                <h3 class="menu-tit">我们的服务</h3>
                <ul class="banner-lis">
                                            <li>
                            <a href="{$site[site_url]}zizhufankui">自助反馈</a>
                        </li>
                                                <li>
                            <a href="{$site[site_url]}lianxiwomen">联系我们</a>
                        </li>
                                                <li class="on">
                            <a href="{$site[site_url]}search">全国经销商门店查询</a>
                        </li>
                                        </ul>
            </div>
        </div>
    </div>
<div class="map_box">
    <div class="map_left">
        <div class="dp_list"></div>
    </div>
    <div class="map_right">
        <div class="search_map fwxq-list">
            <form id="map_form" method="get">
                <select id="sheng">
                    <option value="">省份</option>
                                            <option value="1">北京市</option>
                                                <option value="2">天津市</option>
                                                <option value="3">河北省</option>
                                                <option value="4">山西省</option>
                                                <option value="5">内蒙古自治区</option>
                                                <option value="6">辽宁省</option>
                                                <option value="7">吉林省</option>
                                                <option value="8">黑龙江省</option>
                                                <option value="9">上海市</option>
                                                <option value="10">江苏省</option>
                                                <option value="11">浙江省</option>
                                                <option value="12">安徽省</option>
                                                <option value="13">福建省</option>
                                                <option value="14">江西省</option>
                                                <option value="15">山东省</option>
                                                <option value="16">河南省</option>
                                                <option value="17">湖北省</option>
                                                <option value="18">湖南省</option>
                                                <option value="19">广东省</option>
                                                <option value="20">广西壮族自治区</option>
                                                <option value="21">海南省</option>
                                                <option value="22">重庆市</option>
                                                <option value="23">四川省</option>
                                                <option value="24">贵州省</option>
                                                <option value="25">云南省</option>
                                                <option value="26">西藏自治区</option>
                                                <option value="27">陕西省</option>
                                                <option value="28">甘肃省</option>
                                                <option value="29">青海省</option>
                                                <option value="30">宁夏回族自治区</option>
                                                <option value="31">新疆维吾尔自治区</option>
                                                <option value="32">台湾省</option>
                                                <option value="33">香港特别行政区</option>
                                                <option value="34">澳门特别行政区</option>
                                        </select>
                <select id="shi">
                    <option id="fist" value="">城市</option>
                </select>
                <input style="height:70px;width: 24%;" id="keyword_map" name="city" placeholder="请输入其它关键字" type="text">
                <input style="width: 24%;" class="btn" id="map_submit" value="搜索" type="button">
            </form>
        </div>
        <div id="allmap" style="width: 100%; height: 500px; margin: 5px auto 0px; border: 1px solid rgb(204, 204, 204); overflow: hidden; position: relative; z-index: 0; background-color: rgb(243, 241, 236); color: rgb(0, 0, 0); text-align: left;"><div style="overflow: visible; position: absolute; z-index: 0; left: 0px; top: 0px; cursor: pointer;"><div class="BMap_mask" style="position: absolute; left: 0px; top: 0px; z-index: 9; overflow: hidden; user-select: none; width: 800px; height: 500px;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 800;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 700;"><span class="BMap_Marker BMap_noprint" unselectable="on" "="" style="position: absolute; padding: 0px; margin: 0px; border: 0px; cursor: pointer; background: url(&quot;https://api.map.baidu.com/images/blank.gif&quot;); width: 18px; height: 18px; left: 278px; top: 186px; z-index: 37000000; user-select: none;" title=""></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 600;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 500;"><div style="position: absolute; z-index: 13490582; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: 243px; top: 249px;"><div id="floor_45" class="mapsblue" style=" width:212px"><div class="le" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"></div><div class="ce" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"><div class="je" style="width: 180px; background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);">冠牛木门深圳福田品牌专卖店1店</div></div><div class="re" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"></div></div></div><div style="position: absolute; z-index: 10051302; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: 4238px; top: -34757px;"><div id="floor_44" class="mapsblue" style=" width:212px"><div class="le"></div><div class="ce"><div class="je" style=" width:180px">冠牛深圳木门福田品牌专卖店2店</div></div><div class="re"></div></div></div><div style="position: absolute; z-index: 13485126; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: 425px; top: 197px;"><div id="floor_43" class="mapsblue" style=" width:212px"><div class="le"></div><div class="ce"><div class="je" style=" width:180px">冠牛木门深圳罗湖品牌专卖店3店</div></div><div class="re"></div></div></div><div style="position: absolute; z-index: 13486042; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: 364px; top: 206px;"><div id="floor_37" class="mapsblue" style=" width:200px"><div class="le"></div><div class="ce"><div class="je" style=" width:168px">冠牛木门深圳八卦领品牌专卖店</div></div><div class="re"></div></div></div><div style="position: absolute; z-index: 13474648; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: 265px; top: 99px;"><div id="floor_36" class="mapsblue" style=" width:188px"><div class="le" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"></div><div class="ce" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"><div class="je" style="width: 156px; background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);">冠牛木门深圳龙华品牌专卖店</div></div><div class="re" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"></div></div></div><div style="position: absolute; z-index: 13482984; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: -4px; top: 177px;"><div id="floor_35" class="mapsblue" style=" width:200px"><div class="le" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"></div><div class="ce" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"><div class="je" style="width: 168px; background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);">冠牛木门深圳市宝安品牌专卖店</div></div><div class="re" style="background-image: url(&quot;{$site[site_url]}common/static/image/blue.gif&quot;);"></div></div></div><div style="position: absolute; z-index: 13453328; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: -88px; top: -100px;"><div id="floor_34" class="mapsblue" style=" width:164px"><div class="le"></div><div class="ce"><div class="je" style=" width:132px">冠牛木门深圳沙井旗舰店</div></div><div class="re"></div></div></div><div style="position: absolute; z-index: 13452548; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: 655px; top: -108px;"><div id="floor_33" class="mapsblue" style=" width:176px"><div class="le"></div><div class="ce"><div class="je" style=" width:144px">冠牛木门深圳市龙岗专卖店</div></div><div class="re"></div></div></div><div style="position: absolute; z-index: 13458670; background: rgb(255, 255, 255); cursor: pointer; user-select: none; left: 818px; top: -50px;"><div id="floor_32" class="mapsblue" style=" width:200px"><div class="le"></div><div class="ce"><div class="je" style=" width:168px">冠牛木门深圳市坪山品牌专卖店</div></div><div class="re"></div></div></div><label class="BMapLabel" unselectable="on" style="position: absolute; cursor: inherit; background-color: rgb(255, 255, 225); border: 1px solid rgb(140, 140, 140); padding: 1px; white-space: nowrap; font: 12px arial, sans-serif; z-index: 13484114; user-select: none; color: rgb(77, 77, 77); left: 399px; top: 192px;">点击可查看详情</label></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 400;"><span class="BMap_Marker" unselectable="on" style="position: absolute; padding: 0px; margin: 0px; border: 0px; width: 0px; height: 0px; left: 278px; top: 186px; z-index: 37000000;"><div style="position: absolute; margin: 0px; padding: 0px; width: 18px; height: 18px; overflow: hidden;"><img src="https://api.map.baidu.com/images/spotmkrs.png" style="display: block; border:none;margin-left:-166px; margin-top:0px; "></div></span></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 300;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 201;"></div><div style="position: absolute; height: 0px; width: 0px; left: 0px; top: 0px; z-index: 200;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 1;"><div style="position: absolute; overflow: visible; z-index: -100; left: 400px; top: 250px; display: block; transform: translate3d(0px, 0px, 0px);"><img src="{$site[site_url]}common/static/image/saved_resource" style="position: absolute; border: none; width: 256px; height: 256px; left: -2px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(1)" style="position: absolute; border: none; width: 256px; height: 256px; left: -258px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(2)" style="position: absolute; border: none; width: 256px; height: 256px; left: 254px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(3)" style="position: absolute; border: none; width: 256px; height: 256px; left: -2px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(4)" style="position: absolute; border: none; width: 256px; height: 256px; left: -2px; top: -432px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(5)" style="position: absolute; border: none; width: 256px; height: 256px; left: -514px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(6)" style="position: absolute; border: none; width: 256px; height: 256px; left: 510px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(7)" style="position: absolute; border: none; width: 256px; height: 256px; left: -258px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(8)" style="position: absolute; border: none; width: 256px; height: 256px; left: -258px; top: -432px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(9)" style="position: absolute; border: none; width: 256px; height: 256px; left: 254px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(10)" style="position: absolute; border: none; width: 256px; height: 256px; left: 254px; top: -432px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(11)" style="position: absolute; border: none; width: 256px; height: 256px; left: -770px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(12)" style="position: absolute; border: none; width: 256px; height: 256px; left: 766px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(13)" style="position: absolute; border: none; width: 256px; height: 256px; left: -514px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(14)" style="position: absolute; border: none; width: 256px; height: 256px; left: -514px; top: -432px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(15)" style="position: absolute; border: none; width: 256px; height: 256px; left: 510px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(16)" style="position: absolute; border: none; width: 256px; height: 256px; left: 510px; top: -432px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(17)" style="position: absolute; border: none; width: 256px; height: 256px; left: -1026px; top: -176px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(18)" style="position: absolute; border: none; width: 256px; height: 256px; left: -770px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(19)" style="position: absolute; border: none; width: 256px; height: 256px; left: -770px; top: -432px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(20)" style="position: absolute; border: none; width: 256px; height: 256px; left: 766px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(21)" style="position: absolute; border: none; width: 256px; height: 256px; left: 766px; top: -432px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(22)" style="position: absolute; border: none; width: 256px; height: 256px; left: -1026px; top: 80px; max-width: none; opacity: 1;"><img src="{$site[site_url]}common/static/image/saved_resource(23)" style="position: absolute; border: none; width: 256px; height: 256px; left: -1026px; top: -432px; max-width: none; opacity: 1;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 2; display: none;"><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 0; display: none;"></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 10; display: none;"></div></div><div style="position: absolute; overflow: visible; top: 0px; left: 0px; z-index: 3;"></div></div><div class="pano_close" title="退出全景" style="z-index: 1201; display: none;"></div><a class="pano_pc_indoor_exit" title="退出室内景" style="z-index: 1201; display: none;"><span style="float:right;margin-right:12px;">出口</span></a><div id="zoomer" style="position:absolute;z-index:0;top:0px;left:0px;overflow:hidden;visibility:hidden;cursor:url(https://api.map.baidu.com/images/openhand.cur) 8 8,default"><div class="BMap_zoomer" style="top:0;left:0;"></div><div class="BMap_zoomer" style="top:0;right:0;"></div><div class="BMap_zoomer" style="bottom:0;left:0;"></div><div class="BMap_zoomer" style="bottom:0;right:0;"></div></div><div unselectable="on" class=" BMap_stdMpCtrl BMap_stdMpType0 BMap_noprint anchorTL" style="width: 62px; height: 186px; inset: 10px auto auto 10px; position: absolute; z-index: 1100; text-size-adjust: none;"><div class="BMap_stdMpPan"><div class="BMap_button BMap_panN" title="向上平移"></div><div class="BMap_button BMap_panW" title="向左平移"></div><div class="BMap_button BMap_panE" title="向右平移"></div><div class="BMap_button BMap_panS" title="向下平移"></div><div class="BMap_stdMpPanBg BMap_smcbg"></div></div><div class="BMap_stdMpZoom" style="height: 141px; width: 62px;"><div class="BMap_button BMap_stdMpZoomIn" title="放大一级"><div class="BMap_smcbg"></div></div><div class="BMap_button BMap_stdMpZoomOut" title="缩小一级" style="top: 120px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSlider" style="height: 102px;"><div class="BMap_stdMpSliderBgTop" style="height: 102px;"><div class="BMap_smcbg"></div></div><div class="BMap_stdMpSliderBgBot" style="top: 43px; height: 63px;"></div><div class="BMap_stdMpSliderMask" title="放置到此级别"></div><div class="BMap_stdMpSliderBar" title="拖动缩放" style="cursor: url(&quot;https://api.map.baidu.com/images/openhand.cur&quot;) 8 8, default; top: 43px;"><div class="BMap_smcbg"></div></div></div><div class="BMap_zlHolder"><div class="BMap_zlSt"><div class="BMap_smcbg"></div></div><div class="BMap_zlCity"><div class="BMap_smcbg"></div></div><div class="BMap_zlProv"><div class="BMap_smcbg"></div></div><div class="BMap_zlCountry"><div class="BMap_smcbg"></div></div></div></div><div class="BMap_stdMpGeolocation" style="position: initial; display: none; margin-top: 43px; margin-left: 10px;"><div class="BMap_geolocationContainer" style="position: initial; width: 24px; height: 24px; overflow: hidden; margin: 0px; box-sizing: border-box;"><div class="BMap_geolocationIconBackground" style="width: 24px; height: 24px; background-image: url(https://api.map.baidu.com/images/navigation-control/geolocation-control/pc/bg-20x20.png); background-size: 20px 20px; background-position: 3px 3px; background-repeat: no-repeat;"><div class="BMap_geolocationIcon" style="position: initial; width: 24px; height: 24px; cursor: pointer; background-image: url(&#39;https://api.map.baidu.com/images/navigation-control/geolocation-control/pc/success-10x10.png&#39;); background-size: 10px 10px; background-repeat: no-repeat; background-position: center;"></div></div></div></div></div><div class=" anchorBL" style="height: 32px; position: absolute; z-index: 30; text-size-adjust: none; inset: auto auto 20px 1px;"><a title="到百度地图查看此区域" target="_blank" href="https://map.baidu.com/?sr=1" style="outline: none;"><img style="border:none;width:77px;height:32px" src="{$site[site_url]}common/static/image/copyright_logo.png"></a></div><div class=" BMap_noprint" style="top: 50%; left: 50%; display: none; padding: 24px; overflow: visible; position: absolute; width: 50%; max-width: 360px; transform: translate(-50%, -100%); z-index: 9999; background: rgb(255, 255, 255); text-size-adjust: none;"><div style="position: relative; width: 100%; height: 100%; color: rgb(0, 0, 0); font-size: 14px;"></div><span style="margin-top: 12px; margin-bottom: -12px; margin-left: calc(100% - 48px); width: 56px; height: 32px; font-size: 14px; text-align: center; line-height: 32px; display: block; cursor: pointer; background: rgb(56, 148, 255); border: 1px solid rgba(63, 81, 181, 0.23); color: rgb(255, 255, 255); border-radius: 3px;">确定</span></div></div>
    </div>
    
</div>


   {m:include "index","footer"}



    <script type="text/javascript">
$(function(){
        //选择省份
        $("#sheng").change(function(){
            sheng=$(this).val();
            if (sheng!=''){
                listcity('',$('#sheng option:selected').val(),'');
            }else{
                listcity(cy,'','');
            }
            $.ajax({
                url:'../api/index/getshi',
                type:'POST',
                dataType:'json',
                data:{'sheng':sheng},
                success:function(data){
                    $("#shi").find("#fist").nextAll().remove();
                    for(var i in data){
                        $("#shi").append(data[i]);
                    }
                }
            });
        });
        //选择城市
        $('#shi').change(function(){
            if ($('#shi').val()!=''){
                listcity('','',$('#shi option:selected').val());//text()
            }else{
                listcity('',$('#sheng option:selected').val(),'');
            }
        })
        //输入城市
        $("#map_submit").click(function(){
            if ($('#keyword_map').val()!=''){
                listcity($('#keyword_map').val(),'','');
            }else{
                listcity(cy,'','');
            }
        });
    });

    var mp = new BMap.Map("allmap");//地图对象
    var cy = '';//根据访问者ip定位当前城市名称
    //通过ajax请求返回图标json数组，循环放进地图
    function listcity(keyword,sheng,shi){
        if (keyword!=''){
            mp.centerAndZoom(keyword,12);
        }
        if (sheng!=''){
            mp.centerAndZoom(sheng,8);
        }
        if (shi!=''){
            mp.centerAndZoom(shi,12);
        }
        mp.addControl(new BMap.NavigationControl());
        mp.enableScrollWheelZoom();
        mp.enableInertialDragging();
        mp.enableContinuousZoom();
        mp.enableAutoResize();
        mp.clearOverlays();
        $.ajax({
            type:'get',
            url:'../api/index/getmarket',
            data:'keyword='+keyword+'&sheng='+sheng+'&shi='+shi+'&t='+Math.random(),
            dataType:'json',
            cache:false,
            success:function(data){
                markerArr=data;
                $('.dp_list').html('');
                for(var i=0;i<markerArr.length;i++){
                    var json = markerArr[i];
                    var p0 = json.coordinate.split(",")[0];
                    var p1 = json.coordinate.split(",")[1];
                    var pt = new BMap.Point(p0,p1);
                    var n = json.store_name.length * 12;
                    var o = n + 32;
                    var p = "floor_" + json.id;
                    var q = '<div  id="'+ p + '" class="mapsblue" style=" width:' + o + 'px" ><div class="le"></div><div class="ce"><div class="je" style=" width:' + n + 'px" >' + json.store_name + '</div></div><div class="re"></div></div>';
                    myRichMarker2 = new BMapLib.RichMarker(q, new BMap.Point(p0, p1), {
                        anchor: new BMap.Size(( - o) / 2, -4),
                        enableDragging: false
                    });
                    mp.addOverlay(myRichMarker2);
                    addClickHandlor(myRichMarker2,p);
                    addClickHandler(myRichMarker2,markerArr[i]);
                    var openli = $('<li ><a href="javascript:void(0);"><i></i><h5 class="dp_title">'+json.store_name+'</h5><p class="dp_title">'+json.address+'</p></a></li>');
                    $('.dp_list').append(openli);
                    addClickHandlerdp(openli,markerArr[i]);//点击店铺列表上店铺名称
                }
                $('.dp_list').find('a:first').css('border-top','none');//设置店铺列表第1个上横线
            }
        });
    }

    //鼠标放上图标变颜色
    function addClickHandlor(marker,pp){
        marker.addEventListener("onmouseover",
            function(e) {
                $("#" + pp + "  div").css("background-image", "url({$site[site_url]}common/static/image/blue2.gif)")
            });
        marker.addEventListener("onmouseout",
            function(e) {
                $("#" + pp + "  div").css("background-image", "url({$site[site_url]}common/static/image/blue.gif)")
            });
    }

    //点击地图上图的图标绑定事件
    function addClickHandler(marker,sj){
        marker.addEventListener("click",function(e){
            openInfo(sj);
        });
    }


    //点击店铺列表上店铺名称绑定事件
    function addClickHandlerdp(marker,sj){
        marker.bind("click",function(e){
            $(this).parent().find('a').removeClass('cur');//取消选中
            $(this).find('a').addClass('cur');//添加选中
            /*
             此代码用来点击店铺时放大地图
             var p0 = sj.zuobiao.split(",")[0];
             var p1 = sj.zuobiao.split(",")[1];
             var point = new BMap.Point(p0,p1);
             mp.centerAndZoom(point,15);
             */
            openInfo(sj);
        });
    }

    function openInfo(e){
        var p0 = e.coordinate.split(",")[0];
        var p1 = e.coordinate.split(",")[1];
        var point = new BMap.Point(p0,p1);
        var sContent = '<div style="color:#333; font-size:12px;"><div style="line-height:26px;height:26px; overflow:hidden; border-bottom:1px solid #ccc; padding-bottom:5px;"><a target="_blank" href="pro_index.php?id=' + e.id + '"  style=""><b>' + e.store_name + '</b></a></div><div style=" width:358px; overflow:hidden; padding:5px 0 0 0; height:120px"><div style="float:left;"><div style="line-height:2; width:220px" >地址∶' + e.address + '</div><div style="line-height:2" ><a  target="_blank" href="pro_index.php?id=' + e.id + '" >查看详细>></a></div></div><div style="float:right;margin-top:10px;"></div> </div><div style="padding:10px 0px 0;border-top:1px solid #ccc; margin-top:5px;"><div style="padding-top:5px;">电话</div><div style=" color:#006600; font-size:24px; font-weight:bold; padding-top:8px;">' + e.phone + "</div></div></div>";
        var infoWindow = new BMap.InfoWindow(sContent);
        mp.openInfoWindow(infoWindow,point);
    }


    //根据访问者ip定位当前城市
    myCity = new BMap.LocalCity();
    myCity.get(function(res){
        cy=res.name;
        listcity(cy,'','');
    });

    </script>





