{m:include "index","header"}
    <!--Top-IMG-->
    <div class="top-img" style="background-image: url({get_category($catid, 'catimg')})">
        <div class="cont">
            <h2>{get_catname($catid)}</h2>
        </div>
    </div>
    <!--菜单栏目-->
    <div class="nav-btn">
        <div class="cont">
            <i class="fa fa-home" aria-hidden="true"></i>
            {get_location($catid)}
        </div>
    </div>
    <div class="cont">
        <div class="row">
            <div class="gj-md-9">
                <!--新闻列表-->
                <div class="news-lists">
					{m:lists field="title,thumb,url,description,inputtime,click,catid" modelid="1" catid="$catid" limit="6" page="page"}
                    {loop $data $v}
                    <div class="news-list gclear">
                        <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                        <div class="text">
                            <a href="{$v[url]}">
                                <h3>{str_cut($v['title'], 72)}</h3>
                            </a>
                            <p class="hidd-xs">{str_cut($v['description'],450)}</p>
                            <span>{date('Y-m-d',$v['inputtime'])}</span><span><i class="fa fa-eye" aria-hidden="true"></i> {$v[click]}</span>
                        </div>
                    </div>
					{/loop}
                    <nav class="gj-page">
                        {$pages}
                    </nav>
                </div>
            </div>
            <div class="hidd-sm gj-md-3">
                <!--侧边栏-->
                <div class="sidebar">
                    <div class="side-nav">
                        <ul>
                            <li>所有新闻</li>
                            {php $r = get_childcat(7);}
	                    	{loop $r $v}
                            <li><a href="{$v[pclink]}">{$v[catname]}</a></li>
							{/loop}
                        </ul>
                    </div>
                    <div class="side-list">
                        <h4>推荐精选</h4>
                        <ul>
                            {m:lists field="title,url,catid" modelid="1" catid="7" limit="6" flag="4"}
							{loop $data $v}
                            <li><a href="{$v[url]}">{str_cut($v['title'], 50)}</a></li>
                            {/loop}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {m:include "index","footer"}
	<!--动态添加页面背景-->
	<script>
		$(function(){
			$("body").css("background-color","rgb(245, 245, 245)")
		})
	</script>
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>