{m:include "index","header"}
    <!--Top-IMG-->
    <div class="top-img" style="background-image: url({get_category($catid, 'catimg')})">
        <div class="cont">
            <h2>{get_catname($catid)}</h2>
        </div>
    </div>
    <!--菜单栏目-->
    <div class="nav-btn">
        <div class="cont">
            <i class="fa fa-home" aria-hidden="true"></i>
            {get_location($catid)}
        </div>
    </div>
    <!--成功案例-->
    <div class="cont">
        <div class="row">
            <div class="gj-md-8">
                <!--案例详情-->
                <div class="case-content">
                    <div class="case-bt">
                        <h3>{$title}</h3>
                        <p><span>{date('Y-m-d H:i:s',$updatetime)}</span><span><i class="fa fa-eye" aria-hidden="true"></i> {$click}</span></p>
                    </div>
                    <div class="content">
                        {$content}
                    </div>
                    <div class="gcont-page">
                        <div class="gj-sm-6">上一篇：{$pre}</div>
                        <div class="gj-sm-6">下一篇：{$next}</div>
                    </div>
                </div>
            </div>
            <div class="gj-md-4">
                <!--侧边栏-->
                <div class="sidebar">
                    <div class="side-list">
                        <h4>推荐案例</h4>
						{m:lists field="title,url,thumb" modelid="1" catid="$catid" limit="4" flag="4"}
						{loop $data $v}
                        <div class="list">
                            <a href="{$v[url]}"><img src="{get_thumb($v['thumb'])}" alt="{$v[title]}"></a>
                            <a href="{$v[url]}">
                                <h5>{str_cut($v['title'], 50)}</h5>
                            </a>
                        </div>
                        {/loop}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {m:include "index","footer"}
	<!--动态添加页面背景-->
	<script>
		$(function(){
			$("body").css("background-color","rgb(245, 245, 245)")
		})
	</script>
    <!--GJ-UI组件模块js代码结束-->

</body>

</html>