<?php include $this->admin_tpl('meta', 'admin');?>
<title>消息管理 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 微信管理 <span class="c-gray en">&gt;</span> 消息管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<div class="page-container">
  <div class="cl tb-top"> <span class="l"><a href="<?php echo U('read');?>" class="btn btn-primary radius"><i class="yzm-iconfont yzm-iconyoujian"></i> 全部标识已读</a>
  <a href="javascript:;" onclick="yzm_dels('ids')" class="btn btn-danger radius"><i class="yzm-iconfont yzm-iconshanchu2"></i> 批量删除</a>
  </span> <span class="r">共有数据：<strong><?php echo $total?></strong> 条</span> </div>
	<form method="post" action="<?php echo U('del');?>" id="myform">
	<table class="table table-border table-bg table-hover">
		<thead>
			<tr class="text-c">
				<th width="25"><input type="checkbox"></th>
				<th width="180">发送者</th>
				<th>消息内容</th>
				<th width="120">发送时间</th>		
				<th width="60">状态</th>		
				<th width="120">管理操作</th>
			</tr>
		</thead>
		<tbody>
			<?php 
			   foreach($data as $val){
			 ?>
			<tr class="text-c">
				<td><input type="checkbox" value="<?php echo $val['id']?>" name="ids[]"></td>
				<td><?php echo $this->get_userinfo($val['openid']);?></td>
				<td><a href="<?php echo U('send_message',array('openid'=>$val['openid']));?>" style="text-decoration:none"><?php echo htmlspecialchars($val['content']);?></a></td>
				<td><?php echo date("Y-m-d H:i:s",$val['inputtime'])?></td>
				<td><?php echo $val['isread'] ? '已读' : '<span class="c-red">未读</span>';?></td>
				<td class="td-manage"><a href="<?php echo U('send_message',array('openid'=>$val['openid']));?>" class="btn-mini btn-primary ml-5" style="text-decoration:none">查看/回复</a></td>
			</tr>			  
			<?php 
			   }		 
			?>	
		</tbody>
	</table>
	<?php if(!$data){ ?><div class="yzm_no_data"><i class="yzm-iconfont yzm-iconshuoming"></i> 暂无数据</div><?php } ?>
	</form>
  <div id="page"><span class="page_left">共<?php echo $total?>条记录，共<?php echo $page->total()?>页，当前显示第<?php echo $page->getpage()?>页</span>
  <span class="page_right"><?php echo $page->getfull();?></span></div>
</div>
<?php include $this->admin_tpl('footer', 'admin');?>
</body>
</html>