<?php include $this->admin_tpl('meta', 'admin');?>
<title>查询群发状态 - YzmCMS内容管理系统</title>
</head>
<body>
<nav class="breadcrumb"><i class="yzm-iconfont yzm-iconai-home"></i> 首页 <span class="c-gray en">&gt;</span> 微信管理 <span class="c-gray en">&gt;</span> 查询群发状态 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="yzm-iconfont yzm-iconshuaxin"></i></a></nav>
<article class="page-container">
<div class="formdoby_normal"> 
	<form method="post" action="<?php echo U(ROUTE_A);?>" onsubmit="return dosub(this)">
		<ul>
			<li>
				<label>任务ID：</label>
				<input type="text" class="input" style="width:300px" name="msg_id" value="">
			</li>
			<li>
				<input class="dosubmit w_100 btn-primary radius" name="dosubmit" type="submit" value="查询">
				<input class="btn w_100 btn-default radius h35" type="button" value="后退" onclick="window.history.go(-1)">
			</li>
		</ul>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer', 'admin');?>

<script type="text/javascript">

	function dosub(obj){
		 if($("input[name='msg_id']").val()==''){
			 layer.msg('msg_id不能为空！');
			 return false;
		 }
		 
	 
		return true;			 
	}
</script> 

</body>
</html>