<?php include $this->admin_tpl('meta', 'admin');?>
<title>修改备注 - YzmCMS内容管理系统</title>
</head>
<style>
.exp{margin:5px 0px 5px 120px;color:#888}
</style>
<body>
<article class="page-container">
<div class="formdoby_normal"> 
	<form method="post" onsubmit="return dosub(this)">
		<ul>	
			<li><label>微信昵称：</label><span class="span_input"><?php echo $data['nickname'] ? $data['nickname'] : '/';?></span></li>
			<li><label>备注名称：</label><span class="span_input"><input type="text" name="remark" class="input" value="<?php echo $data['remark'];?>"></span></li>				
		</ul>
		<div class="footer_btn">
			<input type="hidden" name="dosubmit" value="1">
			<input type="hidden" name="openid" value="<?php echo $data['openid'];?>">
			<input class="btn btn-primary radius" type="submit" value="提 交">
			<input class="btn btn-default radius" type="button" value="取 消" onclick="yzmcms_close()">	
		</div>
	</form>
</div>
</article>
<?php include $this->admin_tpl('footer', 'admin');?>

<script type="text/javascript">
	function dosub(obj){
		 if(obj.remark.value==''){
			 layer.msg('备注名称不能为空！');
			 return false;
		 }
        $.ajax({
            type: 'POST',
            url: '<?php echo U('set_userremark');?>', 
            data: $(obj).serialize(),
		    dataType: "json", 
            success: function (msg) {
				if(msg.status == 1){
					parent.location.reload();       
			    }else{
					layer.alert(msg.message);
				}
            }
        })		 
		return false;			 
	}
</script> 

</body>
</html>